<template>
  <v-container
    ref="chat_content"
    fluid
    fill-height2
    class="whattsapp-bg pa-0 pb-14"
    :style="{ height: pageHeight + 'px', backgroundImage: 'url(' + bg + ')', zIndex: 0 }"
    @click2="_scrollDown2"
  >
    <!-- am div-shi tanmimdevroba qvevidan zemot column-reverse -->
    <!-- :style1="{ height: height * 1 + 'px' }"
          style2="height: calc(100% * 0.9 - 0px)" -->
    <div v-if="$g.store.getters.user" ref="div_content" class="scrollableDiv reversed mx-2" style="height: 100%">
      <UserInputTop ref="uit" class="mb-2" />
      <!-- MessageList-shi shignit piriqit aris tanmimdevroba qvevidan zemot column-reverse -->
      <MessageList class="mb-2" />
    </div>
    <v-row v-else justify="center" align="center" style="height: 100%; font-size: 20px" no-gutters>
      <v-card flat color="transparent">{{ userOrCardNotAvaliableText }}</v-card>
    </v-row>
    <snackbar :caller="$enums.caller.chat" />
    <!-- <UserInputTop ref="uit" class="mb-2" /> -->
    <div ref="ui" class="ui">
      <TypingMessage class="ml-4 mb-1" />
      <UserInput
        v-if="!disabled"
        id="uinput"
        class2="px-2"
        style3="height: 25px"
        :style1="{ height: pageHeight * 0.08 + 'px' }"
        :style2="{ backgroundImage: 'url(' + bg + ')' }"
        :get-uit-medias="getUitMedias"
        :send-files="sendFiles"
        :send-text="sendMessage"
      />
    </div>
  </v-container>
</template>

<script>
import Snackbar from '../Snackbar'
import { chatCore } from '../mixins/chatCore'
import interfaceMixin from '../mixins/interfaceMixin'
// import Indicator2 from '../indicator/Indicator2'
// import Header from './vbChat/Header.vue'
import MessageList from './vbChat/MessageList.vue'
import UserInputTop from './vbChat/UserInputTop.vue'
import UserInput from './vbChat/UserInput.vue'
import TypingMessage from './vbChat/TypingMessage'

export default {
  components: {
    // Indicator2,
    Snackbar,
    // Header,
    MessageList,
    UserInput,
    UserInputTop,
    TypingMessage
  },
  mixins: [chatCore, interfaceMixin],
  // layout: 'chat',
  props: {
    card: {
      type: Object,
      default: () => {}
    },
    disabled: {
      type: Boolean,
      default: false
    },
    headerHeight: {
      type: Number,
      default: 56
    }
    /* interfaceMixin-shia userId, cardId, locale    
    alwaysScrollToBottom: {
      type: Boolean,
      default: true
    }, */
  },
  data() {
    return {
      pageHeight: 0
    }
  },
  computed: {
    userOrCardNotAvaliableText() {
      let text = ''
      if (this.$g.store.getters.user) {
        text = '. userId = ' + this.$g.store.getters.user.id
      }
      return this.$g.t('qchat.snackbar.user_is_null_not_defined') + text
    },
    bg() {
      let bgFilename = 'bg_night.webp'
      if (!this.$vuetify.theme.isDark) {
        bgFilename = 'bg_day.webp'
      }
      let url = './assets/' + bgFilename
      if (process.env.IMAGES_BASE_URL) {
        url = process.env.IMAGES_BASE_URL + '/qchat/' + bgFilename
      }
      this.$g.clog('cw url = ', url)
      return url
    }
  },
  watch: {
    height(newVal, oldVal) {
      if (newVal) {
        this.pageHeight = window.innerHeight - newVal
      }
    }
  },
  created() {
    this.$g.chatEBus.$off(this.$enums.events.idbMediasChatCW)
    this.$g.chatEBus.$on(this.$enums.events.idbMediasChatCW, (allMediasLength) => {
      console.log('cw allIdbMedias updated ')
      if (allMediasLength) {
        this.$nextTick(this._scrollDown)
      }
    })
    // this.$nextTick(this._scrollDown2)
  },
  mounted() {
    // console.log('cw mounted ')
    // this.$g.showSnackbar('cw mounted this.$refs.chat_content = ' + this.$refs.chat_content, 10000, 'red', this.$enums.caller.chat)
    window.onresize = () => {
      if (this.$refs.chat_content) {
        // this.pageHeight = this.$refs.chat_content.clientHeight // + 'px'
        // this.$nextTick(()=>{
        // this.pageHeight = this.$refs.chat_content.clientHeight
        this.pageHeight = window.innerHeight - this.headerHeight
        // this.pageHeight = this.height
        // console.log('cw this.pageHeight onresize = ', this.pageHeight)
        // console.log('cw onresize window.innerHeight = ', window.innerHeight)
        // console.log('cw this.height onresize = ', this.height)
      }
    }

    this.$nextTick(() => {
      if (this.$refs.chat_content) {
        // this.pageHeight = this.$refs.chat_content.clientHeight
        this.pageHeight = window.innerHeight - this.headerHeight
        // this.pageHeight = this.height
        // alert(this.pageHeight)
        this.$g.clog('cw this.pageHeight2 = ', this.pageHeight)
        // document.exitFullscreen().then(()=>{
        this._scrollDown()
        // this._scrollDown2()
        // console.log('cw zoli height = ', this.height)
        // console.log('cw window.innerHeight = ', window.innerHeight)
      }
    })
  },
  updated() {
    // console.log('cw updated ')
    // this.$nextTick(this._scrollDown)
  },
  methods: {
    // amas chatCore-ში messageLis-ის t watcher ამუშავებს
    _scrollDown() {
      const elem = this.$refs.div_content // document.getElementById('div_content')
      // console.log('elem3 = ', elem)
      if (elem) {
        setTimeout(() => {
          if (elem) {
            elem.scrollTop = elem.scrollHeight
            // elem.scrollTop = this.height
          }
        }, 100)
      }
    },
    _scrollDown2() {
      // this.pageHeight = this.$refs.chat_content.clientHeight
      const elem = this.$refs.chat_content // document.getElementById('div_content')
      // console.log('elem = ', elem)
      if (elem) {
        this.$vuetify.goTo(elem, { duration: 100, offset: 200, easing: 'easeInCubic' })
      }
    },
    getUitMedias() {
      const idbMedias = this.$refs.uit.idbMedias
      const idbFiles = this.$refs.uit.idbFiles
      return { idbMedias, idbFiles }
    }
  }
}
</script>
<style scoped>
/* :root {
  --bg: url('./assets/whattsapp_bg.png');
} */
.scrollableDiv {
  overflow-y: auto;
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  /* scrollbar-width: none;  */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.scrollableDiv::-webkit-scrollbar {
  display: none;
}
.reversed {
  display: flex;
  flex-direction: column-reverse;
}
.ui {
  position: absolute;
  bottom: 3px;
  width: 100%;
}
.whattsapp-bg {
  /* background-image: url('/whattsapp_bg.png'); */
  /* background-image: var(--bg); */
  background-size: cover;
  position: relative;
  overflow-x: hidden;
  /* scrollbar-width: thin; */
}
.sc-chat-window2 {
  position: relative;
  width: 100%;
  height: calc(100vh - 100px);
  /* height: calc(100% - 120px); */
  /* max-height: 590px;
  min-height: 590px; */
  /* position: fixed;
  right: 25px;
  bottom: 100px; */
  box-sizing: border-box;
  box-shadow: 0px 7px 40px 2px rgba(148, 149, 150, 0.1);
  /* background: white; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  transition: 0.3s ease-in-out;
  border-radius: 10px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
</style>
