<template>
  <v-container
    v-if="userId"
    ref="chatBox"
    fluid
    class="chatBox pa-1"
    :style="{ backgroundImage: 'url(' + bg + ')' }"
    @click2="_scrollDown2"
  >
    <v-row
      v-if="$g.store.getters.user"
      ref="chatContentRow"
      :class="{ 'hide-scrollbar': $g.gdata.isMobile }"
      class="scrollableRow ma-0"
    >
      <v-col class="reversed">
        <!-- MessageList-შიც შიგნით პირიქით არის თანმიმდევრობა ქვემოდან ზემოთ column-reverse -->
        <UserInputTop ref="uit" class="mb-2" />
        <MessageList class="mb-2" />
      </v-col>
    </v-row>
    <v-row v-else justify="center" align="center" style="height: 100%; font-size: 20px" no-gutters>
      <v-card flat color="transparent">{{ userOrCardNotAvaliableText }}</v-card>
    </v-row>
    <snackbar :caller="$enums.caller.chat" />
    <!-- <UserInputTop ref="uit" class="mb-2" /> -->
    <div ref="ui" class="ui">
      <TypingMessage class="ml-4 mb-1" />
      <UserInput v-if="!disabled" :get-uit-medias="getUitMedias" :send-files="sendFiles" :send-text="sendMessage" />
    </div>
  </v-container>
</template>

<script>
import Snackbar from '../Snackbar'
import { chatCore } from '../mixins/chatCore'
import interfaceMixin from '../mixins/interfaceMixin'
import MessageList from './vbChat/MessageList.vue'
import UserInputTop from './vbChat/UserInputTop.vue'
import UserInput from './vbChat/UserInput.vue'
import TypingMessage from './vbChat/TypingMessage'

export default {
  components: {
    Snackbar,
    MessageList,
    UserInput,
    UserInputTop,
    TypingMessage
  },
  mixins: [chatCore, interfaceMixin],
  props: {
    card: {
      type: Object,
      default: () => {}
    },
    disabled: {
      type: Boolean,
      default: false
    },
    // აღარ ვხმარობთ
    headerHeight: {
      type: Number,
      default: 56
    }
    // interfaceMixin-shia userId, cardId, locale
  },
  data() {
    return {}
  },
  computed: {
    userOrCardNotAvaliableText() {
      let text = ''
      if (this.$g.store.getters.user) {
        text = '. userId = ' + this.$g.store.getters.user.id
      }
      return this.$g.t('qchat.snackbar.user_is_null_not_defined') + text
    },
    bg() {
      const bgFilename = this.$vuetify.theme.isDark ? 'bg_night.webp' : 'bg_day.webp'
      let url = './assets/' + bgFilename
      if (process.env.IMAGES_BASE_URL) {
        url = process.env.IMAGES_BASE_URL + '/qchat/' + bgFilename
      }
      this.$g.clog('cw url = ', url)
      return url
    }
  },
  created() {
    this.$g.chatEBus.$off(this.$enums.events.idbMediasChatCW)
    this.$g.chatEBus.$on(this.$enums.events.idbMediasChatCW, (allMediasLength) => {
      // console.log('cw allIdbMedias updated ')
      if (allMediasLength) {
        this.$nextTick(this._scrollDown)
      }
    })
    // this.$nextTick(this._scrollDown2)
  },
  mounted() {
    // console.log('cw mounted ')
    if (this.$refs.chatContentRow) {
      // console.log('cw mounted ')
      this._scrollDown()
    }
  },
  updated() {
    // console.log('cw updated ')
    // this.$nextTick(this._scrollDown)
  },
  methods: {
    // amas chatCore-ში messageList-ის t watcher ამუშავებს
    _scrollDown() {
      const elem = this.$refs.chatContentRow // document.getElementById('div_content')
      // console.log('elem3 = ', elem)
      if (elem) {
        setTimeout(() => {
          if (elem) {
            elem.scrollTop = elem.scrollHeight
            // console.log('elem.scrollTop = ', elem.scrollTop)
            // console.log('elem.scrollHeight = ', elem.scrollHeight)
          }
        }, 300)
      }
    },
    _scrollDown2() {
      // this.pageHeight = this.$refs.chatBox.clientHeight
      const elem = this.$refs.chatContentRow // document.getElementById('div_content')
      // console.log('elem4 = ', elem)
      if (elem) {
        this.$vuetify.goTo(elem, { duration: 100, offset: 200, easing: 'easeInCubic' })
      }
    },
    getUitMedias() {
      const idbMedias = this.$refs.uit.idbMedias
      const idbFiles = this.$refs.uit.idbFiles
      return { idbMedias, idbFiles }
    }
  }
}
</script>
<style scoped>
.chatBox {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-size: cover;
  /* position: relative; */
  overflow-x: hidden;
  overflow-y: hidden;
}
.chatBox2 .row#qchatChatContent {
  /* flex: [flex-grow] [flex-shrink] [flex-basis] */
  flex: 1 1 auto;
}
.chatBox2 .div#ui {
  flex: 0 1 40px;
}
.scrollableRow {
  overflow-y: auto;
  scroll-behavior: smooth;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.reversed {
  display: flex;
  flex-direction: column-reverse;
}
</style>
