<template>
  <v-card max-width="450" class="mx-auto">
    <v-toolbar color="cyan" dark>
      <v-app-bar-nav-icon />
      <v-toolbar-title>Actual deals</v-toolbar-title>
      <v-spacer />
      <v-btn icon>
        <v-icon>mdi-magnify</v-icon>
      </v-btn>
    </v-toolbar>
    <v-list two-line>
      <!-- <v-subheader v-text="'actual deals'"></v-subheader> -->
      <template v-for="card in cards">
        <!-- <v-divider v-else-if="card.divider" :key="index" :inset="card.inset"></v-divider> -->
        <v-list-item :key="card.id" @click="$g.goToChat(card)">
          <v-btn class="mx-2" fab small>
            <v-icon>{{ dealType(card) }}</v-icon>
          </v-btn>
          <!-- <v-list-item-avatar>
            <v-img :src="dealType(card)"></v-img>
          </v-list-item-avatar>-->
          <v-list-item-content>
            <v-list-item-title v-text="orderHeaderText(card)"></v-list-item-title>
            <!-- <v-list-item-subtitle v-text="orderText(card)"></v-list-item-subtitle> -->
          </v-list-item-content>
        </v-list-item>
      </template>
    </v-list>
  </v-card>
</template>

<script>
// import { indexedDBMixin } from '../mixins/indexedDBMixin'

export default {
  props: {
    cards2: {
      type: Array,
      default: () => []
    },
    participantId: {
      type: String,
      default: ''
    }
  },
  // mixins: [indexedDBMixin],
  data: () => ({
    cards: []
  }),
  watch: {
    '$g.store.getters.testUser'(testUser, oldVal) {
      // const user = this.$g.store.getters.user
      const _cards = this.$g.store.getters.testCards
      const cards = []
      for (const testCard of _cards) {
        if (testUser.recId === testCard.tester.recId || testUser.recId === testCard.orderer.recId) {
          cards.push(testCard)
        }
      }
      this.$g.clog('r cards = ', cards)
      this.cards = cards
    }
  },
  mounted() {
    this.adjustCards(this.$g.store.getters.testCards)
  },
  methods: {
    adjustCards(_cards) {
      this.$g.clog('r _cards = ', _cards)
      const testUser = this.$g.store.getters.testUser
      this.$g.clog('r testUser = ', testUser)
      const cards = []
      for (const testCard of _cards) {
        if (testUser.recId === testCard.tester.recId || testUser.recId === testCard.orderer.recId) {
          cards.push(testCard)
        }
      }
      this.$g.clog('r cards = ', cards)
      this.cards = cards
    },
    orderHeaderText(card) {
      const testUser = this.$g.store.getters.testUser
      let text
      let roleText
      if (testUser.recId === card.tester.recId) {
        text = card.orderer.nickName
        roleText = 'orderer'
      } else if (testUser.recId === card.orderer.recId) {
        text = card.tester.nickName
        roleText = 'tester'
      }
      return text + ', role: ' + roleText
    },
    /* orderText(card) {
      const d = new Date(card.timestamp)
      const date =
        ('0' + d.getDate()).slice(-2) +
        '-' +
        ('0' + (d.getMonth() + 1)).slice(-2) +
        '-' +
        d.getFullYear() +
        ' ' +
        ('0' + d.getHours()).slice(-2) +
        ':' +
        ('0' + d.getMinutes()).slice(-2)

      return 'placed at: ' + date + ', type: ' + card.emergency
    }, */
    dealType(testCard) {
      this.$g.clog('r testCard', JSON.stringify(testCard))
      const testUser = this.$g.store.getters.testUser
      let icon
      if (testCard.orderer.recId === testUser.recId) {
        this.$g.clog('r testUser = ', testUser)
        this.$g.clog('r testCard = ', testCard)
        icon = 'mdi-watch-export'
      } else {
        icon = 'mdi-watch-import'
      }
      return icon
    }
  }
}
</script>

<style></style>
