<template>
  <v-snackbar
    v-model="snackbar"
    :color="snackbarColor"
    :timeout="snackbarTimeout"
    :vertical="snackbarVertical"
    style="overflow-wrap: break-word"
    multi-line
  >
    {{ snackbarText }}
    <v-icon :title="closeText" class="close-icon" @click="handlePrimary">mdi-close</v-icon>
    <v-layout v-if="options.primary" column class2="buttons">
      <v-btn v-if="options.primary" class="mx-2 mb-1" block color="primary" @click="handlePrimary">{{
        options.primary
      }}</v-btn>
      <v-btn v-if="options.secondary" class="mx-2" block color="secondary" @click="handleSecondary">{{
        options.secondary
      }}</v-btn>
    </v-layout>
  </v-snackbar>
</template>

<script>
export default {
  props: {
    closeText: {
      type: String,
      default: 'close'
    }
  },
  data() {
    return {
      options: {},
      snackbar: false,
      snackbarText: '',
      snackbarTimeout: 0,
      snackbarPrimaryCallback: null,
      snackbarSecondaryCallback: null,
      snackbarVertical: true,
      snackbarColor: 'success'
    }
  },
  methods: {
    /* mag.
      let options = {primary: 'weiter', secondary: 'cancel'} 
      this.gData.showSnackbar({
        text: this.gData.texts.header_texts.chat_close_warning,
        color:'error',
        options,
        snackbarPrimaryCallback: this.onClose        
      })
  */
    showSnackbar(payload) {
      console.log('payload ', JSON.stringify(payload))
      console.log('Chat showSnackbar text ', payload.text)
      this.snackbarText = payload.text
      this.snackbarVertical = payload.vertical
      this.snackbarColor = payload.color ? payload.color : 'success'
      this.snackbar = true
      this.snackbarTimeout = payload.timeout ? payload.timeout : 0
      this.snackbarPrimaryCallback = payload.snackbarPrimaryCallback ? payload.snackbarPrimaryCallback : null
      this.snackbarSecondaryCallback = payload.snackbarSecondaryCallback ? payload.snackbarSecondaryCallback : null
      this.options = payload.options ? payload.options : {} // close sul aris

      console.log('this.snackbarTimeout ', this.snackbarTimeout)
    },
    handlePrimary() {
      console.log('handleSnackbarClose ')
      this.snackbar = false
      if (this.snackbarPrimaryCallback) {
        this.snackbarPrimaryCallback()
      }
    },
    handleSecondary() {
      console.log('handleCancel ')
      this.snackbar = false
      if (this.snackbarSecondaryCallback) {
        this.snackbarSecondaryCallback()
      }
    }
  }
}
</script>
<style scoped>
.buttons {
  background-color: yellow;
  padding: 0px;
}
.button1 {
  background-color: yellow;
  padding: 0px;
}
.close-icon {
  margin-left: 15px;
}
.sc-header--close-button {
  width: 20px;
  align-self: center;
  height: 20px;
  margin-right: 10px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 5px;
}
.sc-header--close-button:hover {
  box-shadow: 0px 2px 5px rgba(0.2, 0.2, 0.5, 0.1);
}
</style>
