<template>
  <v-dialog v-model="localShow" :width="width" persistent>
    <v-card>
      <v-row class="ma-0">
        <v-col cols="12">
          {{ $t(path + '_explain_push_notification') }}
        </v-col>
        <v-col cols="12">
          <v-checkbox v-model="readAndUnderstand" dense :label="$t(path + '_read_and_understand')" />
        </v-col>
        <v-col cols="12">
          <v-btn :disabled="!readAndUnderstand" class="mr-3" @click="cancel()">
            {{ $t(path + '_cancel') }}
          </v-btn>
        </v-col>
      </v-row>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapSync } from '~/helpers/methods'

export default {
  components: {},
  props: {
    show: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      path: 'components.users.navigation.leftDrawer.pushs.explainDialog.'
    }
  },
  computed: {
    ...mapSync({ localShow: 'show' }),
    width() {
      return this.$isMobile ? '100%' : '30%'
    },
    readAndUnderstand: {
      get() {
        return this.$user.pushs.session.readAndUnderstand
      },
      set(value) {
        this.$store.commit('setPushsSessionProperty', { property: 'readAndUnderstand', value })
      }
    }
  },
  methods: {
    cancel() {
      this.localShow = false
    }
  }
}
</script>
