<template>
  <v-dialog v-model="localShow" :width="width">
    <v-card>
      <v-row class="ma-0" style="position: relative">
        <v-icon class="ma-2" style="position: absolute; top: 0; right: 0" @click="cancel()"> mdi-close </v-icon>
        <v-col cols="12">
          {{ $t(path + '_resetting_push_notification') }}
        </v-col>
        <v-col cols="12">
          <v-checkbox v-model="resettingDoNotShow" dense :label="$t(path + '_resetting_do_not_show')" />
        </v-col>
        <v-col cols="12">
          <v-btn @click="cancel()">
            {{ $t(path + '_cancel') }}
          </v-btn>
        </v-col>
      </v-row>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapSync } from '~/helpers/methods'

export default {
  components: {},
  props: {
    show: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      path: 'components.users.navigation.leftDrawer.pushs.resettingDialog.'
    }
  },
  computed: {
    ...mapSync({ localShow: 'show' }),
    width() {
      return this.$isMobile ? '100%' : '30%'
    },
    resettingDoNotShow: {
      get() {
        return this.$user.pushs.session.resettingDoNotShow
      },
      set(value) {
        this.$store.commit('setPushsProperty', { property: 'resettingDoNotShow', value })
      }
    }
  },
  methods: {
    cancel() {
      this.$store.commit('setPushsSessionProperty', { property: 'resettingCanceled', value: true })
      this.localShow = false
    }
  }
}
</script>
