<template>
  <v-layout justify-end class="margin-b1">
    <v-row
      v-for="(item, i) in rowItems.items"
      :key="i"
      :style="{ minWidth: item.width, maxWidth: item.width, backgroundColor: rowItems.meta.bg }"
      class="my-0 py-1 margin-r1"
      :justify="item.justify ? item.justify : 'center'"
      no-gutters
    >
      <v-text-field
        v-if="item.editable"
        :value="item.text"
        :class="{ 'centered-input': item.align === 'center' }"
        hide-details
        outlined
        :type="getTextFieldType(item)"
        dense
        :label="editable"
        @input="$emit(item.name, $event)"
      ></v-text-field>
      <v-row
        v-else
        column
        align="center"
        :justify="item.justify ? item.justify : 'center'"
        class2="ma-0 pa-0"
        no-gutters
      >
        <span class="pr-1">
          {{ item.text }}
        </span>
      </v-row>
    </v-row>
  </v-layout>
</template>
<script>
export default {
  props: {
    rowItems: {
      type: Object,
      default: () => {}
    },
    editable: {
      type: String,
      default: ''
    }
  },
  methods: {
    getTextFieldType(item) {
      this.$g.clog('42 item = ', item)
      if (item.type) {
        return item.type
      } else return 'text'
    }
  }
}
</script>
<style scoped>
.row-align {
  width: 20%;
}
.margin-r1 {
  margin-right: 1px;
}
.margin-b1 {
  margin-bottom: 1px;
}
.centered-input >>> input {
  text-align: center;
}
</style>
