<template>
  <InfoDialog ref="warning_dialog" :texts="infoTexts" :noclick="noclick" :yesclick="yesclick" />
</template>

<script>
import InfoDialog from '../chats/vbChat/InfoDialog'
export default {
  components: {
    InfoDialog
  },
  props: {
    upload: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {}
  },
  computed: {
    infoTexts() {
      return {
        text: this.$g.t('qchat.invoice.upload.warning.text'),
        yes: this.$g.t('qchat.invoice.upload.warning.agree'),
        no: this.$g.t('qchat.invoice.upload.warning.disagree')
      }
    }
  },
  watch: {
    upload(val, oldVal) {
      if (val) {
        this.handleWarning()
      }
    }
  },
  created() {
    /* this.$g.chatEBus.$off(this.$enums.events.invoiceUploadedForUploader)
    this.$g.chatEBus.$on(this.$enums.events.invoiceUploadedForUploader, (resp) => {
      this.$emit('update:upload', false)
      this.$emit('update:error', false)
    })
    this.$g.chatEBus.$off(this.$enums.events.invoiceUploadErrorForUploader)
    this.$g.chatEBus.$on(this.$enums.events.invoiceUploadErrorForUploader, (err) => {
      this.$g.clog('invoiceUploadError err = ', err)
      // da murmans shevatkobinot props-is error.sync-ebit
      this.$emit('update:upload', false)
      this.$emit('update:error', true)
    }) */
  },
  methods: {
    yesclick() {
      this.$g.chatEBus.$emit(this.$enums.events.invoiceUpload)
    },
    noclick() {
      this.$emit('upload', false)
    },
    handleWarning() {
      this.$refs.warning_dialog.dialog = true
      // this.dialog = true
      this.$g.clog('lb this.$refs.warning_dialog.dialog = ', this.$refs.warning_dialog.dialog)
    }
  }
}
</script>
<style scoped></style>
