<template>
  <div />
</template>

<script>
export default {
  props: {
    download: {
      type: Boolean,
      required: true
    },
    adminDownload: {
      type: Boolean,
      default: false
    },
    cardId: {
      type: Number,
      default: -2
    }
  },
  data() {
    return {}
  },
  watch: {
    download(val, oldVal) {
      if (val) {
        this.handleDownload(this.cardId)
      }
    },
    adminDownload(val, oldVal) {
      if (val) {
        this.handleAdminDownload(this.cardId)
      }
    }
  },
  methods: {
    handleDownload(cardId) {
      this.$g.chatEBus.$emit(this.$enums.events.invoiceDownload, { cardId, admin: false })
    },
    handleAdminDownload(cardId) {
      this.$g.chatEBus.$emit(this.$enums.events.invoiceDownload, { cardId, admin: true })
    }
  }
}
</script>
<style scoped>
.pointer {
  cursor: pointer;
}
</style>
