<template>
  <!-- pdf-orientation="portrait" -->
  <v-container ref="content" slot="pdf-content" fill-height fluid>
    <!-- <v-card flat width="100%"> -->
    <v-row justify="center" no-gutters>
      <v-col>
        <v-container fluid class2="green">
          <v-row justify="space-between" no-gutters>
            <v-col cols="12" sm="4" class="mb-1">
              <v-card tile flat class="green lighten-5">
                <v-card-text class="pa-0 pl-4"> {{ $g.t('qchat.invoice.to.header') }}: </v-card-text>
                <v-divider />
                <v-card-text>
                  <SimpleRow
                    :show="sr('to.customerNr.show')"
                    :text="$g.t('qchat.invoice.customer_nr') + ': ' + sr('to.customerNr.value')"
                  />
                  <SimpleRow
                    :show="sr('to.nickname.show')"
                    :text="$g.t('qchat.invoice.nickname') + ': ' + sr('to.nickname.value')"
                  />
                  <SimpleRow :show="sr('to.name.show')" :text="sr('to.name.value')" />
                  <SimpleRow :show="sr('to.address.show')" :text="sr('to.address.value')" />
                  <SimpleRow :show="sr('to.zipLocation.show')" :text="sr('to.zipLocation.value')" />
                  <SimpleRow :show="sr('to.country.show')" :text="sr('to.country.value')" />
                </v-card-text>
              </v-card>
            </v-col>
            <v-col cols="12" sm="6">
              <v-card tile flat class="cyan lighten-5">
                <!-- <v-card-title class2="justify-center"> {{ $g.t('qchat.invoice.from.header') }}: </v-card-title> -->
                <v-card-text>
                  <SimpleRow
                    :show="sr('from.customerNr.show')"
                    :text="$g.t('qchat.invoice.customer_nr') + ': ' + sr('from.customerNr.value')"
                  />
                  <SimpleRow
                    :show="sr('from.nickname.show')"
                    :text="$g.t('qchat.invoice.nickname') + ': ' + sr('from.nickname.value')"
                  />
                  <SimpleRow
                    v-if="sr('from.vatCode.show')"
                    :text="$g.t('qchat.invoice.vatcode') + ': ' + sr('from.vatCode.value')"
                  />
                  <!-- :rules="rules.fromName" -->
                  <v-row no-gutters>
                    <v-col cols="12">
                      <v-text-field
                        v-model="editedName"
                        hide-details
                        outlined
                        dense
                        :label="$g.t('qchat.invoice.from.from_name')"
                        class2="styled-input mb-2"
                        placeholder=" "
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <!-- :rules="rules.fromName" -->
                  <v-row no-gutters class="mt-1">
                    <v-col cols="12">
                      <v-text-field
                        v-model="editedAdress"
                        hide-details
                        outlined
                        dense
                        :label="$g.t('qchat.invoice.from.from_adress')"
                        class2="styled-input"
                        placeholder=" "
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <!-- <SimpleRow :show="invoice ? invoice.from.name.show" :text="invoice ? invoice.from.name.value" /> -->
                  <!-- <SimpleRow :show="sr('from.address.show')" :text="sr('from.address.value')" /> -->
                  <SimpleRow :show="sr('from.zipLocation.show')" :text="sr('from.zipLocation.value')" />
                  <SimpleRow :show="sr('from.country.show')" :text="sr('from.country.value')" />
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
        <v-layout justify-end class="mt-1">
          <v-card tile flat class="cyan lighten-5 mt-1">
            <v-card-text>
              <v-row no-gutters>
                <v-col cols="12">
                  <v-text-field
                    v-model="invoiceNr"
                    hide-details
                    outlined
                    :rules="rules.invoiceNr"
                    dense
                    :label="$g.t('qchat.invoice.data.nr') + ':'"
                    required
                  ></v-text-field>
                </v-col>
              </v-row>
              <SimpleRow :text="$g.t('qchat.invoice.data.date') + ': ' + sr('data.date')" />
              <SimpleRow :text="$g.t('qchat.invoice.data.dueDate') + ': ' + sr('data.dueDate')" />
              <SimpleRow
                :text="
                  $g.t('qchat.invoice.data.amount') + ': ' + toFixed2(sr('data.total')) + ' ' + sr('data.currency')
                "
              />
            </v-card-text>
          </v-card>
        </v-layout>
        <v-card-title class="justify-center">
          {{ $g.t('qchat.invoice.header') }}
        </v-card-title>
        <div class="my-2 caption">
          <InvoiceRow
            v-for="(rowItems, i) in createInvoiceItems()"
            :key="i"
            :row-items="rowItems"
            :editable="$g.t('qchat.invoice.editable')"
            @description="changeDescription"
            @vat="changeVat"
          />
        </div>
        <v-row v-if="juridical" no-gutters>
          <v-textarea
            v-model="vatNoteValue"
            rows="2"
            outlined
            placeholder=" "
            name="input-7-4"
            :label="$g.t('qchat.invoice.notes.vat_note')"
          ></v-textarea>
        </v-row>
        <v-layout justify-space-between>
          <v-card tile flat class="green lighten-4 mr-1">
            <v-card-text class="justify-center caption">
              {{ $g.t('qchat.invoice.paymant_details') }}
            </v-card-text>
            <v-card-text class="caption">
              <span>{{ sr('data.paymentType') }}</span>
            </v-card-text>
          </v-card>
          <v-card tile flat class="green lighten-4 d-flex flex-column" style="maxwidth: 50%">
            <v-card-text class="caption">
              {{ $g.t('qchat.invoice.notes.invoice_note') }} <br />
              {{ $g.t('qchat.invoice.notes.invoice_note_text') }}
            </v-card-text>
          </v-card>
        </v-layout>
      </v-col>
    </v-row>
    <snackbar ref="snackbar" caller="invoice" />
    <v-overlay :value="loading">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
    <InfoDialog ref="error_dialog" :texts="infoTexts" />
    <InvoiceUploader v-show="false" :upload="upload" @upload="handleInvoiceUploadereNoClick()" />
    <InvoiceDownloader v-show="false" :card-id="cardId" :download="download" :admin-download="adminDownload" />
    <v-layout v-if="false" class="mt-2">
      <v-btn @click="uploadToServer">upload</v-btn>
      <v-btn @click="downloadInvoiceFromServer({ cardId: null, admin: false })">download</v-btn>
      <v-btn @click="downloadInvoiceFromServer({ cardId: null, admin: true })">downAdmin</v-btn>
    </v-layout>
    <!-- </v-card> -->
  </v-container>
</template>

<script>
// import moment from 'moment'
import { invoiceParams, events, caller } from '../helpers/enums'
import { stp, toFixed2 } from '../helpers/methods'
import Snackbar from '../Snackbar'
import InfoDialog from '../chats/vbChat/InfoDialog'
import { CreateInvoice } from './createInvoice'
import InvoiceRow from './InvoiceRow'
import SimpleRow from './SimpleRow'
import InvoiceUploader from './InvoiceUploader'
import InvoiceDownloader from './InvoiceDownloader'

export default {
  components: {
    InvoiceRow,
    SimpleRow,
    Snackbar,
    InfoDialog,
    InvoiceUploader,
    InvoiceDownloader
  },
  /*
  murmanistan
  <des-invoice
    :user-id="$account"
    :card-id="cardId"
    :service-type="serviceType"
    :role="role"
    :create="true" <-აღარ მოდის
    :locale="$locale"
    :summary.sync="summary"
    :error.sync="error"
    :upload="upload"
  />
  */
  props: {
    // for invoiceUploader
    upload: {
      type: Boolean,
      default: false
    },
    // for invoiceDownloader
    download: {
      type: Boolean,
      default: false
    },
    // for adminInvoiceDownloader
    adminDownload: {
      type: Boolean,
      default: false
    },
    // murmans vatkobineb invoisis atvirtvisas error tu dafiqsirda
    // null-> mashin atvirtva-chamotvirtvis processhia. ''-> carmatebit aitvirta, 'errortext'-> tu shecdomaa
    error: {
      required: true,
      validator: (prop) => typeof prop === 'string' || prop === null
    },
    adminError: {
      default: null,
      validator: (prop) => typeof prop === 'string' || prop === null
    },
    summary: {
      required: true,
      validator: (prop) => typeof prop === 'object' || prop === null
    },
    userId: {
      type: Number,
      required: true
    },
    cardId: {
      type: Number,
      required: true
    },
    locale: {
      type: String,
      required: true
    },
    // ვინ იძახებს -> tester, orderer, buyer
    role: {
      type: String,
      required: true
    },
    // ინვოისისთვის როგორც შევთანხმდით დამატებით გადმოგცემ პარამეტრს serviceType:
    // "check" - ნიშნავს რომ დაკვეთაზეა საუბარი; /qchat/cards
    // "resell" - ნაყიდი ანკეტებია, რომელთა შესახებ ინფორმაცია უნდა წამოიღო /qchat/resellCards-ით.
    // მოგივა check-ის ანალოგიური ინფორმაცია, ოღონდ მყიდველს ქვია buyer
    // resell/role=buyer - ის დროს ვეკითხები მონგოს, თუ არ არის ინვოისი შექმნილი შევქმნით, თუ არის შექმნილი - ვაჩვენებთ
    // resell/role=tester - ის დროს ვეკითხები მონგოს, თუ არ არის ინვოისი შექმნილი ფორმას გამოვუტანთ(create=true), თუ არის შექმნილი - ვაჩვენებთ
    serviceType: {
      type: String,
      default: 'check'
      /* required: true */
    } //,
    // Murman: როდესაც ვიძახებ DesInvoice კომპონენტს, გადავცემ პარამეტრს :create. true - საჭიროა შექმნა, false - მხოლოდ არსებულის ჩვენება.
    // შექმნის და ატვირთვის მერე განათავსებ რა mongo-ში ინვოისს, დაუკავშირდები back-ს POST-ით url-ზე: api.deservice.net/api/qchat/invoice
    // პარამეტრად ობიექტი: {cardId: cardId}. უნდა დაგიბრუნოს უკან რესპონსი res, სადაც res.data = cardId.
    /* create: {
      type: Boolean,
      required: true
    } */
  },
  data() {
    return {
      // create: false, საერთოდ აღარ არის საჭირო
      invoiceClass: null,
      invoice: null,
      cardDetails: null,
      invoiceItems: {},
      juridical: true,
      netto: 0,
      vat: 0,
      brutto: 0,

      loading: false,
      infoTexts: {},
      rules: {
        invoiceNr: [(val) => (val || '').length > 0 || 'This field is required'],
        fromName: [(val) => (val || '').length === 0 || 'This field is not required']
      }
    }
  },
  computed: {
    /* ...mapGetters({
      user: 'user/getUser',
      fullname: 'user/getFullname'
    }), */
    showUploader() {
      return process.env.G_LOGS && JSON.parse(process.env.G_LOGS)
    },
    editedName: {
      get() {
        return this.invoice ? this.$g.store.getters.invoices[this.invoice.cardId].editedName : null
      },
      set(value) {
        if (this.invoice) {
          this.$g.store.commit('setEditableDataKey', { cardId: this.invoice.cardId, key: 'editedName', value })
        }
      }
    },
    editedAdress: {
      get() {
        return this.invoice ? this.$g.store.getters.invoices[this.invoice.cardId].editedAdress : null
      },
      set(value) {
        if (this.invoice) {
          this.$g.store.commit('setEditableDataKey', { cardId: this.invoice.cardId, key: 'editedAdress', value })
        }
      }
    },
    invoiceNr: {
      get() {
        return this.invoice ? this.$g.store.getters.invoices[this.invoice.cardId].invoiceNr : null
      },
      set(value) {
        if (this.invoice) {
          this.$g.store.commit('setEditableDataKey', { cardId: this.invoice.cardId, key: 'invoiceNr', value })
        }
      }
    },
    vatNoteValue: {
      get() {
        return this.invoice ? this.$g.store.getters.invoices[this.invoice.cardId].vatNoteValue : null
      },
      set(value) {
        if (this.invoice) {
          this.$g.store.commit('setEditableDataKey', { cardId: this.invoice.cardId, key: 'vatNoteValue', value })
        }
      }
    }
  },
  created() {
    this.$g.chatEBus.$off(events.invoiceUploaded)
    this.$g.chatEBus.$on(events.invoiceUploaded, (respData) => {
      // respData -> { resp, invoke }
      // resp = { update: false||true, insertedId: upsertedId||null }
      this.loading = false
      this.$emit('update:upload', false)
      this.$emit('update:error', '') // false iko axla empty string nishnavs, rom ok
      const resp = respData ? respData.resp : {}
      this.$g.clog('inv resp ', resp)
      if (resp.insertedId) {
        this.$g.showSnackbar(this.$g.t('qchat.invoice.upload.succesfully_uploaded'), 2000, 'green', caller.invoice)
      } else if (resp.update) {
        this.$g.showSnackbar(this.$g.t('qchat.invoice.upload.succesfully_updated'), 2000, 'green', caller.invoice)
      } else {
        this.$g.showSnackbar(this.$g.t('qchat.invoice.upload.not_updated'), 2000, 'green', caller.invoice)
      }
      // თუ ატვირთვის შემდეგ ისევ უნდა ჩამოვტვირთოთ ინვოისი
      if (respData && respData.invoke) {
        this.initInvoice()
      }
    })
    this.$g.chatEBus.$off(events.invoiceUpload)
    this.$g.chatEBus.$on(events.invoiceUpload, () => {
      // invoiceUploader-is yesclick-idan modis
      this.uploadToServer()
      this.$g.clog('inv this.loading ', this.loading)
    })
    this.$g.chatEBus.$off(events.invoiceGetSucceeded)
    this.$g.chatEBus.$on(events.invoiceGetSucceeded, (invoiceArr) => {
      this.handleInvoiceSucceeded(invoiceArr)
    })
    this.$g.chatEBus.$off(events.invoiceUploadError)
    this.$g.chatEBus.$on(events.invoiceUploadError, (err) => {
      this.loading = false
      this.infoTexts = this.getUploadErrorTexts()
      this.$emit('update:upload', false)
      this.$emit('update:error', this.infoTexts.text)
      // ამ ერორის ფანჯარას მე აღარ ვაჩვენებ, მურმანი აჩვენებს
      // this.$refs.error_dialog.dialog = true
      this.$g.clog('invoiceUploadError err = ', err)
    })
    this.$g.chatEBus.$off(events.invoiceDownloaded)
    this.$g.chatEBus.$on(events.invoiceDownloaded, (invoiceData) => {
      this.loading = false
      if (invoiceData.admin) {
        this.$emit('update:adminError', '')
      } else {
        this.$emit('update:error', '')
      }
      this.$g.clog('inv this.loading ', this.loading)
    })
    this.$g.chatEBus.$off(events.invoiceDownload)
    this.$g.chatEBus.$on(events.invoiceDownload, ({ cardId, admin }) => {
      this.downloadInvoiceFromServer({ cardId, admin })
      this.$g.clog('inv this.loading ', this.loading)
    })
    this.$g.chatEBus.$off(events.invoiceDownloadError)
    this.$g.chatEBus.$on(events.invoiceDownloadError, ({ err, invoiceData }) => {
      this.loading = false
      this.infoTexts = this.getDownloadErrorTexts(err)
      // this.$refs.error_dialog.dialog = true
      if (invoiceData.admin) {
        this.$emit('update:adminError', this.infoTexts.text)
      } else {
        this.$emit('update:error', this.infoTexts.text)
      }
      this.$g.clog('invoiceDownloadError err = ', err)
    })
    this.$g.clog('inv this.serviceType = ', this.serviceType)
    this.$g.clog('inv this.role = ', this.role)
    this.$g.clog('inv this.cardId = ', this.cardId)
    // invoice mxolod de||en enaze iqneba
    // murman: როდესაც ვიძახებ DesInvoice კომპონენტს, გადავცემ პარამეტრს :create. true - საჭიროა შექმნა, false - მხოლოდ არსებულის ჩვენება.
    // resell/role=buyer - ის დროს ვეკითხები მონგოს, თუ არ არის ინვოისი შექმნილი შევქმნით, თუ არის შექმნილი - ვაჩვენებთ
    // resell/role=tester - ის დროს ვეკითხები მონგოს, თუ არ არის ინვოისი შექმნილი შესაქმნელ ფორმას გამოვუტანთ(create=true), თუ არის შექმნილი - ვაჩვენებთ

    // ორივე ინვოისს წამოიღებს _> admin = true, admin = false
    this.initInvoice()

    /* if (this.create) {
      this.fetchCardDetails()
    } else {
      // ორივე ინვოისს წამოიღებს _> admin = true, admin = false
      this.$g.getInvoiceFromMongoByCardId({ cardId: this.cardId })
    } */
  },
  methods: {
    stp,
    toFixed2,
    adjustInvoiceArr(invoiceArr) {
      const invArr = []
      if (!invoiceArr || !this.$g.isArray(invoiceArr)) {
        return invArr
      }
      // invoiceType -> check_AdminToChecker, check_CheckerToOrderer, resell_AdminToBuyer, resell_CheckerToAdmin
      let invoiceType
      const ip = invoiceParams
      invoiceArr.forEach((inv) => {
        if (this.serviceType === ip.check) {
          // მაშინ ჩექერი ნახულობს ორივე ინვოისს adminToChecker და checkerToOrderer
          invoiceType = inv.admin ? ip.check_AdminToChecker : ip.check_CheckerToOrderer
        }
        if (this.serviceType === ip.resell) {
          // მაშინ resell_AdminToBuyer ან resell_CheckerToAdmin
          invoiceType = inv.admin ? ip.resell_AdminToBuyer : ip.resell_CheckerToAdmin
        }
        if (this.role === ip.orderer && invoiceType === ip.check_CheckerToOrderer) {
          // mashin check-ia da orderer naxulobs check_CheckerToOrderer-s
          invArr.push(inv)
        }
        if (
          this.role === ip.tester &&
          (invoiceType === ip.check_CheckerToOrderer ||
            invoiceType === ip.check_AdminToChecker ||
            invoiceType === ip.resell_CheckerToAdmin)
        ) {
          invArr.push(inv)
        }
        if (this.role === ip.buyer && invoiceType === ip.resell_AdminToBuyer) {
          invArr.push(inv)
        }
      })
      return invArr
    },
    initInvoice() {
      this.$g
        .getInvoiceByCardIdAndServiceType({ cardId: this.cardId, serviceType: this.serviceType })
        .then((invoiceArr) => {
          this.$g.clog('iq data success invoiceArr = ', invoiceArr)
          // აქ შეიძლება ინვოისი ადმინის იყოს და ჩექერს უნდოდეს ინვოისის ამოწერა ადმინისთვის, ამიტომ invoiceArrContainsInvoker()
          const invArr = this.adjustInvoiceArr(invoiceArr)
          this.$g.clog('iq adjusted invArr = ', invArr)
          if (invArr.length) {
            this.handleInvoiceSucceeded(invArr, false) // create = false
          } else if (this.role === invoiceParams.tester) {
            // ჩექერს შესაქმნელ ფორმას გამოვუტანთ resell და check-ის შემთხვევაში
            // murmans summary სჭირდება იმისათვის, რომ აჩვენოს თუ არა ინვოისის შექმნა summary = { main: { create: true } }
            this.$emit('update:summary', { main: { create: true } })
            this.fetchCardDetails()
          } else if (this.serviceType === invoiceParams.resell && this.role === invoiceParams.buyer) {
            // resell/buyer-ია და ადმინის ინვოისი უნდა შევქმნათ ფორმის გარეშე
            // this.$emit('update:summary', { main: { create: false } })
            this.$g.clog('iq uploadToServer ')
            this.fetchCardDetails(this.uploadToServer)
          }
        })
        .catch((err) => {
          this.$g.clog('ii handleGetInvoiceError err = ', err)
          this.$g.showSnackbar(this.$g.t('qchat.invoice.download.error.failed'), 2000, 'error', caller.invoice)
        })
    },
    handleInvoiceSucceeded(invoiceArr, create) {
      const summary = {}
      for (const invoice of invoiceArr) {
        const date = invoice.date
        const nr = invoice.nr
        const price = invoice.price
        const summ = { date, nr, price }
        if (invoice.vat || invoice.vat === 0) {
          summ.vat = invoice.vat
        }
        if (invoice.admin) {
          summary.admin = summ
        } else {
          summ.create = create
          summary.main = summ
        }
      }
      this.$emit('update:summary', summary)
      this.$g.clog('inv summary = ', summary)
    },
    sr(prop) {
      if (!this.invoice) {
        return null
      }
      const keyArr = prop.split('.')
      let val = this.invoice
      for (const key of keyArr) {
        if (val) {
          val = val[key]
        }
      }
      if (!val && prop.includes('value')) {
        return ''
      }
      return val
    },
    createInvoice(admin) {
      this.invoiceClass = new CreateInvoice({
        cardId: this.cardId,
        // role: this.role,
        serviceType: this.serviceType,
        cardDetails: this.cardDetails,
        admin: !!admin,
        editable: !admin
      })
      this.invoiceClass.createInvoice(admin)
      this.invoice = this.invoiceClass.invoice
      this.invoiceNr = this.invoice.nr
      this.invoiceItems = this.invoiceClass.invoiceItems
      return this.invoice
    },
    fetchCardDetails(callback) {
      if (!this.cardId) {
        this.$g.clog('inv fetchCardDetails this.cardId = ', this.cardId)
        return
      }
      // ამოვიღეთ cardIdDetails, რადგან აღარ ვანსხვავებთ card და card/details
      let cardIdKey
      if (this.serviceType === invoiceParams.check) {
        cardIdKey = 'cardId'
      } else if (this.serviceType === invoiceParams.resell) {
        cardIdKey = 'resellCardId'
      }
      const requestObj = { [cardIdKey]: this.cardId }
      this.$g.clog('inv requestObj = ', requestObj)
      this.$g
        .getDataById(requestObj)
        .then((data) => {
          this.$g.clog('inv fetchCardDetails success data = ', data)
          if (data && data.length) {
            const cardDetails = data[0]
            this.$g.clog('inv data cardDetails = ', cardDetails)
            this.$g.store.commit('setCard', this.$g.adjustCard(cardDetails))
            this.$g.clog('inv card = ', this.$g.store.getters.card)
            this.cardDetails = cardDetails
            this.createInvoice(false)
            this.$g.clog('inv this.invoice = ', this.invoice)
            if (callback) {
              callback()
            }
            // es ava-s test-s chirdeba
            Promise.resolve(cardDetails)
          }
        })
        .catch((err) => {
          this.$g.clog('inv fetchCardDetails failed, err = ', err)
          this.$g.showSnackbar(
            this.$g.t('qchat.invoice.download.error.server_data') + ' err: ' + err,
            5000,
            'error',
            caller.invoice
          )
        })
    },
    changeDescription($event) {
      this.$g.clog('inv $event ', $event)
      if (!this.invoice) {
        return
      }
      this.$g.store.commit('setEditableDataKey', { cardId: this.invoice.cardId, key: 'description', value: $event })
    },
    changeVat($event) {
      if (!this.invoice) {
        return
      }
      this.$g.clog('$event ', $event)
      this.vat = +$event
      this.$g.store.commit('setEditableDataKey', { cardId: this.invoice.cardId, key: 'vat', value: $event })
      this.invoiceClass.initInvoiceValues()
    },

    createInvoiceItems() {
      if (!this.invoiceItems.serviceItems) {
        return []
      }
      // this.$g.clog('this.invoiceItems = ', JSON.stringify(this.invoiceItems))
      // pirveli rigi sruli unda ikos
      const firstItem = this.invoiceItems.serviceItems[0]
      const headers = { meta: { bg: this.invoiceItems.meta.headerBg }, items: [] }
      for (const item of firstItem.items) {
        headers.items.push({
          text: this.$g.t('qchat.invoice.headers.' + item.header),
          width: item.width,
          justify: 'center'
        })
      }
      for (const item of this.invoiceItems.vatNettoItems) {
        for (const it of item.items) {
          if (it.name === 'vatText') {
            it.text = this.$g.t('qchat.invoice.items.vat_text')
          }
          if (it.name === 'nettoText') {
            it.text = this.juridical
              ? this.$g.t('qchat.invoice.items.netto_text')
              : this.$g.t('qchat.invoice.items.total_text')
          }
        }
      }
      const vatNettoItems = []
      for (const item of this.invoiceItems.vatNettoItems) {
        if (!this.juridical && !item.meta.juridical) {
          vatNettoItems.push(item)
        } else if (this.juridical) {
          vatNettoItems.push(item)
        }
      }
      // this.$g.clog('vatNettoItems = ', JSON.stringify(vatNettoItems))
      // [invoiceItems.headers, ...invoiceItems.vatNettoItems]
      return [headers, ...this.invoiceItems.serviceItems, ...vatNettoItems]
    },
    onProgress(ev) {
      this.$g.clog('onProgress ev', ev)
    },
    download2() {
      document.querySelector('#content').contentWindow.print()
      // window.print()
    },
    getUploadErrorTexts() {
      return {
        text: this.$g.t('qchat.invoice.upload.error.text'),
        yes: this.$g.t('qchat.invoice.upload.error.agree')
      }
    },
    getDownloadErrorTexts(err) {
      let text = this.$g.t('qchat.invoice.download.error.failed')
      this.$g.clog('inv err =', err)
      if (this.$enums.errors[err]) {
        // mashin konkretulad vicit ra shecdomaa da targmna sheizleba
        text = this.$g.t('qchat.invoice.download.error.' + err)
      }
      this.$g.clog('inv text =', text)
      return {
        text,
        yes: this.$g.t('qchat.invoice.download.error.agree')
      }
    },
    adjustEditableData(inv) {
      const editableData = this.$g.store.getters.invoices[inv.cardId]
      if (!editableData) {
        this.$g.showSnackbar(this.$g.t('qchat.invoice.upload.error.editable_data'), 3000, 'error', caller.invoice)
        return false
      }
      inv.data.nr = editableData.invoiceNr
      inv.nr = editableData.invoiceNr
      // !!editableData.editedName -> editableData.editedName is not null and empty
      if (editableData.editedName) {
        inv.from.editedName = { value: editableData.editedName }
      }
      if (editableData.editedAdress) {
        inv.from.editedAdress = { value: editableData.editedAdress }
      }
      // inv.data.description = editableData.description
      inv.data.vat = editableData.vat
      inv.data.vatNoteValue = editableData.vatNoteValue
      inv.data.agreed = true
      return true
    },
    exportCheckInvoices() {
      this.$g.clog('inv this.invoice = ', this.invoice)
      if (!this.invoice) {
        return
      }
      const inv = this.$g.cloneObj(this.invoice)
      this.$g.clog('inv exportCheckInvoices inv = ', inv)
      // shevavset shecvlili monacemebi
      if (!this.adjustEditableData(inv)) {
        return
      }
      this.roundPrice(inv)
      // targmnil teqstebs vinaxvt or enaze de,en, radgan pdf-is asackobad gvchirdeba
      this.addTexts(inv)
      this.$g.clog('inv exportCheckInvoices2 inv = ', inv)
      const adminInv = this.createInvoice(true)
      this.roundPrice(adminInv)
      this.addTexts(adminInv)
      this.$g.clog('inv uploadToServer { inv, adminInv } = ', { inv, adminInv })
      return { inv, adminInv }
    },
    exportResellInvoice(admin) {
      const inv = this.createInvoice(admin)
      this.roundPrice(inv)
      this.addTexts(inv)
      if (admin) {
        return { adminInv: inv }
      } else {
        // shevavset shecvlili monacemebi
        if (!this.adjustEditableData(inv)) {
          return
        }
        return { inv }
      }
    },
    roundPrice(inv) {
      if (inv) {
        inv.price = this.toFixed2(inv.price)
      }
    },
    addTexts(inv) {
      const textsDe = this.$g.readLangJSonfile('de').qchat.invoice
      const textsEn = this.$g.readLangJSonfile('en').qchat.invoice
      const texts = { de: textsDe, en: textsEn }
      inv.texts = texts
    },
    uploadToServer() {
      let invoiceObj
      if (this.serviceType === invoiceParams.check) {
        invoiceObj = this.exportCheckInvoices()
        if (invoiceObj) {
          // this.loading = true ეს გამოვრთე, რადგან მურმანი არეგულირებს ატვირთვის ლოდინის პროცესს
          this.$g.uploadClientAndAdminInvoiceToServer(invoiceObj)
        }
      } else if (this.serviceType === invoiceParams.resell) {
        // აქ ცალკე იქნება admin to buyer
        if (this.role === invoiceParams.buyer) {
          invoiceObj = this.exportResellInvoice(true)
        } else if (this.role === invoiceParams.tester) {
          // და tester to admin
          invoiceObj = this.exportResellInvoice()
        }
        if (invoiceObj) {
          // invoke nishnavs, rom atvrirtvis shemdeg isev unda chamovtvirtot invoice -> this.initInvoice()
          invoiceObj.invoke = true
          this.$g.uploadClientAndAdminInvoiceToServer(invoiceObj)
        }
      }
      this.$g.clog('inv uploadToServer invoiceObj = ', invoiceObj)
    },
    downloadInvoiceFromServer({ cardId, admin }) {
      // this.loading = true ეს გამოვრთე, რადგან მურმანი არეგულირებს ატვირთვის ლოდინის პროცესს
      this.$g.downloadInvoiceFromServer({ cardId, admin })
    },
    // upload = false
    handleInvoiceUploadereNoClick() {
      this.$emit('update:upload', false)
      this.$emit('update:error', 'canceled') // false iko axla canceled string nishnavs, rom ukan dabrunda
    }
  }
}
</script>
<style scoped>
.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.styled-input {
  width: 100px !important;
  height: 30px !important;
  font-size: 10px !important;
}
</style>
