<template>
  <v-row v-if="show" no-gutters>
    <span>{{ text }}</span>
  </v-row>
</template>
<script>
export default {
  props: {
    text: {
      type: String,
      default: ''
    },
    show: {
      type: Boolean,
      default: true
    }
  }
}
</script>
<style>
.row-align {
  width: 20%;
}
</style>
