<template>
  <Textpage key-text="products/orders" :locale="locale" />
</template>

<script>
import Textpage from '../Textpage'

export default {
  components: {
    Textpage
  },
  props: {
    locale: {
      type: String,
      default: 'de'
    }
  }
}
</script>
