<template>
  <v-container fill-height fluid class="pa-0 ma-0" @click="readMore">
    <div class="wrapper yellow2">
      <!-- eslint-disable-next-line vue/no-v-html -->
      <v-card-subtitle class2="truncate2 title2" v-html="getText()"> </v-card-subtitle>
      <!-- eslint-disable-next-line vue/no-v-html -->
      <v-card-text class="truncate title2" v-html="infoText()"> </v-card-text>
    </div>
    <div class="bottom ml-3">
      <span color2="deep-purple lighten-2" text @click2="readMore"> {{ getReadMore() }}</span>
    </div>
  </v-container>
</template>

<script>
export default {
  components: {},
  props: {
    name: {
      type: String,
      default: 'orders'
    },
    locale: {
      type: String,
      default: 'de'
    },
    readMore: {
      type: Function,
      default: () => {}
    }
  },
  data() {
    return {
      // scrollWatcher: { object: null, show: false }
    }
  },
  created() {
    this.$g.updateReaderLocale(this.locale)
  },
  methods: {
    getReadMore() {
      if (this.name === 'orders') {
        return this.$g.t('qchat.mix.see_video')
      } else return this.$g.t('qchat.mix.continue_reading')
    },
    getText() {
      const productTexts = this.$g.getProductTexts(this.locale)
      const mainText = productTexts[this.name].text
      // console.log('mainText = ', mainText)
      return mainText
    },
    infoText() {
      return this.$g.readStaticTexts({
        locale: this.locale,
        filename: 'products/' + this.name,
        version: this.version
      })
    }
  }
}
</script>
<style scoped>
.wrapper {
  max-height: 88%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.truncate {
  display: -webkit-box;
  -webkit-line-clamp: 11;
  -webkit-box-orient: vertical;
  opacity: 0.7;
}
.bottom {
  height: 12%;
  color: blue;
  font-weight: bold;
}
</style>
