<template>
  <v-row justify="center">
    <v-dialog v-model="consolexDialog" eager width="600px">
      <v-card>
        <v-card-title>
          <v-row>
            <v-btn color="primary" @click="$g.store.commit('setConsolexDialog', false)"> hide </v-btn>
            <v-btn color="green" text @click="$g.store.commit('setConsoleText', '')">clear</v-btn>
            <v-btn color="green" text title="'clear local storage'" @click="$g.clearLocalStorage()">clr stor</v-btn>
          </v-row>
          <!--  <v-spacer></v-spacer> -->
          <!-- <v-btn color="green" text :title="titleIsExample" @click="handleExample">{{ exampleOrNot }}</v-btn> -->
          <v-row>
            <v-btn style="minwidth: 150px" :title="titleBasic" color="green darken-1" text @click="handleBasic">
              {{ basic }}
            </v-btn>
            <v-btn style="minwidth: 150px" :title="titleAdvanced" color="green darken-1" text @click="handleAdvanced">
              {{ advanced }}
            </v-btn>
            <v-btn style="minwidth: 150px" :title="titlePhone" color="green darken-1" text @click="handlePhone">
              {{ phone }}
            </v-btn>
            <v-btn style="minwidth: 150px" :title="titleDebug" color="green darken-1" text @click="handleDebug">
              {{ debug }}
            </v-btn>
          </v-row>
        </v-card-title>
        <!-- eslint-disable-next-line vue/no-v-html -->
        <v-card-text v-html="$g.store.getters.consoleText"> </v-card-text>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
export default {
  data() {
    return {
      basic2: '',
      advanced2: '',
      basicOn: 'basic on',
      basicOff: 'basic off',
      advancedOn: 'advanced on',
      advancedOff: 'advanced off',
      phoneOn: 'phone on',
      phoneOff: 'phone off',
      debugOn: 'debug on',
      debugOff: 'debug off',
      titleBasic: 'როცა on მაშინ ივსება questionnaire-ის exampleBasic ვარიანტი',
      titleAdvanced: 'როცა on მაშინ ივსება questionnaire-ის exampleAdvanced ვარიანტი',
      titlePhone: 'როცა on მაშინ ივსება questionnaire-ის examplePhone ვარიანტი',
      titleDebug: 'როცა on მაშინ debug ჩართულია და ლოგები ჩანს ყოველთვის'
      // titleIsExample: 'ამას ხმარობთ(ანუ ჩავრთავთ example on მდგომარეობაში), როცა გვინდა ტესტის დროს იქვე ვნახოთ რა აიტვირთა სერვერზე. ამ დროს ჩართული უნდა იყოს ან Basic on ან advanced on. აქ გამოჩნდება მონგოდან ჩამოტვირთულის qValues'
    }
  },
  computed: {
    consolexDialog: {
      get() {
        return this.$g.store.getters.consolexDialog
      },
      set(open) {
        this.$g.store.commit('setConsolexDialog', open)
      }
    },
    basic() {
      // console.log('basic: qed = ', this.$g.store.getters.questionnaireExampleData)
      return this.$g.store.getters.questionnaireExampleData.exampleBasic ? this.basicOn : this.basicOff
    },
    advanced() {
      // console.log('advanced:')
      return this.$g.store.getters.questionnaireExampleData.exampleAdvanced ? this.advancedOn : this.advancedOff
    },
    phone() {
      // console.log('exampleOrNot:')
      return this.$g.store.getters.questionnaireExampleData.examplePhone ? this.phoneOn : this.phoneOff
    },
    debug() {
      // console.log('exampleOrNot:')
      return this.$g.store.getters.debug ? this.debugOn : this.debugOff
    }
    /* ,
    basic1: {
      get() {
        return this.$g.store.getters.questionnaireExampleData.exampleBasic ? this.basicOn : this.basicOff
      },
      set(newValue) {
        // this.$g.store.commit('setQuestionnaireExampleData', qed)
      }
    } */
  },
  watch: {},
  mounted() {
    /* const qed = this.$g.store.getters.questionnaireExampleData
    this.basic = qed.exampleBasic ? this.basicOn : this.basicOff
    this.advanced = qed.exampleAdvanced ? this.advancedOn : this.advancedOff */
  },
  methods: {
    resetQed(qed, active) {
      if (!active) {
        qed.exampleBasic = false
        qed.exampleAdvanced = false
        qed.examplePhone = false
      }
    },
    handleBasic() {
      const qed = JSON.parse(JSON.stringify(this.$g.store.getters.questionnaireExampleData))
      this.resetQed(qed, qed.exampleBasic)
      qed.exampleBasic = !qed.exampleBasic
      this.$g.store.commit('setQuestionnaireExampleData', qed)
      // this.basic = qed.exampleBasic ? this.basicOn : this.basicOff
    },
    handleAdvanced() {
      const qed = JSON.parse(JSON.stringify(this.$g.store.getters.questionnaireExampleData))
      this.resetQed(qed, qed.exampleAdvanced)
      qed.exampleAdvanced = !qed.exampleAdvanced
      // this.advanced = qed.exampleAdvanced ? this.advancedOn : this.advancedOff
      this.$g.store.commit('setQuestionnaireExampleData', qed)
    },
    handlePhone() {
      const qed = JSON.parse(JSON.stringify(this.$g.store.getters.questionnaireExampleData))
      this.resetQed(qed, qed.examplePhone)
      qed.examplePhone = !qed.examplePhone
      this.$g.store.commit('setQuestionnaireExampleData', qed)
    },
    handleDebug() {
      this.$g.store.commit('setDebug', !this.$g.store.getters.debug)
    }
  }
}
</script>
<style scoped></style>
