<template>
  <v-tooltip
    v-model="show"
    :left="side === 'left'"
    :top="side === 'top'"
    :right="side === 'right'"
    :bottom="side === 'bottom'"
    :disabled="disabled"
  >
    <template #activator="{}">
      <div ref="div" :style="someStyles" @mouseenter="mouseEnter" @mouseleave="mouseLeave">
        <slot />
      </div>
    </template>
    <span>{{ text }}</span>
  </v-tooltip>
</template>

<script>
export default {
  props: {
    side: {
      type: String,
      default: 'bottom'
    },
    text: {
      type: String,
      required: true
    },
    someStyles: {
      type: Object,
      default: () => {}
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      show: false,
      mousable: matchMedia('(pointer:fine)').matches,
      mouse: {
        openDelay: 400,
        overed: false
      },
      touch: {
        touchDelay: 1000,
        closeAfter: 3000,
        touched: false
      }
    }
  },
  mounted() {
    this.$refs.div.addEventListener('touchstart', this.touchStart, false)
    this.$refs.div.addEventListener('touchend', this.touchEnd, false)
  },
  methods: {
    mouseEnter() {
      if (this.mousable) {
        this.mouse.overed = true
        setTimeout(() => {
          if (this.mouse.overed) {
            this.show = true
          }
        }, this.mouse.openDelay)
      }
    },
    mouseLeave() {
      if (this.mousable) {
        this.mouse.overed = false
      }
      this.show = false
    },
    touchStart() {
      this.touch.touched = true
      setTimeout(() => {
        if (this.touch.touched) {
          this.show = true
          setTimeout(() => {
            this.show = false
          }, this.touch.closeAfter)
        }
      }, this.touch.touchDelay)
    },
    touchEnd() {
      this.touch.touched = false
    }
  }
}
</script>
