<template>
  <div id="testel">
    erti
    <slot />
  </div>
</template>

<script>
// eslint-disable-next-line no-undef
// console.log('paypal2 = ', paypal)
export default {
  props: {
    render: {
      type: Function,
      default: () => {}
    }
  },
  data() {
    return {
      PayPalButton: {}
    }
  },
  mounted() {
    // console.log('created2')
    window.Vue.loadScript(
      'https://www.paypal.com/sdk/js?client-id=ARMJY2B0JmNMpYPVV_BHbWujOHK9IFQU3o_6B-EWbRjqrTwZdBIZHItg8mEvjk7agOaDykLgwC3fjeT9'
    ).then(() => {
      // console.log('t loadScript')
      // eslint-disable-next-line no-undef
      const PayPalButton = paypal.Buttons.driver('vue', window.Vue)
      // console.log('PayPalButton = ', this.PayPalButton)
      document.getElementById('testel').appendChild(PayPalButton)
      // return PayPalButton
    })
  },
  methods: {}
}
</script>
<style scoped></style>
