<template>
  <v-snackbar
    v-model="snackbar"
    :color="snackbarColor"
    :timeout="snackbarTimeout"
    shaped2
    absolute2
    centered
    elevation="24"
    multi-line
  >
    {{ snackbarText }}
    <des-tooltip :text="closeText">
      <!-- <v-icon :title="closeText" class="close-icon" @click="handlePrimary">mdi-close</v-icon> -->
      <v-icon class="main-close-icon" @click="handlePrimary">mdi-close</v-icon>
    </des-tooltip>
  </v-snackbar>
</template>

<script>
export default {
  props: {
    // chat|questionnaire
    caller: {
      type: String,
      required: true
    },
    closeText: {
      type: String,
      default: 'close'
    }
  },
  data() {
    return {
      options: {},
      snackbar: false,
      snackbarText: '',
      snackbarTimeout: -1,
      snackbarPrimaryCallback: null,
      snackbarSecondaryCallback: null,
      snackbarVertical: true,
      snackbarColor: 'success'
    }
  },
  watch: {
    '$g.store.getters.showSnackbar'(val, oldVal) {
      this.$g.clog('$g.store.getters.showSnackbar = ', val)
      const payload = val.payload
      if (this.caller === payload.caller) {
        this.showSnackbar(payload)
      }
    }
  },
  methods: {
    /* mag.
      let options = {primary: 'weiter', secondary: 'cancel'} 
      this.gData.showSnackbar({
        text: this.gData.texts.header_texts.chat_close_warning,
        color:'error',
        options,
        snackbarPrimaryCallback: this.onClose        
      })
  */
    showSnackbar(payload) {
      this.$g.clog('payload ', JSON.stringify(payload))
      this.$g.clog('Chat showSnackbar text ', payload.text)
      this.snackbarText = payload.text
      this.snackbarVertical = payload.vertical
      this.snackbarColor = payload.color ? payload.color : 'success'
      this.snackbarTimeout = payload.timeout ? payload.timeout : -1
      this.snackbarPrimaryCallback = payload.snackbarPrimaryCallback ? payload.snackbarPrimaryCallback : null
      this.snackbarSecondaryCallback = payload.snackbarSecondaryCallback ? payload.snackbarSecondaryCallback : null
      this.options = payload.options ? payload.options : {} // close sul aris
      this.snackbar = true
      this.$g.clog('this.snackbarTimeout ', this.snackbarTimeout)
    },
    handlePrimary() {
      this.$g.clog('handleSnackbarClose ')
      this.snackbar = false
      if (this.snackbarPrimaryCallback) {
        this.snackbarPrimaryCallback()
      }
    },
    handleSecondary() {
      this.$g.clog('handleCancel ')
      this.snackbar = false
      if (this.snackbarSecondaryCallback) {
        this.snackbarSecondaryCallback()
      }
    }
  }
}
</script>
<style>
.main-close-icon {
  margin-left: 15px;
  float: right;
}
.my-tooltip-class {
  border: 1px solid;
  color: black;
  background-color: white;
}
.v-tooltip__content {
  border: 1px solid;
  color: black;
  background-color: white;
}
</style>
