<template>
  <div>
    <Textpage key-text="contact" :with-bg="false" :page-name="$enums.staticPages.contact" :locale="locale" />
    <v-container
      fluid
      fill-height
      class="pa-0 grey2"
      :style2="{
        padding: '18px',
        backgroundImage: backgroundImage,
        backgroundSize: backgroundSize,
        backgroundRepeat: 'repeat'
      }"
    >
      <v-row no-gutters justify="center">
        <v-col md="8">
          <v-card>
            <v-card-text :style="{ color: tomaStyle }"> {{ $g.t('qchat.contact.form_send_text') }}</v-card-text>
            <v-card-text :style="{ color: tomaStyle }"> {{ $g.t('qchat.contact.must_fields') }}</v-card-text>
            <v-divider />
            <v-form ref="form" v-model="valid" class="pa-3" lazy-validation>
              <v-text-field
                v-model="name"
                :counter="nameMaxLength"
                :rules="nameRules"
                :label="$g.t('qchat.contact.name')"
                required
              ></v-text-field>
              <v-text-field
                v-model="email"
                :rules="emailRules"
                :label="$g.t('qchat.contact.email')"
                required
              ></v-text-field>
              <v-select v-model="subject" :items="subjects" :label="$g.t('qchat.contact.subject')" required2></v-select>
              <v-textarea
                v-model="contactText"
                :style2="{ color: tomaStyle }"
                class="purple-input"
                :label="$g.t('qchat.contact.my_request')"
              />
              <!-- <v-checkbox v-model="checkbox" :rules="[(v) => !!v || 'You must agree to continue!']" label="Do you agree?" required></v-checkbox> -->
              <v-card-text v-show="sent" class="title" :class="{ 'blue-text': !hasError, 'red-text': hasError }">
                {{ afterSentText }}</v-card-text
              >
              <!-- <v-btn :disabled="!valid" color="success" class="mr-4" @click="validate"> Validate </v-btn>
                  <v-btn color="error" class="mr-4" @click="reset"> Reset Form </v-btn>
                  <v-btn color="warning" @click="resetValidation"> Reset Validation </v-btn> -->
              <v-btn block color="success" class="title" @click="sendText"> {{ $g.t('qchat.contact.send') }}</v-btn>
            </v-form>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import Textpage from '../staticPages/Textpage'

export default {
  components: {
    Textpage
  },
  props: {
    locale: {
      type: String,
      default: 'de'
    }
  },
  data() {
    return {
      backgroundSize: '73.1px 67px',
      hasError: false,
      sent: false,
      afterSentText: null,
      contactText: '',
      valid: true,
      name: '',
      nameMaxLength: 50,
      nameRules: [
        (v) => !!v || this.$g.t('qchat.contact.warnings.name_is_required'),
        (v) =>
          (v && v.length <= this.nameMaxLength) ||
          this.$g.t('qchat.contact.warnings.name_max_length').replace('nameMaxLength', this.nameMaxLength) // `Name must be less than ${this.nameMaxLength} characters`
      ],
      email: '',
      emailRules: [
        (v) => !!v || this.$g.t('qchat.contact.warnings.email_is_required'),
        (v) => /.+@.+\..+/.test(v) || this.$g.t('qchat.contact.warnings.email_must_be_valid')
      ],
      subject: null
      // items: ['Item 1', 'Item 2', 'Item 3', 'Item 4'],
      // checkbox: false
    }
  },
  computed: {
    tomaStyle() {
      return this.$g.getDestheme('des_fontLiBl', this)
    },
    subjects() {
      return Object.values(this.$g.t('qchat.contact.subjects'))
    },
    backgroundImage() {
      let bgImage = null
      // if (this.withBg) {
      bgImage = this.$vuetify.theme.dark
        ? 'url(' + require('desqchat/assets/logoPatterns/dark.svg') + ')'
        : 'url(' + require('desqchat/assets/logoPatterns/light.svg') + ')'
      // }
      return bgImage
    }
  },
  watch: {
    locale(locale, oldVal) {
      // console.log('locale = ', locale)
      if (locale) {
        this.$g.updateReaderLocale(locale)
      }
    }
  },
  mounted() {
    const user = this.$g.store.getters.user
    // console.log('user ', user)
    if (user && user.email) {
      this.email = user.email
    }
  },
  methods: {
    sendText(ev) {
      // console.log('sendText ev = ', ev)
      if (this.validate()) {
        // console.log('valid ')
        const contactRequest = {
          name: this.name,
          email: this.email,
          subject: this.subject,
          contactText: this.contactText
        }
        this.$g
          .postContactRequest(contactRequest)
          .then((rData) => {
            // console.log('rData ', rData)
            if (rData.includes('succesfully')) {
              this.hasError = false
              this.afterSentText = this.$g.t('qchat.contact.after_sent')
              this.subject = null
              this.contactText = null
            } else {
              this.hasError = true
              this.afterSentText = this.$g.t('qchat.contact.sent_fail')
            }
            this.handleSent()
          })
          .catch((e) => {
            this.hasError = true
            this.afterSentText = this.$g.t('qchat.contact.sent_fail')
            // console.log('error = ', e)
            this.handleSent()
          })
      }
      // this.validate()
    },
    handleSent() {
      this.sent = true
      setTimeout(() => {
        this.sent = false
        this.hasError = false
      }, 10000)
    },
    validate() {
      return this.$refs.form.validate()
    },
    reset() {
      this.$refs.form.reset()
    },
    resetValidation() {
      this.$refs.form.resetValidation()
    }
  }
}
</script>
<style scoped>
.blue-text {
  color: DodgerBlue;
}
.red-text {
  color: red;
}
</style>
