<template>
  <div class2="green">
    <des-tooltip :text="$g.t('qchat.media.tooltips.make_photo_or_video')">
      <v-icon color="grey darken-1" large class2="ma-2" @click.prevent="onClick">mdi-camera</v-icon>
    </des-tooltip>
  </div>
</template>

<script>
export default {
  props: {
    onClick: {
      type: Function,
      required: true
    },
    color: {
      type: String,
      required: true
    }
  }
}
</script>

<style scoped></style>
