<template>
  <div class="sc-emojy-div pr-2">
    <div class="sc-emojy-div--button">
      <EmojiPicker v-if="isActive" :on-emoji-picked="onEmojiPicked" :on-blur="_handlePickerBlur" />
      <v-icon color="grey darken-1" class2="mt-4" @click="_openPicker">mdi-emoticon-outline</v-icon>
    </div>
  </div>
</template>

<script>
import EmojiPicker from './EmojiPicker.vue'

export default {
  components: {
    EmojiPicker
  },
  props: {
    show: {
      type: Boolean,
      default: false
    },
    onEmojiPicked: {
      type: Function,
      required: true
    },
    color: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      isActive: false
    }
  },
  methods: {
    _openPicker(e) {
      this.$g.clog('_openPicker e this.isActive = ', this.isActive)
      setTimeout(() => {
        this.isActive = !this.isActive
      }, 0)
      // this.$g.clog('_openPicker e this.isActive = ', this.isActive)
    },
    _handlePickerBlur() {
      this.$g.clog('_handlePickerBlur e this.isActive = ', this.isActive)
      setTimeout(() => {
        this.isActive = false
      }, 0)
      // this.isActive = false
    }
  }
}
</script>

<style scoped>
.sc-emojy-div {
  margin-right: 5px;
}
.sc-emojy-div--button {
  position: absolute;
  bottom: 8px;
  left: 2px;
}

.sc-user-input--emoji-icon-wrapper {
  background: none;
  border: none;
  padding: 0px;
  margin: 0px;
  outline: none;
}

.sc-user-input--emoji-icon-wrapper:focus {
  outline: none;
}

.sc-user-input--emoji-icon {
  height: 18px;
  cursor: pointer;
  align-self: center;
}

.sc-user-input--emoji-icon-wrapper:focus .sc-user-input--emoji-icon path,
.sc-user-input--emoji-icon-wrapper:focus .sc-user-input--emoji-icon circle,
.sc-user-input--emoji-icon.active path,
.sc-user-input--emoji-icon.active circle,
.sc-user-input--emoji-icon:hover path,
.sc-user-input--emoji-icon:hover circle {
  filter: contrast(15%);
}
</style>
