<template>
  <div class="fii-input-button red2">
    <input
      v-show="false"
      ref="input"
      class="file-input ma-0 pa-0"
      type="file"
      capture2="environmet"
      :accept="accept"
      multiple
      @change="_handleChange"
    />
    <v-menu v-if="$g.gdata.isMobile" top offset-y>
      <template #activator="{ on, attrs }">
        <v-icon
          :title="$g.t('qchat.media.select_files')"
          color="grey darken-1"
          class2="rotate-icon"
          v-bind="attrs"
          large
          v-on="on"
          v-text="'mdi-paperclip'"
        />
      </template>
      <v-list>
        <template v-for="(item, index) in items">
          <v-divider v-if="item.divider" :key="index" :inset="item.inset" class="my-2"></v-divider>
          <v-list-item v-if="item.title" :key="item.title" @click="_handleClick(item)">
            <v-list-item-avatar>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title> {{ item.title }} </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-list>
    </v-menu>
    <des-tooltip v-else :text="$g.t('qchat.media.select_files')">
      <v-icon color="grey darken-1" class2="rotate-icon" large @click="_handleClick()" v-text="'mdi-paperclip'" />
    </des-tooltip>
  </div>
</template>

<script>
export default {
  props: {
    onChange: {
      type: Function,
      required: true
    },
    color: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      itemName: 'files',
      items: [
        {
          title: this.$g.t('qchat.media.make_video'),
          name: 'video',
          icon: 'mdi-video'
        },
        { divider: true, inset: true },
        {
          title: this.$g.t('qchat.media.take_photo'),
          name: 'image',
          icon: 'mdi-image'
        },
        { divider: true, inset: true },
        {
          title: this.$g.t('qchat.media.make_audio'),
          name: 'audio',
          icon: 'mdi-microphone'
        },
        { divider: true, inset: true },
        {
          title: this.$g.t('qchat.media.select_files'),
          name: 'files',
          icon: 'mdi-file-import'
        }
      ]
    }
  },
  computed: {
    accept() {
      if (this.itemName === 'files') {
        if (this.$refs.input) {
          this.$refs.input.removeAttribute('capture')
        }
        return '*'
      } /* else if(this.itemName==='audio') {
        if (this.$refs.input) {
          this.$refs.input.capture = 'microphone'         
        }
        return this.itemName + '/*'
      }  */ else {
        if (this.$refs.input) {
          // eslint-disable-next-line vue/no-side-effects-in-computed-properties
          this.$refs.input.capture = 'environment'
        }
        return this.itemName + '/*'
      }
    }
  },
  methods: {
    _handleClick(item) {
      // e.target.value = null
      if (item) {
        this.itemName = item.name
      } else {
        this.itemName = 'files'
      }
      this.$nextTick(() => {
        if (this.$refs.input) {
          this.$refs.input.value = null
          this.$refs.input.click()
        }
      })
    },
    _handleChange(e) {
      this.onChange(e.target.files || e.dataTransfer.files)
    }
  }
}
</script>

<style scoped>
.rotate-icon {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.file-input {
  cursor: pointer;
  position: absolute;
  top: -50px;
  z-index: 99999;
}
.fii-input-button2 input {
  position: absolute;
  /* left: 20px; */
  top: 0;
  z-index: -99999;
  /* width: 100%;
  height: 100%; 
  z-index: 99999;
  /* opacity: 1; */
  cursor: pointer;
  overflow: hidden;
}
.fii-input-button {
  position: relative;
}
.fii-input-button.active {
  box-shadow: none;
  background-color: white;
  box-shadow: 0px -5px 20px 0px rgba(150, 165, 190, 0.2);
}
</style>
