<template>
  <v-row class="my-1" no-gutters>
    <MyCarousel3d
      v-if="idbMedias"
      ref="carousel"
      :key="componentKey"
      :idb-medias="idbMedias"
      :texts="texts"
      :justify="justify"
      :caller="caller"
      :current-index="currentIndex"
      :display="display"
      :carousel-style-data="carouselStyleData"
      :bias="bias"
      :set-bias="setBias"
      :carousel-width="carouselWidth"
      :set-carousel-width="setCarouselWidth"
      controls-visible2
    />
    <!-- <LoaderLinear v-for="ts in uitTsArray" :key="ts + 1" :ts="ts" /> -->
    <LoaderLinear :uit-ts-array="uitTsArray" />
  </v-row>
</template>

<script>
// import { messageMixin } from '../../mixins/messageMixin'
import MyCarousel3d from '../../video/MyCarousel3d'
import LoaderLinear from './LoaderLinear'
export default {
  components: {
    MyCarousel3d,
    LoaderLinear
  },
  // mixins: [messageMixin],
  props: {
    texts: {
      type: Object,
      default: () => {
        return {}
      }
    },
    // aq array modis koveltvis
    messages: {
      type: Array,
      default: () => {
        return []
      }
    },
    slideHeight: {
      type: Number,
      default: 180
    },
    currentIndex: {
      type: Number,
      default: 0
    },
    expandMedia: {
      type: Function,
      default: () => {}
    }
  },
  data() {
    return {
      // messageColors: {},
      componentKey: 0,
      idbMedias: null,
      justify: 'start',
      display: 1,
      bias: 'right',
      carouselStyleData: {},
      carouselWidth: '100%',
      carouselWidth_max: '100%',
      carouselWidth_min: '60%',
      carouselWidth_middle: '80%'
    }
  },
  computed: {
    uitTsArray() {
      this.$g.clog('fm this.idbMedias = ', this.idbMedias)
      let uitMedias = []
      if (this.idbMedias && this.idbMedias.length && this.idbMedias[0]) {
        uitMedias = [...this.idbMedias]
      }
      if (this.idbFiles && this.idbFiles.length && this.idbFiles[0]) {
        uitMedias = [...uitMedias, ...this.idbFiles]
      }
      const uitTsArray = uitMedias.map((idbMedia) => idbMedia.media.tsList[this.$enums.status.notSent])
      this.$g.clog('fm uitTsArray = ', uitTsArray)
      return uitTsArray
    },
    caller() {
      return this.$enums.caller.chatFilemessage
    }
  },
  /* watch: {
    // es reagirebs groupMessages-ze
    messages: {
      handler(messages, oldVal) {
        this.$g.clog('fm messages ', messages)
        this.addIdbMedia()
      },
      deep: true
    }
  }, */
  mounted() {
    this.addIdbMedia()
  },
  methods: {
    setBias(bias) {
      this.bias = bias
    },
    setCarouselWidth(carouselWidth) {
      this.carouselWidth = carouselWidth
    },
    forceRerender() {
      this.componentKey += 1
    },
    adjustParams(filesLength, isMy) {
      this.$g.clog('fm filesLength ', filesLength)
      if (filesLength === 1) {
        this.display = 1
        this.carouselWidth = this.carouselWidth_middle
      } else if (filesLength === 2) {
        this.display = 2
        this.carouselWidth = this.carouselWidth_middle
      } else {
        this.display = 3
        this.carouselWidth = this.carouselWidth_middle
      }
      this.setBiasAndBg(isMy)
    },
    setBiasAndBg(isMy) {
      if (isMy) {
        this.carouselStyleData.fm_bg = 'message_bg_me'
        this.bias = 'left'
        this.justify = 'end'
      } else {
        this.carouselStyleData.fm_bg = 'message_bg_he'
        this.bias = 'right'
        this.justify = 'start'
      }
      this.$g.clog('fm this.bias = ', this.bias)
    },
    addFromIdb(message) {
      // const id = message.idbId
      const id = message.ts
      this.$g.clog('fm ts = ', id)
      const isMy = this.$g.isMy(message)
      this.$g.clog('fm isMy ', isMy)
      this.$g
        .readMediaById({ id })
        .then((idbMedia) => {
          this.$g.clog('fm idbMedia ', idbMedia)
          if (!idbMedia) {
            return
          }
          idbMedia.isMy = isMy
          this.idbMedias.push(idbMedia)
          this.adjustParams(this.idbMedias.length, isMy)
          this.forceRerender()
        })
        .catch((e) => {
          this.$g.clog('fm readMediaById error = ', e)
        })
    },
    addIdbMedia() {
      if (this.messages) {
        this.$g.clog('fm this.messages = ', this.messages)
        let isPending = true
        // if (!this.idbMedias) {
        this.idbMedias = []
        // }
        for (const message of this.messages) {
          if (message.pseudoIdbMedia) {
            isPending = false
            // mashin serveridan mosulia
            this.idbMedias.push(message.pseudoIdbMedia)
          } else {
            // mashin pendingMessage aris
            this.addFromIdb(message)
          }
        }
        if (!isPending) {
          this.adjustParams(this.idbMedias.length, this.$g.isMy(this.messages[0]))
        }
      }
    },
    downloadFile() {
      // this.gData.downloadFile(this.message)
    }
  }
}
</script>

<style scoped></style>
