<template>
  <div v-if="idbFiles || loading" ref="root">
    <v-row
      v-for="(media, i) in idbFiles"
      :key="i"
      :style2="{ color: 'file_layout_txt' }"
      justify="space-between"
      class="file-container mx-0 mb-0 mx-1 file_layout_bg file_layout_txt--text"
    >
      <v-icon class="subheading white--text">mdi-file-outline</v-icon>
      <span class="white--text">{{ getFileDataText(media) }}</span>
      <v-layout class="upload-progress-bar" column justify-center align-center style2="backgroundColor:yellow">
        <des-tooltip v-if="!loading" :text="$g.t('qchat.media.remove_file')">
          <v-icon
            class="subheading white--text"
            @click="$g.removeMedia(media, questionItem ? questionItem.index : null)"
            >mdi-close</v-icon
          >
        </des-tooltip>
        <v-progress-circular
          v-else
          :rotate="360"
          :size="23"
          :width="3"
          :value="uploadProgress"
          class="white--text body-2"
          color="#c8cad0"
          class2="white--text"
          fab
        >
          <span class="red--text">{{ uploadProgress }}</span>
        </v-progress-circular>
      </v-layout>
    </v-row>
  </div>
</template>

<script>
import { getFileDataText } from '../../helpers/methodsCtx'

export default {
  props: {
    styleData: {
      type: Object,
      default: () => {}
    },
    questionItem: {
      type: Object,
      default: () => {}
    },
    idbFiles: {
      type: Array,
      default: null
    }
  },
  data() {
    return {
      loading: false,
      uploadProgress: 0,
      componentKey: 0
    }
  },
  methods: {
    getFileDataText /* ,
    fileData(idbMedia) {
      this.$g.clog('fsl idbMedia = ', idbMedia)
      // const file = idbMedia ? idbMedia.media.blob : null
      if (idbMedia && idbMedia.media) {
        let filename
        let fileSize
        if (idbMedia.media.blob) {
          fileSize = idbMedia.media.blob.size
          filename = idbMedia.media.blob.name
        } else if (idbMedia.media.relPath) {
          fileSize = idbMedia.media.size
          filename = getFilenamefromPath(idbMedia.media.relPath)
        }
        if (fileSize) {
          let sizeText = ''
          if (fileSize > 0 && fileSize < 1000) {
            sizeText = fileSize + ' bt'
          } else if (fileSize >= 1000 && fileSize < 1000000) {
            sizeText = Math.ceil(fileSize / 1000) + ' kb'
          } else if (fileSize >= 1000000) {
            sizeText = Math.ceil(fileSize / 1000000) + ' mb'
          }
          // let filename = file.name
          const maxlength = this.$g.gdata.filenameMaxlength
          if (filename.length > maxlength) {
            const ext = getExtensionFromFilename(filename)
            filename = filename.substr(0, maxlength) + '.. .' + ext
          }
          const text = filename + ', size: ' + sizeText
          this.$g.clog('fsl text ', text)
          return text
        }
      }
      return null
    } */
  }
}
</script>

<style>
.file-container {
  opacity: 0.6;
  border-radius: 5px;
  color: #565867;
  margin-top: 1px;
}
.upload-progress-bar {
  max-width: 13%;
}
</style>
