<template>
  <v-speed-dial
    v-model="fab"
    :direction="direction"
    :open-on-hover="hover"
    :transition="transition"
    :top="top"
    :bottom="bottom"
    :right="right"
    :left="left"
  >
    <template #activator>
      <v-btn v-model="fab" :text2="!fab" x-small color="blue darken-2" dark fab>
        <v-icon v-if="fab" color="blue darken-2"> mdi-close </v-icon>
        <v-icon v-else> mdi-menu </v-icon>
      </v-btn>
    </template>
    <v-btn fab dark x-small color="green" title="to questionnaire" @click="$g.goToQuestionnaire">
      <v-icon>mdi-file-document</v-icon>
    </v-btn>
    <v-btn fab dark x-small color="indigo" title="to questionnaire for orderer" @click="$g.goToQuestionnaireOrderer">
      <v-icon>mdi-file-multiple</v-icon>
    </v-btn>
  </v-speed-dial>
</template>

<script>
export default {
  props: {},
  data: () => ({
    direction: 'bottom',
    fab: false,
    fling: false,
    hover: false,
    tabs: null,
    top: false,
    right: false,
    bottom: false,
    left: false,
    transition: 'slide-y-reverse-transition'
  }),

  methods: {}
}
</script>

<style scoped></style>
