<template>
  <v-list two-line2 class="pa-0">
    <v-list-item>
      <v-icon color="success" @click.stop="$g.goToRoom" v-text="'mdi-arrow-left'" />
      <HeaderSpeedDial />
      <v-list-item-content class="ml-1" style="cursor: pointer" @click="toParticipant">
        <v-list-item-title v-text="headerText" />
        <!-- <v-list-item-subtitle v-text="headerSubtext"></v-list-item-subtitle> -->
      </v-list-item-content>
      <!-- <v-list-item-action>
        <indicator v-if="$g.userIsTester()" :is-chat="true" />
      </v-list-item-action> -->
    </v-list-item>
  </v-list>
  <!-- <v-row v-else no-gutters justify="center">
    <indicator v-if="$g.userIsTester()" :is-chat="true" />
  </v-row> -->
</template>

<script>
import moment from 'moment'
// import Indicator from './Indicator'
import HeaderSpeedDial from './HeaderSpeedDial'

export default {
  components: {
    // Indicator,
    HeaderSpeedDial
  },
  props: {},
  data() {
    return {
      value: 0,
      inUserList: false,
      chatetName: '',
      senderLang: 'de.png',
      settingsDialog: false,
      options: { texts: {} }
    }
  },
  computed: {
    headerText() {
      const user = this.$g.store.getters.user
      const card = this.$g.store.getters.card
      if (!user || !card || !card.tester || !card.orderer) {
        return ''
      }
      let text
      let roleText
      this.$g.clog('h card = ', card)
      if (user.id === card.tester.id) {
        text = card.orderer.nickname
        roleText = 'orderer'
      } else if (user.id === card.orderer.id) {
        text = card.tester.nickname
        roleText = 'tester'
      }
      return text + ', role: ' + roleText
    },
    headerSubtext() {
      const card = this.$g.store.getters.card
      if (!card) {
        return ''
      }
      const timestamp = moment.unix(card.timestamp / 1000).format('DD.MM.YY HH:mm')
      return timestamp
    }
  },
  watch: {},
  mounted() {
    // this.$g.store.commit
  },
  methods: {
    toParticipant() {
      // gadadis user-is gverdze
      this.$g.clog('h toParticipant ')
    }
  }
}
</script>
<style scoped>
.sc-header {
  min-height: 75px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  padding: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  box-sizing: border-box;
  display: flex;
}

.sc-header--img {
  border-radius: 50%;
  align-self: center;
  padding: 10px;
}
.sc-header--avatar {
  align-self: center;
}

.sc-header--title {
  align-self: center;
  padding: 10px;
  flex: 1;
  user-select: none;
  /* cursor: pointer; */
  border-radius: 5px;
}
/* gamovrte */
.sc-header--title2:hover {
  box-shadow: 0px 2px 5px rgba(0.2, 0.2, 0.5, 0.1);
}

.sc-header--close-button {
  width: 20px;
  align-self: center;
  height: 20px;
  margin-right: 10px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 5px;
}
.sc-header--close-button2 {
  width: 40px;
  align-self: center;
  height: 40px;
  margin-right: 10px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 5px;
}

.sc-header--close-button:hover {
  box-shadow: 0px 2px 5px rgba(0.2, 0.2, 0.5, 0.1);
}

.sc-header--close-button img {
  width: 100%;
  height: 100%;
  padding: 13px;
  box-sizing: border-box;
}

@media (max-width: 450px) {
  .sc-header {
    border-radius: 0px;
  }
}
</style>
