<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" persistent max-width="400" fullscreen2>
      <v-card>
        <v-card-title />
        <!-- eslint-disable-next-line vue/no-v-html -->
        <v-card-text style="'white-space':normal " class="title" v-html="texts.text" />
        <v-row no-gutters class="mx-3">
          <v-checkbox
            v-if="texts.checkbox_text"
            v-model="checkbox"
            :label="texts.checkbox_text"
            color="red"
            hide-details
          />
        </v-row>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn v-if="texts.no" color2="green darken-1" text2 @click="closeDialog">
            {{ texts.no }}
          </v-btn>
          <v-btn v-if="texts.yes" color2="green darken-1" text2 @click="onclick">
            {{ texts.yes }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
export default {
  props: {
    yesclick: {
      type: Function,
      default: () => {}
    },
    handleCheckbox: {
      type: Function,
      default: () => {}
    },
    noclick: {
      type: Function,
      default: () => {}
    },
    texts: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      checkbox: false,
      dialog: false
    }
  },
  methods: {
    onclick() {
      this.dialog = false
      // this.closeDialog()
      this.yesclick()
      this.handleCheckbox(this.checkbox)
      // this.$g.clogg('this.dialog = ', this.dialog)
    },
    closeDialog() {
      this.dialog = false
      this.noclick()
    }
  }
}
</script>
<style scoped></style>
