<template>
  <v-progress-linear
    v-if="progress > 0 && progress < 100"
    :buffer-value="progress"
    :style2="{ backgroundColor: 'yellow' }"
    color="cyan"
    stream
    class="mt-2"
  />
</template>

<script>
export default {
  props: {
    uitTsArray: {
      type: Array,
      default: () => []
    } /* ,
    progress: {
      type: Number,
      default: 0
    } */
  },
  data() {
    return {
      progress: 0,
      loading: false
    }
  },
  computed: {
    getColor() {
      const dark = this.$vuetify.theme.dark
      this.$g.clog('t dark = ', dark)
      return dark ? 'white' : 'black'
    }
  },
  created() {
    this.$g.chatEBus.$off(this.$enums.events.fileUploadProgress)
    this.$g.chatEBus.$on(this.$enums.events.fileUploadProgress, (payload) => {
      // payload = { ts: message.ts, progress }
      this.handleProgress(payload)
    })
    this.$g.chatEBus.$off(this.$enums.events.fileDownloadProgress)
    this.$g.chatEBus.$on(this.$enums.events.fileDownloadProgress, (payload) => {
      this.handleProgress(payload)
    })
  },
  methods: {
    handleProgress(payload) {
      // this.$g.clog('ll payload = ', payload)
      // this.$g.clog('ll ts this.uitTsArray = ', this.uitTsArray)
      if (payload && this.uitTsArray.includes(payload.ts)) {
        // this.$g.clog('ll payload.progress = ', payload.progress)
        this.progress = payload.progress
        // this.loading = this.progress > 0 && this.progress < 100
      }
    }
  }
}
</script>
<style scoped>
.linear {
  /* color: white !important; */
  /* background-color: green; */
  border-radius: 20px;
  /* opacity: 0.5; */
  /* position: fixed;
  top: 50;
  right: 50; */
}
</style>
