<template>
  <v-overlay :value="uploading" absolute2>
    <v-progress-circular
      :value="progress"
      :style2="{ backgroundColor: 'yellow' }"
      color="cyan"
      :width="15"
      size="120"
      class2="mt-2"
    >
      <span style="font-size: 40px">
        {{ remains }}
      </span>
    </v-progress-circular>
  </v-overlay>
</template>

<script>
export default {
  data() {
    return {
      errorLoadingTimeout: null,
      progress: 0,
      remains: 0
      // tsToProgress: {} // { 32165458721: 42, 32165432145: 35, ...}
    }
  },
  computed: {
    uploading: {
      get() {
        this.$g.clog('q this.$g.store.getters.loadingParams = ', this.$g.store.getters.loadingParams)
        return !!this.$g.store.getters.loadingParams.uploading
      },
      set(value) {
        this.$g.store.commit('setKeyToLoadingParams', { key: 'uploading', value })
      }
    },
    getColor() {
      const dark = this.$vuetify.theme.dark
      this.$g.clog('t dark = ', dark)
      return dark ? 'white' : 'black'
    }
  },
  watch: {
    // rom ar gachedos failis atvirtvisas 60 camshi vtishavt
    uploading(uploading, oldVal) {
      if (uploading) {
        this.setErrorLoadingTimeout()
      }
    }
  },
  created() {
    // this.initLoadingParams([1,2,3], this.$enums.caller.questionnaire)
    this.$g.clog('lc created ')
    this.$g.chatEBus.$off(this.$enums.events.questionnaireMediaStartLoading)
    this.$g.chatEBus.$on(this.$enums.events.questionnaireMediaStartLoading, (tsArray) => {
      this.initLoadingParams(tsArray, this.$enums.caller.questionnaire)
      this.uploading = true
      this.$g.clog('q tsArray = ', tsArray)
    })
    this.$g.chatEBus.$off(this.$enums.events.questionnaireMediaUploadProgress)
    this.$g.chatEBus.$on(this.$enums.events.questionnaireMediaUploadProgress, (payload) => {
      // payload = { ts, progress }
      this.handleProgress(payload)
    })
    this.$g.chatEBus.$off(this.$enums.events.chatMediaStartLoading)
    this.$g.chatEBus.$on(this.$enums.events.chatMediaStartLoading, (tsArray) => {
      this.$g.clog('lc events.chatMediaStartLoading tsArray = ', tsArray)
      this.initLoadingParams(tsArray, this.$enums.caller.chat)
      this.uploading = true
    })
    this.$g.chatEBus.$off(this.$enums.events.chatMediaStopLoading)
    this.$g.chatEBus.$on(this.$enums.events.chatMediaStopLoading, (tsArray) => {
      this.$g.clog('lc events.chatMediaStopLoading tsArray = ', tsArray)
      this.uploading = false
    })
    this.$g.chatEBus.$off(this.$enums.events.chatMediaUploadProgress)
    this.$g.chatEBus.$on(this.$enums.events.chatMediaUploadProgress, (payload) => {
      // payload = { ts, progress }
      this.handleProgress(payload)
    })
    // this.$g.clog('lc this.uploading = ', this.uploading)
  },
  methods: {
    setErrorLoadingTimeout() {
      if (this.errorLoadingTimeout) {
        clearTimeout(this.errorLoadingTimeout)
      }
      this.errorLoadingTimeout = setTimeout(() => {
        if (this.uploading) {
          const lp = this.$g.store.getters.loadingParams
          this.$g.clog('lc mediaUploadingErrorTimeoutMS = ', this.$g.gdata.mediaUploadingErrorTimeoutMS)
          const errTxt = this.$g.t('qchat.media.upload_too_long_error')
          this.initLoadingParams([])
          this.uploading = false
          this.$g.showSnackbar(errTxt, 2000, 'red', lp.caller)
        }
      }, this.$g.gdata.mediaUploadingErrorTimeoutMS) // 60000
    },
    initLoadingParams(tsArray, caller) {
      const tsToProgress = {}
      this.remains = 0
      if (tsArray) {
        for (const ts of tsArray) {
          tsToProgress[ts] = 0
          this.remains++
        }
      }
      this.$g.clog('lc this.remains = ', this.remains)
      // uploading gadmohkveba
      const lp = { tsToProgress, caller, uploading: this.$g.store.getters.loadingParams.uploading } // this.cloneObj(this.$g.store.getters.loadingParams)
      // const lp = { uploading: false, tsArray, progress: 0, remains: tsArray.length, tsToProgress, caller }
      this.$g.store.commit('setLoadingParams', lp)
    },
    handleProgress(payload) {
      // loadingParams = { uploading: false, tsToProgress: {}, caller: null }
      const tsToProgress = this.$g.cloneObj(this.$g.store.getters.loadingParams.tsToProgress)
      this.$g.clog('lc payload = ', payload) // { ts: 1627220270702, progress: 100, done: true }
      this.$g.clog('lc tsToProgress1 = ', tsToProgress)
      this.setErrorLoadingTimeout()
      // if (payload && tsToProgress.hasOwnProperty(payload.ts)) {
      if (payload && Object.prototype.hasOwnProperty.call(tsToProgress, payload.ts)) {
        tsToProgress[payload.ts] = payload.progress
        let progressSum = 0
        // let remains = 0
        // let remains = this.remains
        Object.keys(tsToProgress).forEach((ts) => {
          const progress = tsToProgress[ts]
          progressSum += progress
        })
        if (payload.done) {
          // if (progress < 100) {
          this.remains--
        }
        this.$g.clog('lc remains = ', this.remains)
        // this.remains = remains
        // lp.progress = progressSum / lp.tsArray.length
        // this.$g.clog('lc tsToProgress = ', tsToProgress)
        // this.$g.clog('lc remains = ', remains)
        // lp.remains = remains
        // this.uploading = lp.uploading

        this.progress = progressSum / Object.keys(tsToProgress).length
        this.$g.store.commit('setKeyToLoadingParams', { key: 'tsToProgress', value: tsToProgress })
        if (this.remains === 0) {
          const _caller = this.$g.store.getters.loadingParams.caller
          this.$g.clog('lc caller = ', _caller)
          this.initLoadingParams([], _caller)
          // questionnaire-shi this.uploading-s daakenebs chatEBus.$on(events.questionnaireUploaded,..)
          if (_caller === this.$enums.caller.chat) {
            // chatCore-is Promise.all(uploadPromises) aketebs
            // this.uploading = false
          }
        }
      }
    }
  }
}
</script>
<style scoped></style>
