<template>
  <div class2="sc-message">
    <TextMessage v-if="!isArray(message) && message.meta.type === 'text'" :message="message" />
    <EmojiMessage v-else-if="!isArray(message) && message.meta.type === 'emoji'" :data="message.data" />
    <FileMessage v-else-if="isArray(message)" :messages="message" />
    <SystemMessage v-else-if="!isArray(message) && message.meta.type === 'system'" :message="message" />
  </div>
</template>

<script>
import { isArray } from '../../helpers/methods'
import TextMessage from './TextMessage.vue'
import FileMessage from './FileMessage.vue'
import EmojiMessage from './EmojiMessage.vue'
import SystemMessage from './SystemMessage.vue'
// import chatIcon from './assets/chat-icon.svg'

export default {
  components: {
    TextMessage,
    FileMessage,
    EmojiMessage,
    SystemMessage
  },
  props: {
    message: {
      type: [Object, Array],
      required: true
    }
  },
  data() {
    return {}
  },
  /* computed: {
    avatarSrc() {
      return this.message && this.message.data.avatarSrc ? this.message.data.avatarSrc : chatIcon
    }
  }, */
  methods: {
    isArray
    /* sentColorsStyle() {
      // this.$g.clog('m this.gData.colors ', JSON.stringify(this.gData.colors))
      // this.$g.clog('this.gData.colors ', this.globagDatalData.colors)
      return {
        color: this.gData.colors.sentMessage.text,
        backgroundColor: this.gData.colors.sentMessage.bg,
        messageNotReceived: this.gData.colors.sentMessage.messageNotReceived,
        messageIsReceived: this.gData.colors.sentMessage.messageIsReceived
      }
    },
    receivedColorsStyle() {
      return {
        color: null, // this.gData.colors.receivedMessage.text,
        backgroundColor: null // this.gData.colors.receivedMessage.bg
      }
    } */
    /* eslint-disable */
    /*  determineMessageColors() {
      return this.message.data.author === 'me' ? this.sentColorsStyle() : this.receivedColorsStyle()
    } */
    /* eslint-enable */
  }
}
</script>
<style>
.sc-message {
  width: 300px;
  /* margin-bottom: 100px; */
  /* padding-bottom: 10px; */
  /* display: flex; */
}

.sc-message--content {
  width: 100%;
  display: flex;
}

.sc-message--content.sent {
  justify-content: flex-end;
}

.sc-message--content.system {
  justify-content: center;
}

.sc-message--content.sent .sc-message--avatar {
  display: none;
}

.sc-message--avatar {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  align-self: center;
  margin-right: 15px;
}

.sc-message--meta {
  font-size: xx-small;
  margin-bottom: 0px;
  color: white;
  text-align: center;
}

@media (max-width: 450px) {
  .sc-message {
    width: 80%;
  }
}

.sc-message--content.sent .sc-message--text {
  color: white;
  background-color: #4e8cff;
  max-width: calc(100% - 120px);
  word-wrap: break-word;
}

.sc-message--text code {
  font-family: 'Courier New', Courier, monospace !important;
}

.sc-message--content.received .sc-message--text {
  color: #263238;
  background-color: #f4f7f9;
  margin-right: 40px;
}
</style>
