<template>
  <!-- :message="{meta: {type: 'typing'}, data:{author: showTypingIndicator}}" :messageStyling="messageStyling" :chatImageUrl="chatImageUrl(showTypingIndicator)" -->
  <div class="message-list">
    <!-- aq piriqit aris tanmimdevroba qvevidan zemot column-reverse -->
    <slot name="inputtop" />
    <Message
      v-for="message in $g.store.getters.messageList"
      :key="message.ts ? message.ts : message[0].ts"
      :message="message"
    />
  </div>
</template>
<script>
import Message from './Message.vue'
// import chatIcon from './assets/chat-icon.svg'

export default {
  components: {
    Message
  },
  mounted() {
    this.$nextTick(this._scrollDown)
  },
  updated() {
    this.$nextTick(this._scrollDown)
  },
  methods: {
    /*  _scrollDown() {
      this.$refs.scrollList.scrollTop = this.$refs.scrollList.scrollHeight
    },
    handleScroll(e) {
      if (e.target.scrollTop === 0) {
        this.$emit('scrollToTop')
      }
    },
    shouldScrollToBottom() {
      return this.alwaysScrollToBottom || this.$refs.scrollList.scrollTop > this.$refs.scrollList.scrollHeight - 600
    } 
    ,
    profile(author) {
      const profile = this.participants.find(profile => profile.id === author)
      // A profile may not be found for system messages or messages by 'me'
      return profile || { imageUrl: '', name: '' }
    },
    chatImageUrl(author) {
      // this.$g.clog('71 this.profile(author).imageUrl ', JSON.stringify(this.profile(author).imageUrl))
      return this.profile(author).imageUrl
    },
    authorName(author) {
      return this.profile(author).name
    } */
  }
}
</script>

<style scoped>
.message-list {
  /* max-width: 100%; */
  display: flex;
  flex-direction: column-reverse;
  /* flex-wrap: wrap; */
  /* overflow-y: auto; */
  /* background-size: 100%; */
  /* padding: 5px 5px; */
}
</style>
