<template>
  <!-- src="https://cdn.vuetifyjs.com/images/cards/store.jpg" -->
  <div class="sc-message--file-main ml-2">
    <v-row class="ma-0" justify2="space-between">
      <v-col class="pa-0 green">
        <v-img v-if="image.isPhoto" :src="fileUrl" height="200" width="200"></v-img>
        <video v-else-if="image.isVideo" :src="fileUrl" height="200" width="200" controls></video>
      </v-col>
      <v-layout column class2="flex-column ma-0 fill-height" justify-space-around>
        <v-icon color="blue">mdi-download</v-icon>
        <v-icon color="blue" @click="removePhoto">mdi-delete</v-icon>
        <v-icon color="red">mdi-arrow-expand-all</v-icon>
      </v-layout>
    </v-row>
  </div>
</template>

<script>
export default {
  props: {
    image: {
      type: Object,
      default: () => {}
    }
  },
  computed: {
    /* videoUrl() {
      // tu telefonit gadaghebuli suratia
      if (this.image && this.image.src) {
        return this.image.src
      }
      return ''
    }, */
    fileUrl() {
      // tu telefonit gadaghebuli suratia
      if (this.image && this.image.src) {
        return this.image.src
      }
      return ''
    },
    filename() {
      /* if (this.message && this.message.statusInfo && this.message.statusInfo.relpath) {
        return this.message.statusInfo.relpath.substring(this.message.statusInfo.relpath.lastIndexOf('/') + 1)
      } */
      return ''
    }
  },
  methods: {
    removePhoto() {
      this.$emit('remove', this.image)
    },
    downloadFile() {
      this.gData.downloadFile(this.message)
    }
  }
}
</script>

<style scoped>
.sc-message--file-main {
  position: relative;
  display: inline-block;
  /* max-height: 200px; */
}
</style>
