<template>
  <v-layout class="send-button-div red2" align-center justify-center>
    <v-avatar :color="$g.store.getters.socketArrowColor" size="50" class2="send-icon" @click.prevent="onClick">
      <v-icon class2="body-1">mdi-send</v-icon>
    </v-avatar>
  </v-layout>
</template>

<script>
export default {
  props: {
    show: {
      type: Boolean,
      default: false
    },
    onClick: {
      type: Function,
      required: true
    },
    color: {
      type: String,
      required: true
    }
  }
}
</script>

<style scoped>
.send-button-div {
  /* min-width: 10%;
  max-width: 10%; */
  cursor: pointer;
  /* position: relative; */
  /* margin: 5px 3px; */
  /* background-color: red; */
}

.send-icon2 {
  position: absolute;
  bottom: 0px;
  right: 0px;
  /* margin-right: -5px; */
}

.sc-user-input--send-icon-wrapper {
  background: none;
  border: none;
  padding: 0px;
  margin: 0px;
  outline: none;
}

.sc-user-input--send-icon-wrapper:focus {
  outline: none;
}

.sc-user-input--send-icon {
  height: 20px;
  width: 20px;
  cursor: pointer;
  align-self: center;
  outline: none;
}

.sc-user-input--send-icon:hover path {
  filter: contrast(15%);
}
</style>
