<template>
  <div>
    <v-divider></v-divider>
    <v-layout justify-center class="my-1">
      <div class="sc-message--system pa-1 sysmessage_bg">
        <span v-if="message.meta" class="sc-message--meta caption">{{ message.data.text }}</span>
      </div>
    </v-layout>
  </div>
</template>

<script>
export default {
  props: {
    message: {
      type: Object,
      required: true
    },
    /* messageColors: {
      type: Object,
      required: true
    }, */
    gData: {
      type: Object,
      default: () => {}
    }
  },
  methods: {}
}
</script>

<style scoped>
.sc-message--system {
  border-radius: 5px;
  text-align: center;
  min-width: 15%;
  /* font-weight: 300; */
  /* font-size: 10px; */
  line-height: 1;
  /* white-space: pre-wrap; */
  -webkit-font-smoothing: subpixel-antialiased;
  font-style: italic;
  /* opacity: .75; */
}

.sc-message--meta {
  font-size: xx-small;
  margin-bottom: 0px;
  margin-top: 5px;
  opacity: 0.5;
  text-align: center;
}
</style>
