<template>
  <!-- :justify-start="!messageIsMy" :justify-end="messageIsMy" -->
  <v-row :justify="justifyRow" class="my-2 red2" no-gutters>
    <v-card :class="messageStyle" class="text-message ma-0 pa-0 pb-1">
      <v-card v-if="translated" :class="messageStyle" dark tile2 class="text-message2 ma-0 pa-1">
        <!-- eslint-disable-next-line vue/no-v-html -->
        <p class="header-text ma-0" v-text="$g.t('qchat.chat.translate_text.translated')"></p>
        <!-- <span class="main-text ma-2 mb-1" v-text="messageText.translatedText"></span> -->
        <span class="main-text ma-2 mb-1" v-text="messageText.translatedText"></span>
      </v-card>
      <v-divider v-if="translated" />
      <v-card :class="messageStyle" dark flat color="red" tile2 class="text-message2 ma-0 pa-1">
        <!-- eslint-disable-next-line vue/no-v-html -->
        <p v-if="translated" class="header-text ma-0" v-text="textOriginalHeader()"></p>
        <!-- <div class2="blue" style2="display: inline"> -->
        <span
          :class="{ 'main-text': !translated, 'blured-text': translated }"
          style2="float:left"
          class="ma-2"
          v-text="messageText.text"
        />
        <StatusChip :ts-list="message.meta.tsList" :message-is-my="messageIsMy" :message="message" />
        <!-- </div> -->
      </v-card>
    </v-card>
  </v-row>
</template>

<script>
import { messageMixin } from '../../mixins/messageMixin'
// import { readLangFromKeysJSonfile } from '../../helpers/methods'
import StatusChip from '../../video/StatusChip'

export default {
  components: {
    StatusChip
  },
  mixins: [messageMixin],
  methods: {
    // amas receiver xedavs
    textOriginalHeader() {
      let senderLang = ''
      if (this.message && this.message.data && this.message.data.textData) {
        const textData = this.message.data.textData
        const senderLangFull = this.$g.readLangFromKeysJSonfile(textData.senderLang)
        senderLang = textData.senderLang + ' ' + senderLangFull
      }
      return this.$g.t('qchat.chat.translate_text.original') + ' - ' + senderLang
    }
  }
}
</script>

<style scoped>
.header-text {
  font-size: 8px;
  opacity: 0.5;
}
.main-text {
  font-size: 14px;
}
.blured-text {
  font-size: 10px;
  opacity: 0.7;
}
.text-message {
  border-radius: 6px;
  min-width: 20%;
  max-width: 70%;
  /* font-weight: 300; */
  /* font-size: 14px; */
  /* line-height: 1.1; */
  /* white-space: pre-wrap; */
  /* -webkit-font-smoothing: subpixel-antialiased; */
}
a.chatLink {
  color: inherit !important;
}
</style>
