<template>
  <div v-if="typing" :style2="receivedColorsStyle()" class="sc-typing-indicator">
    {{ typingText }}
    <span></span>
    <span></span>
    <span></span>
  </div>
</template>
<script>
export default {
  props: {
    gData: {
      type: Object,
      default: () => {
        return {}
      }
    }
  },
  data() {
    return {
      typing: false,
      typingText: 'test'
    }
  },
  watch: {
    '$g.store.getters.typingMessage'(tm, oldVal) {
      this.$g.clog('tm = ', JSON.stringify(tm))
      if (tm && tm.meta && tm.meta.type === 'typing') {
        this.$g.clog('29 tm.meta.state ', tm.meta.state)
        const state = tm.meta.state
        switch (state) {
          case 'typing':
            this.typing = true
            this.typingText = this.$g.t('qchat.chat.typing_message.is_typing') || 'is typing ...'
            break
          case 'onFocus':
            this.typing = true
            this.typingText = this.$g.t('qchat.chat.typing_message.starts_typing') || 'starts typing'
            break
          case 'offFocus':
            this.typing = false
            this.typingText = ''
            break
          default:
            this.typing = false
            this.typingText = ''
        }
      }
    }
  },
  mounted() {
    this.$g.clog('tm = mounted')
  },
  methods: {
    receivedColorsStyle() {
      return {
        color: null, // this.gData.colors.receivedMessage.text,
        backgroundColor: null // this.gData.colors.receivedMessage.bg
      }
    }
  }
}
</script>
<style scoped>
.sc-typing-indicator {
  /* text-align: center; */
  padding: 0px;
  border-radius: 6px;
  color: green;
}

.sc-typing-indicator span {
  display: inline-block;
  background-color: green;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-right: 3px;
  animation: bob 2s infinite;
}

/* SAFARI GLITCH */
.sc-typing-indicator span:nth-child(1) {
  animation-delay: -1s;
}
.sc-typing-indicator span:nth-child(2) {
  animation-delay: -0.85s;
}
.sc-typing-indicator span:nth-child(3) {
  animation-delay: -0.7s;
}

@keyframes bob {
  10% {
    transform: translateY(-10px);
    background-color: #9e9da2;
  }
  50% {
    transform: translateY(0);
    background-color: #b6b5ba;
  }
}
</style>
