<template>
  <div v-if="idbMedias || idbFiles" class="my-1">
    <v-divider class="green my-1" />
    <MyCarousel3d
      v-if="idbMedias"
      ref="carousel"
      :key="componentKey"
      :caller="caller"
      :idb-medias="idbMedias"
      :texts="texts"
      :current-index="currentIndex"
      :display="3"
      :controls-visible="idbMedias && idbMedias.length > 1"
    />
    <file-show-layout :idb-files="idbFiles" :style-data="{ text: 'des_grey32cd', bg: 'des_grey32cd' }" />
    <!-- <LoaderCircular ref="circular_loader" :ts-array="tsArray" /> -->
  </div>
</template>

<script>
import MyCarousel3d from '../../video/MyCarousel3d'
import { idbMediasMixin } from '../../mixins/idbMediasMixin'
import FileShowLayout from './FileShowLayout'
// import LoaderCircular from './LoaderCircular'

export default {
  components: {
    FileShowLayout,
    MyCarousel3d
    // LoaderCircular
  },
  mixins: [idbMediasMixin],
  props: {
    texts: {
      type: Object,
      default: () => {
        return {}
      }
    },
    slideHeight: {
      type: Number,
      default: 200
    },
    currentIndex: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      // loading: false
    }
  },
  computed: {
    caller() {
      return this.$enums.caller.chatUit
    },
    tsArray() {
      let uitMedias = []
      if (this.idbMedias && this.idbMedias.length && this.idbMedias[0]) {
        uitMedias = [...this.idbMedias]
      }
      if (this.idbFiles && this.idbFiles.length && this.idbFiles[0]) {
        uitMedias = [...uitMedias, ...this.idbFiles]
      }
      this.$g.clog('uit uitMedias = ', uitMedias)
      const tsArray = uitMedias.map((idbMedia) => idbMedia.media.tsList[this.$enums.status.notSent])
      this.$g.clog('uit tsArray = ', tsArray)
      return tsArray
    }
  },
  created() {
    this.$g.chatEBus.$off(this.$enums.events.idbMediasChat)
    this.$g.chatEBus.$on(this.$enums.events.idbMediasChat, (allIdbMedias) => {
      // idbMediasMixin-shia
      const allMediasLength = this.handleAllIdbMedias({ allIdbMedias })
      // da gavagebinet ChatWindow-s rom cvlileba moxda
      this.$g.chatEBus.$emit(this.$enums.events.idbMediasChatCW, allMediasLength)
    })
  },
  /* updated() {
    this.loading = false
  }, */
  methods: {
    /*  updateLoading(ev) {
      console.log('uit ev = ', ev)
      this.loading = ev
    } */
  }
}
</script>

<style></style>
