<template>
  <v-layout class="mx-1 yellow2" style2="height: 52px" justify-space-between align-center>
    <v-textarea
      ref="textarea"
      v-model="textContent"
      :value="textValue"
      :style1="{ background: 'des_grey32cd' }"
      :label="placeholder"
      :rules="rules"
      :maxlength="+$g.gdata.chatTextMaxSize"
      style="width: 80%"
      rows="1"
      class="textContent grey darken-4 mr-1"
      hide-details
      counter
      auto-grow
      single-line
      solo
      flat
      @focus="onfocus"
      @blur="onblur"
      @input="oninput"
      @keyup="adjustText"
    >
      <!-- <template #prepend-inner>
          <EmojiIcon :on-emoji-picked="_handleEmojiPicked" color="'des_grey32cd'" />
        </template> -->
      <template #append>
        <v-layout class="buttons-row2 red2 m2b-1 px-2" align-center justify-space-between style2="height: 40px">
          <CameraIcon v-if="!$g.gdata.isMobile" :on-click="toVideoPage" :color="'des_grey32cd'" class="mx-2" />
          <FileInputIcon :on-change="setFiles" color="'des_grey32cd'" class2="mx-2" />
        </v-layout>
      </template>
    </v-textarea>
    <SendIcon :on-click="_submit" color="'des_grey32cd'" style2="min-width: 50px" />
    <video-dialog ref="video_dialog" :dialog-caller="{ caller: 'chat' }" eager />
    <InfoDialog ref="font_warning_dialog" :texts="infoTexts" :handle-checkbox="handleCheckbox" />
    <LoaderCircular />
  </v-layout>
</template>

<script>
import VideoDialog from '../../video/VideoDialog'
import { getExtensionFromFilename } from '../../helpers/methods'
import InfoDialog from './InfoDialog'
import CameraIcon from './CameraIcon'
import FileInputIcon from './FileInputIcon'
import SendIcon from './SendIcon'
import LoaderCircular from './LoaderCircular'

export default {
  components: {
    // EmojiIcon,
    CameraIcon,
    FileInputIcon,
    SendIcon,
    VideoDialog,
    InfoDialog,
    LoaderCircular
  },
  props: {
    texts: {
      type: Object,
      default: () => {
        return {}
      }
    },
    slideHeight: {
      type: Number,
      default: 200
    },
    getUitMedias: {
      type: Function,
      default: () => {
        return []
      }
    },
    sendFiles: {
      type: Function,
      default: () => {}
    },
    sendText: {
      type: Function,
      default: () => {}
    },
    placeholder: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      fontWasWarned: false,
      textContent: '',
      textValue: '',
      maxContentSize: 100,
      startIndex: 0,
      componentKey: 0,
      display: 3,
      // loading: false,
      uploadProgress: 0,
      showFileLayout: false,
      rules: [this.ontextinput],
      rows: 1,
      autogrow: false,
      inputActive: false,
      infoTexts: {}
    }
  },
  mounted() {
    // this.textValue = JSON.stringify(navigator.userAgent)
  },
  methods: {
    getInfoTexts() {
      const locale = this.$g.store.getters.locale
      let receiver = this.$g.getReceiver()
      if (!receiver) {
        receiver = { lang: this.$g.gdata.defaultLanguage }
      }
      // tt const receiverLang = receiver.lang
      let text = this.$g.t('qchat.chat.font_warning.text')
      const senderLangFull = this.$g.readLangFromKeysJSonfile(locale)
      const receiverLangFull = this.$g.readLangFromKeysJSonfile(receiver.lang)
      // this.$g.clog('ui text', text)
      text = text.replaceAll('senderLang', senderLangFull).replace('receiverLang', receiverLangFull)
      return {
        text,
        yes: this.$g.t('qchat.chat.font_warning.agree'),
        checkbox_text: this.$g.t('qchat.chat.font_warning.checkbox_text')
      }
    },
    handleCheckbox(checkbox) {
      this.$g.clog('ui checkbox = ', checkbox)
      // this.$g.clog('ui this.$g.store.getters.fontWasWarned = ', this.$g.store.getters.fontWasWarned)
      const user = this.$g.store.getters.user
      if (checkbox && user) {
        this.$g.store.commit('setFontWasWarned', { userId: user.id, fontWasWarned: true })
      }
    },
    onresize(ev) {
      this.$g.clog('uI ev ', ev)
    },
    onfocus(v) {
      this.$g.clog('uI onfocus ', v)
      const user = this.$g.store.getters.user
      if (!this.fontWasWarned && user && user.id && !this.$g.store.getters.fontWasWarned[user.id]) {
        // tu meore mxaris lang vicit da is sxva enaa mashin vafrtxilebt
        const senderLang = this.$g.store.getters.locale
        const receiverLang = this.$g.getReceiver().lang
        this.$g.clog('uI user ', JSON.stringify(this.$g.store.getters.user))
        this.$g.clog('uI senderLang ', this.$g.store.getters.locale)
        this.$g.clog('uI receiverLang = ', receiverLang)
        if (receiverLang && senderLang !== receiverLang) {
          this.infoTexts = this.getInfoTexts()
          this.$refs.font_warning_dialog.dialog = true
          this.fontWasWarned = true
        }
      }
      this.$g.store.commit('setTypingState', this.$enums.typingState.onFocus)
    },
    onblur(v) {
      this.$g.clog('uI onblur ', v)
      this.$g.store.commit('setTypingState', this.$enums.typingState.offFocus)
    },
    oninput(v) {
      // this.$g.clog('uI onchange ', v)
      this.$g.store.commit('setTypingState', this.$enums.typingState.typing)
    },
    adjustText(v) {
      this.textContent = this.$g.maxlength(this.textContent, +this.$g.gdata.chatTextMaxSize)
    },
    ontextinput(v) {
      // this.$g.clog('uI oninput ')
      // this.$g.store.commit('setTypingState', typingState.typing)
      return this.$g.onTextInput(v, +this.$g.gdata.chatTextMaxSize)
    },
    forceRerender() {
      this.componentKey += 1
      this.$g.clog('forceRerender componentKey = ', this.componentKey)
    },
    setFiles(files) {
      this.$g.clog('uI files ', files)
      this.$g.setFiles({ files })
    },
    getExtensionFromFilename,
    handleKey(event) {
      /* ეს გამოვრთე enter-ზე რეაგირებდა
      if (event.keyCode === 13 && !event.shiftKey) {
        this._submitText(event)
        event.preventDefault()
      } */
      this.$emit('onType', 'typing')
    },
    getUitMediasAndCheckGroup() {
      // { idbMedias, idbFiles }
      const uitMedias = this.getUitMedias()
      let idbMedias = uitMedias.idbMedias
      let idbFiles = uitMedias.idbFiles
      if (!idbMedias) {
        idbMedias = []
      }
      if (!idbFiles) {
        idbFiles = []
      }
      // ertidaigive ts rom ar gamovides
      // let n = 0
      if (idbFiles.length) {
        for (const idbFile of idbFiles) {
          const notSent = idbFile.media.tsList[this.$enums.status.notSent]
          idbFile.meta = {
            tsList: { [this.$enums.status.notSent]: notSent },
            filename: idbFile.media.filename
          } // Date.now() + n
          // n++
        }
      }
      if (idbMedias.length === 1) {
        for (const idbMedia of idbMedias) {
          const notSent = idbMedia.media.tsList[this.$enums.status.notSent]
          idbMedia.meta = { tsList: { [this.$enums.status.notSent]: notSent } } // Date.now() + n
          // n++
        }
      }
      const allMedias = [...idbMedias, ...idbFiles]
      // dasvams meta.tslist= {notSent: Date.now()} da meta.group = Array[ts1,ts2,..]
      if (allMedias.length > 1) {
        const arr = []
        for (const idbMedia of allMedias) {
          // const notSent = Date.now() + n
          const notSent = idbMedia.media.tsList[this.$enums.status.notSent]
          if (!idbMedia.meta) {
            idbMedia.meta = {}
          }
          idbMedia.meta.tsList = { [this.$enums.status.notSent]: notSent }
          arr.push(notSent)
          // n++
        }
        for (const idbMedia of idbMedias) {
          idbMedia.meta.group = arr
        }
      }
      return [...idbMedias, ...idbFiles]
    },
    _submit() {
      // this.$g.clog('uI submitText event= ', event)
      const idbMedias = this.getUitMediasAndCheckGroup()
      this.$g.clog('uit idbMedias ', idbMedias)
      if (idbMedias && idbMedias.length) {
        const messages = []
        for (const idbMedia of idbMedias) {
          const ts = idbMedia.media.tsList[this.$enums.status.notSent]
          // const tsMeta = idbMedia.meta.tsList[this.$enums.status.notSent]
          const message = {
            ts,
            meta: {
              ...idbMedia.meta,
              type: idbMedia.media.type,
              ext: idbMedia.media.ext,
              size: idbMedia.media.size
            },
            data: { blob: idbMedia.media.blob }
            // idbId: idbMedia.id, // rom gagzavnis shemdeg idbMedia-s cashla shevzlot
            /* callbacks: {
              handleProgress: this.handleProgress,
              handleErr: this.handleErr,
              handleSuccess: this.handleSuccess
            } */
          }
          delete idbMedia.meta
          messages.push(message)
        }
        this.sendFiles(messages)
      }
      const text = this.textContent
      if (text && text.length > 0) {
        // adjustMessage()-shi -> textData = {senderLang:'de', receiverLang: 'ka', text: 'Haus Tür', translatedText:'სახლი კარი' }
        const textData = { text }
        const ts = Date.now()
        this.sendText({
          ts,
          meta: { type: 'text', tsList: { [this.$enums.status.notSent]: ts } },
          data: { textData }
        })
        this.textContent = ''
      }
    },
    // jerjerobit emojis marto shav-tetrs da teqsttan ertad vagzavnit da ara calke. vnaxot momavalshi tu feradi dagvchirdeba
    _handleEmojiPicked(emoji) {
      // es pirveli xazi satestod
      // this.gData.messageList.push({ meta: { type: 'emoji' }, data: { author: 'me', emoji } })
      // this.emoji = emoji
      this.textContent += emoji
      this.$g.clog('uI this.textContent ', this.textContent)
      // this.onSubmit({ meta: { type: 'emoji' }, data: { author: 'me', emoji } })
    },
    _handleCameraSubmit() {
      this.$g.clog('uI _handleCameraSubmit ')
    },
    toVideoPage() {
      this.$g.clog('uI toVideoPage ')
      // this.$refs.video_dialog.startVideoStream() <-esec mushaobs
      this.$nextTick(() => {
        this.$refs.video_dialog.startVideoStream()
      })
    }
  }
}
</script>

<style>
.textContent {
  /* background-color: black; */
  border-radius: 15px !important;
}
.v-textarea.v-text-field--solo .v-input__append-inner {
  padding: 0 !important;
  margin-top: 0 !important;
  align-self: center !important ;
}
.buttons-row {
  position: absolute;
  bottom: 0;
  right: 0;
  /* margin-right: -5px; */
}
</style>
