<template>
  <Textpage :key-text="'tutorials/' + keyText" :locale="locale" :init-img-srcs="initImgSrcs" :with-bg="false" />
</template>

<script>
import Textpage from '../Textpage'

export default {
  components: {
    Textpage
  },
  props: {
    locale: {
      type: String,
      default: 'de'
    },
    keyText: {
      type: String,
      required: true
    }
  },
  mounted() {
    this.initImgSrcs()
  },
  /* updated() {
    this.initImgSrcs()
  }, */
  methods: {
    initImgSrcs() {
      this.$nextTick(() => {
        // const s = 'tutorials/' + this.locale + '/' + this.keyText + '/'
        // es droebit sanam mxolod germanulistvis gvaqvs suratebi
        const s = 'tutorials/' + 'de' + '/' + this.keyText + '/'
        // const array = document.getElementsByTagName('img')
        const array = document.getElementsByClassName(this.keyText)
        // console.log('cm array ', array)
        // console.log('cm array.length = ', array.length)
        try {
          for (let i = 0; i < array.length; i++) {
            const tag = array[i]
            if (tag) {
              // console.log('cm tag ', tag)
              // tag.src = require('desqchat/assets/tutorials/registration/reg' + (i + 1) + '.png') // <-es mushaobs
              tag.src = require('desqchat/assets/' + s + (i + 1) + '.png')
            }
          }
        } catch (error) {
          console.log('treg error ', error)
          // alert('tutorialReg error ' + error)
        }

        /* for (const n of arr) {
        const id = 'reg' + n
        if (document.getElementById(id)) {
          document.getElementById(id).src = require('desqchat/assets/tutorials/registration/' + id + '.png')
        }
      } */
      })
    }
  }
}
</script>
