<template>
  <v-container
    fluid
    fill-height
    class="pa-0 grey2"
    :style="{
      padding: '18px',
      backgroundImage: backgroundImage,
      backgroundSize: backgroundSize,
      backgroundRepeat: 'repeat'
    }"
  >
    <v-row no-gutters justify="center">
      <v-col md="8">
        <v-card>
          <v-toolbar color="primary" dark>
            <v-spacer></v-spacer>
            <!-- <v-app-bar-nav-icon></v-app-bar-nav-icon> -->
            <v-toolbar-title>{{ youtubeTutorials.header }}</v-toolbar-title>
            <v-spacer></v-spacer>
            <!-- <v-btn icon>
        <v-icon>mdi-magnify</v-icon>
      </v-btn>
      <v-btn icon>
        <v-icon>mdi-view-module</v-icon>
      </v-btn> -->
          </v-toolbar>
          <v-list subheader two-line>
            <v-subheader inset>{{ youtubeTutorials.youtubeHeader }}</v-subheader>
            <v-list-item v-for="tutorial in youtubeTutorials.items" :key="tutorial.title">
              <v-list-item-avatar>
                <v-icon :class="tutorial.color" dark v-text="tutorial.icon"></v-icon>
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title v-text="tutorial.title"></v-list-item-title>
                <v-list-item-subtitle>
                  <a :href="tutorial.url" target="_blank">{{ youtubeTutorials.toYoutube }} </a>
                </v-list-item-subtitle>
              </v-list-item-content>
              <!--<v-list-item-action>
          <a :href="tutorial.url" target="_blank">to Youtube</a>
           <v-btn icon>
            <v-icon color="grey lighten-1" @click="toYoutube(tutorial)">mdi-information</v-icon>
          </v-btn> 
        </v-list-item-action>-->
            </v-list-item>
          </v-list>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
// import Common from './Common'

export default {
  components: {
    // Common
  },
  props: {
    locale: {
      type: String,
      default: 'de'
    }
  },
  data() {
    return {
      youtubeTutorials: [],
      backgroundSize: '73.1px 67px'
    }
  },
  computed: {
    backgroundImage() {
      let bgImage = null
      if (this.withBg) {
        bgImage = this.$vuetify.theme.dark
          ? 'url(' + require('desqchat/assets/logoPatterns/dark.svg') + ')'
          : 'url(' + require('desqchat/assets/logoPatterns/light.svg') + ')'
        // bgImage = this.$vuetify.theme.dark ? `url('desqchat/assets/logoPatterns/dark.svg')` : `url('logoPatterns/light.svg')`
      }
      return bgImage
    }
  },
  mounted() {
    this.youtubeTutorials = this.$g.readVideoTutorialsFromKeysJSonfile(this.locale)
    console.log('oy this.youtubeTutorials = ', this.youtubeTutorials)
  },
  methods: {
    toYoutube(tutorial) {
      console.log('oy tutorial = ', tutorial)
    }
  }
}
</script>
