<template>
  <Common key-text="testwebsite" :locale="locale" />
</template>

<script>
import Common from './Common'

export default {
  components: {
    Common
  },
  props: {
    locale: {
      type: String,
      default: 'de'
    }
  }
}
</script>
