<template>
  <v-layout class="red">
    <!-- <v-layout class="audio-controls" justify-center>
      <v-btn text dark x-small color2="black" title="play" @click.stop="togglePlayPause">
        <v-icon>mdi-play</v-icon>
      </v-btn>
      <v-btn text dark x-small color2="black" title="pause" @click.stop="togglePlayPause">
        <v-icon>mdi-pause</v-icon>
      </v-btn>
      <v-btn text dark x-small color2="black" title="louder" @click.stop="volumePlus">
        <v-icon>mdi-volume-plus</v-icon>
      </v-btn>
      <v-btn text dark x-small color2="black" title="slower" @click.stop="volumeMinus">
        <v-icon>mdi-volume-minus</v-icon>
      </v-btn>
    </v-layout>
    <v-progress-linear v-model="progress" color="amber" height="25"></v-progress-linear> -->
    <audio
      ref="myaudio"
      preload="auto"
      controls
      autoplay2
      height2="200"
      width2="80"
      style="width: 100%"
      class="audio-controls"
    >
      <source :src="getSrc" type="audio/mp4" />
      Your browser does not support the audio element.
    </audio>
  </v-layout>
</template>

<script>
export default {
  props: {
    idbMedia: {
      type: Object,
      default() {
        return {}
      }
    }
  },
  data() {
    return {
      progress: 0
    }
  },
  computed: {
    getSrc() {
      this.$g.clog('ac this.idbMedia = ', this.idbMedia)
      if (this.idbMedia && this.idbMedia.media) {
        if (this.idbMedia.media.blob) {
          return URL.createObjectURL(this.idbMedia.media.blob)
        } else if (this.idbMedia.media.relPath) {
          const fileUrl = this.$g.gdata.baseUrl + this.idbMedia.media.relPath
          this.$g.clog('ac fileUrl ', fileUrl)
          return fileUrl
        }
      }
      return null
    }
  },
  methods: {
    addPlayListener() {
      const audio = this.$refs.myaudio
      audio.addEventListener('loadeddata', () => {
        this.progress = (audio.currentTime / audio.duration) * 100
        // The duration variable now holds the duration (in seconds) of the audio clip
      })
    },
    volumePlus(ev) {
      const audio = this.$refs.myaudio
      this.$g.clog('ac toggleMute audio.volume = ', audio.volume)
      if (audio.volume <= 0.9) {
        audio.volume += 0.1
      }
    },
    volumeMinus(ev) {
      const audio = this.$refs.myaudio
      this.$g.clog('ac toggleMute audio.volume = ', audio.volume)
      if (audio.volume >= 0.1) {
        audio.volume -= 0.1
      }
    },
    togglePlayPause(ev) {
      this.$g.clog('ac togglePlayPause ev = ', ev)
      const myaudio = this.$refs.myaudio
      if (myaudio.paused || myaudio.ended) {
        myaudio.play()
      } else {
        myaudio.pause()
      }
    }
  }
}
</script>

<style scoped>
.audio-controls {
  position: absolute;
  top: 40%;
  height: 20%;
  /* z-index: 1; */
}
.fullscreen-element1 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  /* width: auto; */
  min-height: 100%;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  /* background: url(polina.jpg) no-repeat; */
  /* background-size: cover; */
}
video::-webkit-media-controls-panel {
  position: absolute !important;
  top: 0;
  opacity: 1 !important;
  display: -webkit-flex !important;
  /*  margin-top: 30px;
  height: 30px; */

  background-color: #34495e;
  border-radius: 0 0 10px 10px;
}
</style>
