<template>
  <v-row ref="main_row" justify="space-around" class="main-row" no-gutters>
    <v-tooltip :open-delay="OPEN_DELAY_TOOLTIPS || 400" bottom>
      <template #activator="{ on }">
        <v-icon v-if="showDownloadIcon" :size="iconSize" class="mx-1 white--text" @click.stop="downloadMedia" v-on="on">
          mdi-download
        </v-icon>
      </template>
      <span>{{ $g.t('qchat.media.tooltips.download_media') }}</span>
    </v-tooltip>
    <span v-if="sizeText" :style="{ fontSize: fontSize + 'px' }" color="white">
      {{ sizeText }}
    </span>
    <v-tooltip :open-delay="OPEN_DELAY_TOOLTIPS || 400" bottom>
      <template #activator="{ on }">
        <v-icon
          v-if="idbMedia && idbMedia.media && idbMedia.media.type && idbMedia.media.type.includes('image')"
          :size="iconSize"
          class="mx-1 white--text"
          @click.stop="setContain"
          v-on="on"
          >mdi-move-resize
        </v-icon>
      </template>
      <span>{{ $g.t('qchat.media.tooltips.resize_media') }}</span>
    </v-tooltip>
    <!-- <v-icon
      v-if="showDownloadIcon"
      :size="iconSize"
      class="mx-1 white--text"
      :title="$g.t('qchat.media.tooltips.cloud_media')"
    >
      mdi-cloud
    </v-icon> -->
    <v-tooltip :open-delay="OPEN_DELAY_TOOLTIPS || 400" bottom>
      <template #activator="{ on }">
        <v-icon v-if="showDeleteIcon" :size="iconSize" class="mx-1 white--text" @click.stop="removeMedia" v-on="on">
          mdi-delete
        </v-icon>
      </template>
      <span>{{ $g.t('qchat.media.tooltips.delete_media') }}</span>
    </v-tooltip>
  </v-row>
</template>

<script>
export default {
  props: {
    idbMedia: {
      type: Object,
      default() {
        return { media: { type: {} } }
      }
    },
    questionItem: {
      type: Object,
      default: null
    },
    itemValue: {
      type: Object,
      default: () => {}
    },
    caller: {
      type: String,
      default: 'chat'
    },
    expanded: {
      type: Boolean,
      default: false
    },
    setContain: {
      type: Function,
      default: () => {}
    }
  },
  data() {
    return {
      iconSize: 16,
      fontSize: 12
    }
  },
  computed: {
    showCloudIcon() {
      return this.idbMedia.media && this.idbMedia.media.relPath
    },
    showDownloadIcon() {
      return this.idbMedia.media && this.idbMedia.media.relPath
    },
    showDeleteIcon() {
      this.$g.clog('fc showDeleteIcon this.caller = ', this.caller)
      // this.$g.clog('fc showDeleteIcon this.idbMedia = ', this.idbMedia)
      // tu chatia da mongodan aris chamotvirtuli ver cashlis
      if (this.caller.includes(this.$enums.caller.chat) && this.idbMedia.media.relPath) {
        return false
      }
      const card = this.$g.store.getters.card
      const isOrderer = this.$g.userIsOrderer(card)
      const isBuyer = this.$g.userIsBuyer(card)
      let isExample = false
      if (card) {
        isExample = this.$g.isExampleQuestionnairePage(card.id)
      }
      if (this.caller === this.$enums.caller.questionnaire && (isOrderer || isBuyer || isExample)) {
        return false
      }
      /* if (this.caller === this.$enums.caller.questionnaire && this.idbMedia.media.relPath) {
        return false
      } else if (this.caller === this.$enums.caller.chat && this.idbMedia.sent === this.$enums.status.notSent) {
        // tu chatia da ukve gagzavnilia ver cashlis
        return false
      } */
      return true
    },
    sizeText() {
      if (this.idbMedia) {
        this.$g.clog('fc this.idbMedia', this.idbMedia)
        const origSize = this.idbMedia.media.size
        const size = Math.round(origSize / 1000)
        if (size > 1000) {
          return Number.parseFloat(size / 1000).toFixed(1) + ' MB'
        } else return size + ' KB'
      }
      return null
    }
  },
  watch: {
    expanded(newVal, oldVal) {
      if (newVal) {
        this.iconSize = 32
        this.fontSize = 24
      } else {
        this.iconSize = 16
        this.fontSize = 12
      }
    }
  },
  mounted() {
    // console.log('fc this.idbMedia = ', this.idbMedia)
  },
  methods: {
    addDeleteTag(attachments) {
      let added = false
      const keys = ['medias', 'files']
      keys.forEach((key) => {
        if (attachments[key]) {
          for (let i = 0; i < attachments[key].length; i++) {
            // const relPath = attachments.medias[i]
            const relPath = attachments[key][i]
            if (relPath === this.idbMedia.media.relPath) {
              attachments[key][i] = this.$g.gdata.deletePrefix + relPath
              added = true
              break
            }
          }
        }
      })
      return added
    },
    removeMedia() {
      // tu questionnaire-ia da mongoze arsebuli failis cashla surs
      if (this.questionItem && this.idbMedia && this.idbMedia.media && this.idbMedia.media.relPath) {
        const itemValue = this.itemValue
        this.$g.clog('fc this.itemValue.attachments ', this.itemValue.attachments)
        this.$g.clog('fc this.idbMedia ', this.idbMedia)
        const questionnaireIndex = this.questionItem ? this.questionItem.index : null
        if (itemValue && itemValue.attachments) {
          // const attachments = this.$g.cloneObj(itemValue.attachments)
          let _itemValue = this.$g.cloneObj(itemValue)
          const qValues = this.$g.cloneObj(this.$g.getCardIdQuestionnaireValues())
          const toRemove = this.idbMedia.media.relPath
          // ამოვშალოთ _itemValue-დან ეს relPath
          _itemValue = this.$g.deleteRelPathInItemValueAttachments(_itemValue, toRemove)
          qValues.values[questionnaireIndex] = _itemValue
          const filesize = this.$g.getFilesizeFromRelPath(toRemove)
          // davucerot axali attachSize
          qValues.attachSize = qValues.attachSize - +filesize
          this.$g.clog('fc qValues.attachSize ', qValues.attachSize)
          // mongo-shi qValues.values stringad inaxeba
          qValues.values = JSON.stringify(qValues.values)
          const requestObj = { _id: qValues._id, toRemove, qValues }
          this.$g.clog('fc requestObj ', requestObj)
          this.$g
            .removeQMediaOnMongo(requestObj)
            .then(() => {
              const card = this.$g.store.getters.card
              this.$g.store.commit('setQValuesAttachSize', { cardId: card.id, attachSize: qValues.attachSize })
              this.$g.clog('fc removeQMediaOnMongo succeded ')
              this.$g.store.commit('setQuestionnaireItemValues', {
                cardId: this.$g.store.getters.card.id,
                index: questionnaireIndex,
                data: { attachments: _itemValue.attachments }
              })
              this.$g.store.commit('setCardIndicatorParams', {
                card,
                target: 'questionnaire',
                prop: 'alreadySentMediaSize',
                size: qValues.attachSize
              })
              this.$g.getMediasForQuestionnaire({
                questionnaireIndex,
                downloaded: true,
                itemValue: _itemValue
              })
            })
            .catch((e) => {
              this.$g.clog('fc removeQMediaOnMongo error: ', e)
            })

          // davumatet cin delete_
          /* const added = this.addDeleteTag(_itemValue.attachments)
          this.$g.clog('fc attachments ', _itemValue.attachments)
          if (added) {
            this.$g.clog('fc questionnaireIndex ', questionnaireIndex)
            this.$g.store.commit('setQuestionnaireItemValues', {
              cardId: this.$g.store.getters.card.id,
              index: questionnaireIndex,
              data: { attachments: _itemValue.attachments }
            })
            this.$g.getMediasForQuestionnaire({
              questionnaireIndex,
              downloaded: true,
              itemValue: _itemValue
            })
          } */
        }
        return
      }
      this.$g.removeMedia(this.idbMedia, this.questionItem ? this.questionItem.index : null, this.caller)
    },
    downloadMedia() {
      // console.log('fc caller ', this.caller)
      // console.log('fc downloadMedia ', this.idbMedia)
      // this.$g.chatEBus.$emit(events.downloadFileFromBack, { _caller: this.caller, idbMedia: this.idbMedia })
      this.$g.downloadFileFromServer(this.idbMedia.media.relPath)
    }
  }
}
</script>

<style>
.main-row {
  color: white;
  background-color: gray;
  /* border-radius: 5px; */
  opacity: 0.5;
  /* width2: 100%; */
}

/* .sc-suggestions-element {
  margin: 3px;
  padding: 5px 10px 5px 10px;
  border: 1px solid;
  border-radius: 15px;
  font-size: 14px;
  background: inherit;
  cursor: pointer;
} */
</style>
s
