<template>
  <v-container fluid fill-height class="top-div2 red2 pa-0" @click="expandMedia">
    <FileChip
      class="file-chip"
      style="width: 100%"
      :question-item="questionItem"
      :item-value="itemValue"
      :caller="caller"
      :expanded="expanded"
      :set-contain="setContain"
      :idb-media="idbMedia"
    />
    <div v-if="showStatusChip" class="status-chip mr-3 mb-1">
      <StatusChip :ts-list="idbMedia.media.tsList" :message-is-my="idbMedia.isMy" />
    </div>
    <v-row ref="media_row" justify="center" no-gutters class="red2">
      <!-- <div class="file-chip ml-3 mb-1"> -->
      <!-- </div> -->
      <v-img
        v-if="idbMedia && idbMedia.media && idbMedia.media.type && idbMedia.media.type.includes('image')"
        id="vimg"
        ref="vimg"
        :src="getSrc"
        :height="slideHeight"
        :class="{ 'fullscreen-element': expanded }"
        :contain="contain"
        alt
        @click2="expandMedia"
      >
        <template #placeholder>
          <v-row class="fill-height ma-0" align="center" justify="center">
            <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
          </v-row>
        </template>
      </v-img>
      <VideoControls
        v-if="idbMedia && idbMedia.media && idbMedia.media.type && idbMedia.media.type.includes('video')"
        :idb-media="idbMedia"
      />
      <AudioControls
        v-else-if="idbMedia && idbMedia.media && idbMedia.media.type && idbMedia.media.type.includes('audio')"
        :idb-media="idbMedia"
      />
      <v-row
        v-else-if="idbMedia && idbMedia.media && idbMedia.media.type && idbMedia.media.type.includes('file')"
        justify="center"
      >
        <v-card class2="red--text">{{ getFilenameText(idbMedia) }}</v-card>
      </v-row>
    </v-row>
  </v-container>
</template>

<script>
import { getFilenameText } from '../helpers/methodsCtx'
import StatusChip from './StatusChip'
import FileChip from './FileChip'
import AudioControls from './AudioControls'
import VideoControls from './VideoControls'
// import { submitFileMixIn } from './help'

export default {
  components: {
    VideoControls,
    AudioControls,
    StatusChip,
    FileChip
  },
  // mixins: [submitFileMixIn],
  props: {
    // animatedType:animations.HEART_BEAT,
    texts: {
      type: Object,
      default() {
        return {}
      }
    },
    questionItem: {
      type: Object,
      default: null
    },
    index: {
      type: Number,
      default: 0
    },
    leftIndex: {
      type: Number,
      default: 0
    },
    rightIndex: {
      type: Number,
      default: 0
    },
    expanded: {
      type: Boolean,
      default: false
    },
    caller: {
      type: String,
      default: 'chat'
    },
    isCurrent: {
      type: Boolean,
      default: false
    },
    slideHeight: {
      type: [String, Number],
      default: 180
    },
    itemValue: {
      type: Object,
      default: () => {}
    },
    idbMedia: {
      type: Object,
      default() {
        return { media: { type: {} } }
      }
    }
  },
  data() {
    return {
      isActive: false,
      scale: 2,
      contain: false,
      hover: false,
      maxSize: 2000000
    }
  },
  computed: {
    getSrc() {
      this.$g.clog('mi this.idbMedia = ', this.idbMedia)
      if (this.idbMedia && this.idbMedia.media) {
        // mashin idb-dan mogvaqvs
        if (this.idbMedia.media.blob) {
          return URL.createObjectURL(this.idbMedia.media.blob)
        } else if (this.idbMedia.media.relPath) {
          // tu ukve cavshalet
          if (this.idbMedia.media.relPath.includes(this.$g.gdata.deletePrefix)) {
            return null
          }
          // mashin mongo-dan mogvaqvs
          let fileUrl
          if (process.env.G_LOCALHOST && JSON.parse(process.env.G_LOCALHOST)) {
            fileUrl = this.$g.gdata.baseUrl + this.idbMedia.media.relPath
          } else {
            // production-is dros fileUrl = https://medias.deservice.net/chats/1606488553177_3494822.jpeg
            // an https://medias.deservice.net/questionnaires/1606488553177_3494822.jpeg
            fileUrl = this.$g.gdata.baseUrlMedias + this.idbMedia.media.relPath
          }
          this.$g.clog('mi fileUrl ', fileUrl)
          return fileUrl
        }
      }
      return null
    },
    showDeleteIcon() {
      // this.$g.clog('mi showDeleteIcon this.idbMedia ', this.idbMedia)
      return this.idbMedia.sent === this.$enums.status.notSent && !this.expanded
    },
    showStatusChip() {
      return this.caller !== this.$enums.caller.chatUit // && this.idbMedia.isMy
    },
    /* showSettings() {
      return this.caller !== caller.chatUit && this.idbMedia.isMy
    }, */
    showDownloadIcon() {
      // this.$g.clog('mi showDownloadIcon this.idbMedia = ', this.idbMedia)
      // es unda ikos -> return this.idbMedia.sent === status.received && !this.expanded
      const show = this.idbMedia.sent === this.$enums.status.received && !this.expanded
      // this.$g.clog('mi showDownloadIcon show = ', show)
      return show
    },
    filename() {
      // this.$g.clog('mi filename this.idbMedia =  ', this.idbMedia)
      const n = 150
      if (this.idbMedia && this.idbMedia.media.filename) {
        let s = this.idbMedia.media.filename
        if (s && s.length > n) {
          s = s.substr(0, n) + '...'
        }
        return s
      }
      return ''
    },
    sizeText() {
      if (this.idbMedia) {
        // this.$g.clog('mi this.idbMedia: ', this.idbMedia)
        return this.getSize(this.idbMedia.media.size)
      }
      return null
    }
  },
  created() {
    // if (this.idbMedia.media.idbId) {
    // this.setSrcFromIdb()
    // }
  },
  mounted() {},
  methods: {
    getFilenameText,
    /* setSrcFromIdb() {
      // id: this.idbMedia.media.idbId
      this.$g.readMediaById({ id: this.idbMedia.media.tsList.notSent }).then((idbMedia) => {
        this.$g.clog('mi idbMedia ' + idbMedia)
        this.idbMedia = idbMedia
      })
    }, */
    setContain() {
      this.contain = !this.contain
    },
    expandMedia2(ev) {
      this.requestFullscreen(this.$refs.vimg)
    },
    requestFullscreen(el) {
      this.$g.clog('mi el.requestFullScreen = ' + el.requestFullScreen)
      this.$g.clog('mi el.webkitRequestFullScreen = ' + el.webkitRequestFullScreen)
      this.$g.clog('mi el.mozRequestFullScreen = ' + el.mozRequestFullScreen)
      if (el.requestFullScreen) {
        el.requestFullScreen()
      } else if (el.msRequestFullscreen) {
        el.msRequestFullscreen()
      } else if (el.webkitRequestFullScreen) {
        el.webkitRequestFullScreen()
      } else if (el.mozRequestFullScreen) {
        el.mozRequestFullScreen()
      }
      this.isActive = true
    },
    expandMedia(ev) {
      // expand mxolod image-ebistvis. video tviton aketebs amas, audio-s ar schirdeba
      if (!this.expanded && this.isCurrent && this.idbMedia.media.type.includes('image')) {
        this.$g.clog('mi expandMedia ev = ' + ev)
        // gadavecit currentIndex payload-ad
        this.$emit('expandMedia', this.index)
      } else if (this.expanded) this.closeDialog()
    },
    /* getHeight() {
      const height = window.innerHeight
      // this.$g.clog('159 height ', height)
      return height
    }, */
    getSize(origSize) {
      const size = Math.round(origSize / 1000)
      if (size > 1000) {
        return Number.parseFloat(size / 1000).toFixed(1) + ' MB'
      } else return size + ' KB'
    },
    closeDialog(ev) {
      if (this.expanded) {
        this.$g.clog('mi closeDialog shrink')
        this.$emit('shrinkMedia', this.index)
      }
    }
  }
}
</script>

<style scoped>
.video-media {
  object-fit: contain; /* contain, cover, fill, none */
  z-index: -100 !important;
}
.video-controls {
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  z-index: 1;
}
.status-chip {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.file-chip {
  position: absolute;
  top: 0;
  /* left: 0; */
  z-index: 1;
}
.top-div {
  position: relative;
}
.dialog-delete-icon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
.action-icons-layout {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  /* color: black; */
  background-color: transparent;
}
.delete-icon {
  z-index: 1;
}
.fullscreen-element {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  width: auto;
  min-height: 100%;
  height: auto;
  /* z-index: -1; */
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  /* background: url(polina.jpg) no-repeat; */
  background-size: cover;
}
</style>
