<template>
  <v-row
    v-if="idbMedias"
    ref="carousel_layout"
    :style2="{ height: +slideHeight + 'px' }"
    :justify="justify"
    class="top-layout2 grey2"
    align2="center"
    no-gutters
  >
    <!-- :space="150" -->
    <carousel-3d
      ref="carousel"
      :key="myCarouselKey"
      :height="slideHeight"
      :width="slideWidth"
      :perspective="0"
      :autoplay-timeout="2000"
      :display="display"
      :bias="bias"
      :start-index="startIndex"
      :controls-visible="controlsVisible"
      :style="{ width: carouselWidth }"
      :border="3"
      class2="yellow"
      style3="z-index: 20;"
      autoplay2
      autoplay-hover-pause
      inverse-scaling2="-100"
    >
      <slide
        v-for="(idbMedia, i) in idbMedias"
        :key="idbMedia.media.tsList.notSent"
        :index="i"
        :class="carouselStyleData.fm_bg"
        :style2="{ borderColor: carouselStyleData.fm_bg }"
      >
        <template slot-scope="{ index, isCurrent, leftIndex, rightIndex }">
          <MediaItem
            :index="index"
            :is-current="isCurrent"
            :left-index="leftIndex"
            :right-index="rightIndex"
            :idb-media="idbMedia"
            :expanded="expanded"
            :caller="caller"
            :question-item="questionItem"
            :item-value="itemValue"
            :slide-height="slideHeight"
            :texts="texts.fotoItem_texts"
            @expandMedia="expandMedia"
            @shrinkMedia="shrinkMedia"
          />
        </template>
      </slide>
    </carousel-3d>
    <v-dialog v-model="expanded" eager fullscreen persistent>
      <v-container :style2="{ height: $g.gTestData.fullScreenHeight }" fluid fill-height class="expand-dialog pa-0">
        <v-carousel
          ref="carousel_expanded"
          v-model="vCarouselIndex"
          :cycle="false"
          style="height: 100%"
          class2="carous"
          hide-delimiters2
        >
          <v-carousel-item v-for="idbMedia in idbMedias" :key="idbMedia.media.tsList.notSent" class="borderBox2">
            <MediaItem
              :index="vCarouselIndex"
              :is-current="true"
              :left-index="0"
              :right-index="0"
              :idb-media="idbMedia"
              :expanded="expanded"
              :caller="caller"
              :question-item="questionItem"
              :texts="texts.fotoItem_texts"
              slide-height2="100%"
              @expandMedia="expandMedia"
              @shrinkMedia="shrinkMedia"
            />
          </v-carousel-item>
        </v-carousel>
      </v-container>
    </v-dialog>
  </v-row>
</template>

<script>
import { Carousel3d, Slide } from 'vue-carousel-3d'
import MediaItem from './MediaItem'
export default {
  components: {
    MediaItem,
    Carousel3d,
    Slide
  },
  props: {
    justify: {
      type: String,
      default: 'center' // center || start || end
    },
    carouselStyleData: {
      type: Object,
      default: () => {
        return {}
      }
    },
    slideHeight: {
      type: Number,
      default: 150
    },
    slideWidth: {
      type: Number,
      default: 200
    },
    controlsVisible: {
      type: Boolean,
      default: false
    },
    idbMedias: {
      type: Array,
      default: null
    },
    caller: {
      type: String,
      default: 'chat'
    },
    texts: {
      type: Object,
      default: () => {
        return {}
      }
    },
    questionItem: {
      type: Object,
      default: () => {}
    },
    itemValue: {
      type: Object,
      default: () => {}
    },
    getMedias: {
      type: Function,
      default: () => {}
    },
    currentIndex: {
      type: Number,
      default: -1
    },
    display: {
      type: Number,
      default: 3
    },
    bias: {
      type: String,
      default: 'left'
    },
    setBias: {
      type: Function,
      default: () => {}
    },
    carouselWidth: {
      type: String,
      default: '100%'
    },
    setCarouselWidth: {
      type: Function,
      default: () => {}
    }
  },
  data() {
    return {
      // componentKey: 0, questionItem-shia
      startIndex: 0,
      vCarouselIndex: 0,
      myCarouselKey: 0,
      expanded: false
    }
  },
  computed: {
    /* getTsList() {
      return this.idbMedia.media.tsList
    } */
  },
  watch: {
    justify(val, oldVal) {
      let width = '100%'
      switch (val) {
        case 'center':
          width = '100%'
          break
        case 'start':
          if (this.display === 1) {
            width = this.shrink_1_display
          } else width = this.shrink_3_display
          // this.bias = 'left'
          this.setBias('left')
          break
        case 'end':
          if (this.display === 1) {
            width = this.shrink_1_display
          } else width = this.shrink_3_display
          // this.bias = 'right'
          this.setBias('right')
          break
      }
      this.$g.clog('mc3d width = ', width)
      this.setCarouselWidth(width)
      // this.carouselWidth = width
    } /* ,
    currentIndex(val, oldVal) {
      if (val > -1) {
        this.$g.clog('currentIndex val ', val)
        this.$nextTick(() => {
          this.$refs.carousel.goSlide(val)
        })
      }
    } */
  },
  methods: {
    expandMedia(index) {
      this.$g.clog('mc3d expandMedia index ', index)
      this.expanded = true
      this.$nextTick(() => {
        this.vCarouselIndex = index
        // this.$refs.carousel_expanded.goSlide(index)
        // this.$refs.carousel.goSlide(index)
        // this.myCarouselKey++
      })
    },
    shrinkMedia(index) {
      this.$g.clog('mc3d shrinkMedia index ', index)
      this.$g.clog('mc3d shrinkMedia this.vCarouselIndex ', this.vCarouselIndex)
      this.expanded = false
      this.$nextTick(() => {
        // this.$refs.carousel_expanded.goSlide(index)
        this.$refs.carousel.goSlide(this.vCarouselIndex)
        // this.myCarouselKey++
      })
    }
  }
}
</script>
<style scoped>
.expand-dialog {
  background-color: white;
  /* z-index: 10000; */
}
.carousel-3d-container {
  margin: 0 !important;
  /*  width: 60%; */
}
.carousel-3d-slide2 {
  border-color: green !important;
}
.top-layout {
  z-index: 1;
}
</style>
