<template>
  <v-speed-dial
    v-model="fab"
    :direction="direction"
    :open-on-hover="hover"
    :transition="transition"
    :top="top"
    :bottom="bottom"
    :right="right"
    :left="left"
  >
    <template #activator>
      <v-btn v-model="fab" :text2="!fab" x-small color="blue darken-2" dark fab>
        <v-icon v-if="fab" color="blue darken-2">mdi-close</v-icon>
        <v-icon v-else>mdi-wrench</v-icon>
      </v-btn>
    </template>
    <des-tooltip :text="$g.t('qchat.media.change_layout')">
      <v-btn fab dark x-small color="green" @click="setContain">
        <v-icon>mdi-pencil</v-icon>
      </v-btn>
    </des-tooltip>
    <des-tooltip v-if="expanded" :text="$g.t('qchat.media.close_dialog')">
      <v-btn fab dark x-small color="indigo" @click="closeDialog">
        <v-icon>mdi-exit-to-app</v-icon>
      </v-btn>
    </des-tooltip>
    <des-tooltip v-if="showDeleteIcon" :text="$g.t('qchat.media.remove_media')">
      <v-btn fab dark x-small color="red" @click="removeMedia">
        <v-icon>mdi-delete</v-icon>
      </v-btn>
    </des-tooltip>
    <des-tooltip v-if="showDownloadIcon" :text="$g.t('qchat.media.download_file')">
      <v-btn fab dark x-small color="red" @click="downloadMedia">
        <v-icon>mdi-download</v-icon>
      </v-btn>
    </des-tooltip>
    <v-btn v-if="sizeText" text x-small color2="transparent">
      {{ sizeText }}
    </v-btn>
  </v-speed-dial>
</template>

<script>
export default {
  props: {
    questionItem: {
      type: Object,
      default: null
    },
    caller: {
      type: String,
      default: 'chat'
    },
    idbMedia: {
      type: Object,
      default() {
        return {}
      }
    },
    sizeText: {
      type: String,
      default: ''
    },
    closeDialog: {
      type: Function,
      default: () => {}
    },
    expanded: {
      type: Boolean,
      default: false
    },
    showDeleteIcon: {
      type: Boolean,
      default: true
    },
    showDownloadIcon: {
      type: Boolean,
      default: false
    },
    setContain: {
      type: Function,
      default: () => {}
    }
  },
  data: () => ({
    direction: 'right',
    fab: false,
    fling: false,
    hover: false,
    tabs: null,
    top: false,
    right: false,
    bottom: false,
    left: false,
    transition: 'slide-y-reverse-transition'
  }),

  methods: {
    removeMedia() {
      this.$g.removeMedia(this.idbMedia, this.questionItem ? this.questionItem.index : null, this.caller)
    },
    downloadMedia() {
      // this.$g.chatEBus.$emit(events.downloadFileFromBack, { _caller: caller.chat, idbMedia: this.idbMedia })
      this.$g.downloadFileFromServer(this.idbMedia.media.relPath)
    }
  }
}
</script>

<style scoped></style>
