<template>
  <v-chip x-small class="pl-1 pt-2" style="font-size: 8px; float: right" color="transparent" text-color="white">
    {{ formatedTs }}
    <v-icon v-if="messageIsMy" :color="color" right x-small>{{ statusIcon }}</v-icon>
  </v-chip>
</template>

<script>
import moment from 'moment'
export default {
  props: {
    tsList: {
      type: Object,
      default: () => {
        return {}
      }
    },
    message: {
      type: Object,
      default: null
    },
    messageIsMy: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      formatedTs: '',
      statusIcon: 'clock_outline',
      sendIconColor: 'message_not_received',
      color: 'white'
    }
  },
  watch: {
    tsList(val, oldVal) {
      this.$g.clog('sc val = ', val)
      this.initData()
    }
  },
  created() {
    this.initData()
  },
  methods: {
    initData() {
      if (this.tsList) {
        const tsList = this.tsList
        if (Object.keys(tsList).length) {
          let ts = 0
          Object.keys(tsList).forEach((key) => {
            const value = tsList[key]
            switch (key) {
              case this.$enums.status.read:
                ts = value
                this.statusIcon = 'mdi-check-all'
                this.sendIconColor = 'message_is_received'
                this.color = 'green'
                break
              case this.$enums.status.received:
                ts = value
                this.statusIcon = 'mdi-check-all'
                // es shesacvlelia, roca read-s davakenebt
                this.sendIconColor = 'message_is_received'
                this.color = 'white'
                break
              case this.$enums.status.savedInDb:
                ts = value
                this.statusIcon = 'mdi-check'
                this.sendIconColor = 'message_not_received'
                this.color = 'white'
                break
              case this.$enums.status.notSent:
                ts = value
                this.statusIcon = 'mdi-clock'
                this.sendIconColor = 'message_not_received'
                this.color = 'white'
                break
            }
          })
          this.$g.clog('sc this.statusIcon ', this.statusIcon)
          this.formatedTs = moment.unix(ts / 1000).format(this.$g.gdata.messageTsFormat) // 'DD.MM.YY HH:mm:ss'
          if (this.message && this.messageIsMy) {
            this.$g.clog('sc this.message = ', JSON.stringify(this.message))
            // gamgzavns mivucerot, tu ra enaze vutargmnet mimghebs
            const textData = this.message.data.textData
            if (textData.senderLang !== textData.receiverLang) {
              this.formatedTs = textData.receiverLang + ' ' + this.formatedTs
            }
          }
        }
      }
    }
  }
}
</script>

<style scoped>
.header-text {
  font-size: 8px;
  opacity: 0.5;
}
.main-text {
  font-size: 14px;
}
.blured-text {
  font-size: 10px;
  opacity: 0.7;
}
.main-div {
  min-width: 20%;
  max-width: 20%;
}
.text-message {
  border-radius: 6px;
  /* font-weight: 300; */
  /* font-size: 14px; */
  /* line-height: 1.1; */
  /* white-space: pre-wrap; */
  /* -webkit-font-smoothing: subpixel-antialiased; */
}
a.chatLink {
  color: inherit !important;
}
</style>
