<template>
  <div style2="position:relative" class2="fullscreen-video">
    <v-layout v-show="false" class="video-controls2 red2" justify-center>
      <v-btn v-if="!playing" text dark x-small color="black" title="play" @click.stop="togglePlayPause">
        <v-icon>mdi-play</v-icon>
      </v-btn>
      <v-btn v-else text dark x-small color="black" title="pause" @click.stop="togglePlayPause">
        <v-icon>mdi-pause</v-icon>
      </v-btn>
      <v-btn v-if="!muted" text dark x-small color="black" title="speaking" @click.stop="toggleMute">
        <v-icon>mdi-volume-low</v-icon>
      </v-btn>
      <v-btn v-else text dark x-small color="black" title="muted" @click.stop="toggleMute">
        <v-icon>mdi-volume-mute</v-icon>
      </v-btn>
      <v-btn v-if="!fullscreen" text dark x-small color="black" title="shrinked" @click.stop="requestFullscreen">
        <v-icon>mdi-fullscreen</v-icon>
      </v-btn>
      <v-btn v-else text dark x-small color="black" title="fullscreen" @click.stop="cancellFullscreen">
        <v-icon>mdi-fullscreen-exit</v-icon>
      </v-btn>
    </v-layout>
    <video id="myvideo" ref="myvideo" preload="auto" autoplay2 controls playsinline2 class="fullscreen-video">
      <source :src="getSrc" type="video/mp4" />
      Your browser does not support the video element.
    </video>
  </div>
</template>

<script>
/* import Media from '@dongido/vue-viaudio'
import myVideo from 'vue-video' */
export default {
  props: {
    // animatedType:animations.HEART_BEAT,
    texts: {
      type: Object,
      default() {
        return {}
      }
    },
    idbMedia: {
      type: Object,
      default() {
        return {}
      }
    }
  },
  data() {
    return {
      muted: false,
      fullscreen: false,
      playing: false
    }
  },
  computed: {
    /* video() {
      const video = {
        sources: [
          {
            src: 'http://192.168.178.20:4129/cmedias/1601840383110_3340498.mp4',
            resolution: '520p'
          }
        ],
        options: {
          autoplay: true,
          volume: 0.6,
          poster: 'http://covteam.u.qiniudn.com/poster.png'
        }
      }
      return video
    }, */
    getSrc() {
      this.$g.clog('vc this.idbMedia = ', this.idbMedia)
      if (this.idbMedia && this.idbMedia.media) {
        if (this.idbMedia.media.blob) {
          // mashin pendingMessageFile aris da blob idb-shia
          return URL.createObjectURL(this.idbMedia.media.blob)
        } else if (this.idbMedia.media.relPath) {
          // mashin ukve atvirtulia serverze
          const fileUrl = this.$g.gdata.baseUrl + this.idbMedia.media.relPath
          this.$g.clog('vc fileUrl ', fileUrl)
          return fileUrl
        }
      }
      return null
    }
  },
  mounted() {
    this.addFullscreenChangeListener()
    const myvideo = document.getElementById('myvideo')
    this.$g.clog('vc myvideo = ', myvideo)
    this.$g.clog('vc this.$refs.myvideo = ', this.$refs.myvideo)

    const events = ['pause', 'ended']
    events.forEach((event) => {
      myvideo.addEventListener(
        event,
        () => {
          // Change the button to be a play button
          // changeButtonType(btnPlayPause, 'play')
          this.$g.clog('vc pause')
          this.playing = false
        },
        false
      )
    })
    myvideo.addEventListener(
      'play',
      () => {
        this.$g.clog('vc ended')
        this.playing = true
      },
      false
    )
    myvideo.addEventListener(
      'volumechange',
      function (e) {
        // Update the button to be mute/unmute
        this.muted = myvideo.muted
      },
      false
    )
  },
  methods: {
    toggleMute(ev) {
      const video = this.$refs.myvideo
      this.$g.clog('vc toggleMute ev = ', ev)
      this.$g.clog('vc toggleMute video.muted = ', video.muted)
      video.muted = !video.muted
      this.muted = video.muted
    },
    togglePlayPause(ev) {
      this.$g.clog('vc togglePlayPause ev = ', ev)
      const video = this.$refs.myvideo
      if (video.paused || video.ended) {
        // playpause.title = "pause";
        // playpause.innerHTML = "pause";
        // this.playing = true
        video.play()
      } else {
        // this.playing = false
        video.pause()
      }
    },
    requestFullscreen(ev) {
      this._requestFullscreen(this.$refs.myvideo)
    },
    _requestFullscreen(el) {
      if (el.requestFullScreen) {
        el.requestFullScreen()
      } else if (el.msRequestFullscreen) {
        el.msRequestFullscreen()
      } else if (el.webkitRequestFullScreen) {
        el.webkitRequestFullScreen()
      } else if (el.mozRequestFullScreen) {
        el.mozRequestFullScreen()
      }
    },
    addFullscreenChangeListener() {
      const events = ['fullscreenchange', 'mozfullscreenchange', 'webkitfullscreenchange', 'msfullscreenchange']
      events.forEach((event) => {
        document.addEventListener(
          event,
          () => {
            this.fullscreen = document.fullscreen
          },
          false
        )
      })
    },
    cancellFullscreen() {
      if (document.exitFullscreen) {
        document.exitFullscreen()
      } else if (document.mozCancelFullScreen) {
        document.mozCancelFullScreen()
      } else if (document.webkitCancelFullScreen) {
        document.webkitCancelFullScreen()
      } else if (document.msExitFullscreen) {
        document.msExitFullscreen()
      }
    }
  }
}
</script>

<style scoped>
video2 .controls button {
  border: none;
  cursor: hand;
  background: transparent;
  background-size: contain;
  background-repeat: no-repeat;
}
.video-controls {
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  z-index: 100;
}
.fullscreen-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  /* width: auto; */
  height: 100%;
  /* height: auto; */
  /* z-index: 0; */
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  /* background: url(polina.jpg) no-repeat; */
  background-size: cover;
}
video::-webkit-media-controls-panel {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  opacity: 1 !important;
  /* display: -webkit-flex !important; */
  /*  margin-top: 30px;
  height: 30px; */
  /* z-index: 10; */
  /* background-color: transparent; */
  /* background-color: #34495e; */
  /* border-radius: 0 0 10px 10px; */
}
</style>
