<template>
  <v-dialog v-model="dialog" eager2 fullscreen persistent>
    <v-container :style2="{ height: $g.gTestData.chatWindowHeight, padding: 0 }" fluid fill-height class="white">
      <v-row v-show="loaded" class2="white" justify="center" align="center" style2="position: relative" no-gutters>
        <v-col cols="12" sm="8" md="6" class2="red" style="position: relative" align="center" justify="center">
          <v-row justify="center" class2="blue" style="position: relative" no-gutters>
            <video id="monitor" autoplay class="video-div" />
            <canvas v-show="false" id="photo"></canvas>
            <v-layout :class="deviceAnimation" class="animated top-div red2">
              <v-row class="top-row2" justify="center" no-gutters>
                <v-col cols="8" class2="red">
                  <!-- eslint-disable-next-line prettier/prettier -->
                  <v-select
                    id="audioSource"
                    v-model="selectedAudio"
                    :items="audioDevices"
                    :label="$g.t('qchat.media.labels.audio_devices')"
                    item-text="label"
                    dense
                    outlined
                    return-object
                    class="ma-0 pa-0"
                  ></v-select>
                </v-col>
                <v-col cols="8" class2="green">
                  <!-- eslint-disable-next-line prettier/prettier -->
                  <v-select
                    id="videoSource"
                    v-model="selectedVideo"
                    :items="videoDevices"
                    :label="$g.t('qchat.media.labels.video_devices')"
                    class="ma-0 pa-0"
                    item-text="label"
                    dense
                    outlined
                    return-object
                    @change="setVideoTrack"
                  ></v-select>
                </v-col>
              </v-row>
            </v-layout>
            <v-row justify="space-around" class="actions-icons" no-gutters>
              <des-tooltip :text="$g.t('qchat.media.tooltips.make_foto')">
                <v-icon
                  :color="'green'"
                  large
                  @click="shotFotoFromVideo"
                  v-text="'mdi-checkbox-blank-circle-outline'"
                />
              </des-tooltip>
              <des-tooltip
                :text="
                  recording ? $g.t('qchat.media.tooltips.stop_recording') : $g.t('qchat.media.tooltips.start_recording')
                "
              >
                <v-icon
                  :color="recording ? 'green' : 'red'"
                  size="50"
                  @click="recording ? stopRecordingVideo() : startRecordingVideo()"
                  v-text="recording ? 'mdi-stop-circle-outline' : 'mdi-record-circle-outline'"
                />
              </des-tooltip>
              <v-speed-dial
                v-model="fab"
                direction="top"
                style="margin-top: 2px"
                transition="slide-y-reverse-transition"
              >
                <template #activator>
                  <v-btn v-model="fab" x-small color="green darken-2" dark fab class2="mt-1">
                    <v-icon v-if="fab"> mdi-close </v-icon>
                    <v-icon v-else> mdi-dots-vertical </v-icon>
                  </v-btn>
                </template>
                <des-tooltip :text="$g.t('qchat.media.tooltips.switch_audio')">
                  <v-icon
                    :color="voice ? 'green' : 'red'"
                    large
                    @click="onOffAudioTrack"
                    v-text="voice ? 'mdi-volume-high' : 'mdi-volume-off'"
                  />
                </des-tooltip>
                <des-tooltip v-if="hasBackVideoDevice()" :text="$g.t('qchat.media.tooltips.switch_video')">
                  <v-icon
                    :color="frontCamera ? 'red' : 'green'"
                    large
                    @click="handleSwitchVideo"
                    v-text="frontCamera ? 'mdi-video-switch' : 'mdi-video-switch'"
                  />
                </des-tooltip>
                <des-tooltip :text="$g.t('qchat.media.tooltips.delete_media')">
                  <v-icon :color="'green'" large @click="cancel" v-text="'mdi-exit-to-app'" />
                </des-tooltip>
                <des-tooltip
                  :text="
                    showSelects ? $g.t('qchat.media.tooltips.hide_devices') : $g.t('qchat.media.tooltips.show_devices')
                  "
                >
                  <v-icon
                    :color="'green'"
                    large
                    @click="showSelects = !showSelects"
                    v-text="showSelects ? 'mdi-video-off' : 'mdi-video'"
                  />
                </des-tooltip>
              </v-speed-dial>
            </v-row>
          </v-row>
        </v-col>
      </v-row>
      <v-overlay :value="!loaded">
        <v-progress-circular indeterminate size="64"></v-progress-circular>
      </v-overlay>
    </v-container>
  </v-dialog>
</template>

<script>
import { videoMixin } from '../mixins/videoMixin'

export default {
  mixins: [videoMixin],
  props: {
    // vinc gamoizaxa es dialog
    dialogCaller: {
      type: Object,
      default: () => {
        return { caller: 'chat' }
      }
    },
    eager: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      fab: true,
      loaded: false,
      dialog: false,
      // voice: this.constraints.audio,
      // frontCamera: false,
      // image: null videoMixin-shia
      isShotting: false,
      recording: false,
      showSelects: false
    }
  },
  computed: {
    /* voice() {
      this.$g.clog('this.constraints.audio ', this.constraints.audio)
      return this.constraints.audio
    }, */
    deviceAnimation() {
      this.$g.clog('vd this.showSelects ', this.showSelects)
      return { slideOutUp: !this.showSelects, slideInDown: this.showSelects }
    }
  },
  mounted() {
    this.$g.clog('vd document.getElementById(audioSource) = ', document.getElementById('audioSource'))
    this.$g.clog('vd this.$refs.audioSource = ', this.$refs.audioSource)
  },
  methods: {
    startVideoStream() {
      /* const videoEl = document.querySelector('video')
         const audioSelectEl = document.querySelector('select#audioSource')
      */
      this.dialog = true
      this.isShotting = false
      this.recording = false
      this.$nextTick(() => {
        this.video = document.getElementById('monitor')
        this.$g.clog('vd this.video ', this.video)
        this.audioSelectEl = document.getElementById('audioSource')
        this.videoSelectEl = document.getElementById('videoSource')
        this.canvas = document.getElementById('photo')
        // vucdit sanam video gamochndeba
        this.showOnVideoOnloaded(this.video)
        this.$g.clog('vd this.$g.store.getters.constraints = ', this.$g.store.getters.constraints)
        this.startVideo(this.dialogCaller.caller)
      })
    },
    showOnVideoOnloaded(videoEl) {
      videoEl.onloadeddata = () => {
        this.$g.clog('vd onloadeddata ')
        this.loaded = true
      }
    },
    cancel() {
      this.loaded = false
      this.dialog = false
      this.stopStream()
    },
    addMedia(media) {
      this.cancel()
      this.media = media
      if (media) {
        this.$g.clog('vd media ', media)
        const payload = {
          file: media.blob
        }
        if (this.dialogCaller.questionItem) {
          payload.questionnaireIndex = this.dialogCaller.questionItem.index
        }
        this.$g.clog('vd payload ', payload)
        this.$g
          .setFile(payload)
          .then(() => {
            this.$g.getMedias({ questionnaireIndex: payload.questionnaireIndex })
            // this.$emit('getMedias', payload)
            if (this.dialogCaller.questionItem) {
              // davxuret dioalogis fanjara
              this.$g.store.commit('setQuestionnaireItemValues', {
                cardId: this.$g.store.getters.card.id,
                index: this.dialogCaller.questionItem.index,
                data: { dialog: false }
              })
              // this.dialogCaller.questionItem.dialog = false
            }
          })
          .catch((err) => {
            this.$g.clog('vd addMedia err = ', err)
          })
      }
    },
    shotFotoFromVideo() {
      this.isShotting = true
      this.snapshot()
        .then((media) => this.addMedia(media))
        .catch((err) => {
          this.$g.clog('vd shotFotoFromVideo = ', err)
        })
    },
    // recordingData = { image, downloadButton, videoRecordingMaxTimeMS }
    startRecordingVideo() {
      this.$g.clog('vd startRecordingVideo ')
      this.recording = true
      this.media = {}
      const playType = { audio: true, video: true }
      const recordingData = {
        media: this.media,
        downloadButton: {},
        videoRecordingMaxTimeMS: this.$g.gdata.videoRecordingMaxTimeMS,
        playType,
        addMedia: this.addMedia
      }
      this.startRecording(recordingData)
    },
    stopRecordingVideo() {
      this.$g.clog('vd stopRecordingVideo ')
      this.recording = false
      // recorder.stop() fires recorder.ondataavailable -> data -> callback agree()
      this.stopRecorder()
    },
    // xmis chartva-gamortva
    onOffAudioTrack() {
      // const constraints = this.$g.store.getters.constraints
      const constraints = JSON.parse(JSON.stringify(this.$g.store.getters.constraints))
      constraints.audio = !constraints.audio
      this.$g.store.commit('setConstraints', constraints)
      this.voice = constraints.audio
      // this.constraints = JSON.parse(JSON.stringify(this.constraints))
      this.$g.clog('vd this.$g.store.getters.constraints =  ', JSON.stringify(this.$g.store.getters.constraints))
      // videoMixin-shia
      this.restartStream()
    },
    handleSwitchVideo() {
      this.frontCamera = !this.frontCamera
      this.switchVideoTrack()
    }
  }
}
</script>

<style scoped>
.video-div {
  width: 550px;
  height: 100%;
}
.top-div {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}
.dots-icon {
  z-index: 2;
  position: absolute;
  right: 2%;
  top: 50%;
}
.actions-icons {
  width: 70%;
  z-index: 1;
  position: absolute;
  bottom: 5px;
  left: 15%;
}
.util-icons {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
}
@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

.slideOutUp {
  -webkit-animation-name: slideOutUp;
  animation-name: slideOutUp;
}
</style>
