<template>
  <div :class="{ 'error-state': errorState }" class2="rounded-border">
    <v-list-item
      :key="item.id"
      :disabled="itemValue.disabled"
      :style="{
        opacity: itemValue.disabled ? '0.5' : '1.0',
        position: 'relative'
      }"
      :class1="errorState ? 'red' : 'white'"
      :class2="{ 'error-border': errorState }"
      class="grey pa-0 mb-1 rounded-border"
    >
      <YesNoCheckboxes
        v-if="item.isQuestion"
        ref="yesno"
        :item="item"
        :item-value="itemValue"
        :set-item-values="setItemValues"
        :readonly="readonly"
        :expand-width="'80px'"
      />
      <v-list-item-content @click="show">
        <v-card :class1="{ 'error-state': errorState }" flat class="content px-1">
          <v-badge
            v-if="isMandatoryOrHasMandatory"
            color="transparent"
            :class="{ 'ml-10 mr-3': !item.isGroup, 'ml-2 mr-3': item.isGroup }"
            content2="*"
            icon2="mdi-multiplication"
          >
            <template #badge>
              <v-icon x-small2 dense :color="$vuetify.theme.dark ? 'white' : 'black'">mdi-multiplication</v-icon>
            </template>
            {{ item.index }}
          </v-badge>
          <span v-else-if="item.isGroup" class="ml-2 mr-3">{{ item.index }}</span>
          <span v-else-if="item.isQuestion && !item.mandatory" class="ml-10 mr-3">{{ item.index }}</span>
          <span :style="{ color: getFontColor, fontWeight: 'bold' }">{{ item.title }}</span>
          <p class="mt-2">{{ item.note }}</p>
        </v-card>
      </v-list-item-content>
      <v-row class="buttons-row mr-3 pb-1" @click="show">
        <v-badge
          v-if="mediasAmount"
          color="transparent"
          offset-x="22"
          :content="mediasAmount > 0 ? mediasAmount : null"
        >
          <v-icon v-if="mediasAmount">{{ 'mdi-camera-retake' }}</v-icon>
        </v-badge>
        <v-badge
          v-if="comments"
          color="transparent"
          class="mx-1"
          offset-x="22"
          :content="comments > 0 ? comments : null"
        >
          <v-icon v-if="comments">{{ 'mdi-comment' }}</v-icon>
        </v-badge>
        <v-icon v-if="item.isGroup">{{ itemValue.show || open ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
      </v-row>
    </v-list-item>
    <v-expand-transition v-if="item.isQuestion">
      <div v-show="itemValue.show" class="mb-2">
        <v-divider />
        <v-textarea
          v-model="comment"
          :label="item.commentHeader"
          :rules="rules"
          :counter="$g.gdata.commentMaxSize"
          :readonly="readonly"
          :maxlength="$g.gdata.commentMaxSize"
          autofocus2
          auto-grow
          outlined
          row-height="25"
          class="mb-1"
          hide-details2
          @blur="saveComment"
          @keyup="adjustText"
        >
          <template v-if="!readonly" #append>
            <v-row class="buttons-row">
              <CameraIcon v-if="!$g.gdata.isMobile" :on-click="toVideoPage" color="grey" class2="mr-3" />
              <FileInputIcon :on-change="setFiles" color="grey" class="mx-3" />
            </v-row>
          </template>
        </v-textarea>
        <file-show-layout
          :idb-files="idbFiles"
          :style-data="{ text: 'black', bg: 'grey' }"
          :question-item="item"
          class="mb-2"
        />
        <MyCarousel3d
          v-if="idbMedias"
          ref="carousel"
          :key="componentKey"
          :question-item="item"
          :item-value="itemValue"
          :idb-medias="idbMedias"
          :texts="texts"
          :caller="caller"
          :current-index="currentIndex"
          :display="3"
          controls-visible
        />
      </div>
    </v-expand-transition>
    <video-dialog v-if="itemValue.dialog" ref="video_dialog" :dialog-caller="dialogCaller" />
  </div>
</template>

<script>
import VideoDialog from '../video/VideoDialog'
import CameraIcon from '../chats/vbChat/CameraIcon'
import FileInputIcon from '../chats/vbChat/FileInputIcon'
import FileShowLayout from '../chats/vbChat/FileShowLayout'
import MyCarousel3d from '../video/MyCarousel3d'
import { idbMediasMixin } from '../mixins/idbMediasMixin'
import YesNoCheckboxes from './YesNoCheckboxes'

export default {
  components: {
    CameraIcon,
    FileInputIcon,
    FileShowLayout,
    VideoDialog,
    YesNoCheckboxes,
    MyCarousel3d
  },
  mixins: [idbMediasMixin],
  props: {
    item: {
      type: Object,
      default: () => {}
    },
    texts: {
      type: Object,
      default: () => {
        return {}
      }
    },
    open: {
      type: Boolean,
      default: false
    },
    downloaded: {
      type: Boolean,
      default: false
    },
    readonly: {
      type: Boolean,
      default: false
    },
    readerLocale: {
      type: String,
      default: 'de'
    }
  },
  data() {
    return {
      valide: true,
      // carouselFullscreen: false,
      expandedCurrentIndex: -1,
      currentIndex: -1,
      startIndex: 0,
      groupIndex: null,
      childIndex: null,
      comment: null,
      rules: [this.oninput],
      itemValue: {},
      slideWidth: 500,
      slideHeight: 200,
      caller: this.$enums.caller.questionnaire,
      dialogCaller: { caller: this.$enums.caller.questionnaire, questionItem: this.item }
    }
  },
  computed: {
    getFontColor() {
      return this.$vuetify.theme.dark
        ? this.$vuetify.theme.themes.dark.des_fontLiBl
        : this.$vuetify.theme.themes.light.des_fontLiBl
      // return this.itemValue && this.itemValue.comment
    },
    isMandatoryOrHasMandatory() {
      let mandatory = false
      if (this.item.isGroup) {
        // this.$g.clog('qi this.item.children = ', this.item.children)
        mandatory = !!this.item.children.find((child) => child.mandatory)
      } else {
        mandatory = this.item.mandatory
      }
      return mandatory
    },
    comments() {
      let comments = 0
      if (this.item.isGroup) {
        // this.$g.clog('qi this.item.children = ', this.item.children)
        const childrenIndexes = this.item.children.map((x) => x.index)
        const iValues = this.$g.store.getters.cardIdQuestionnaireValues(this.$g.store.getters.card).values
        if (iValues) {
          for (const childIndex of childrenIndexes) {
            const iValue = iValues[childIndex]
            if (iValue && iValue.comment && iValue.comment.length) {
              comments++
            }
          }
        }
      } else if (this.itemValue.comment && this.itemValue.comment.length) {
        comments++
      }
      this.$g.clog('qi comments = ', comments)
      return comments
    },
    mediasAmount() {
      let allMedias = 0
      if (this.item.isGroup) {
        // this.$g.clog('qi this.item.children = ', this.item.children)
        const childrenIndexes = this.item.children.map((x) => x.index)
        const qValues = this.$g.store.getters.cardIdQuestionnaireValues(this.$g.store.getters.card)
        if (qValues && qValues.values) {
          const iValues = qValues.values
          for (const childIndex of childrenIndexes) {
            const iValue = iValues[childIndex]
            if (iValue && iValue.attachments) {
              const attachments = iValue.attachments
              if (attachments.medias && attachments.medias.length) {
                const medias = attachments.medias.filter((relPath) => !relPath.includes(this.$g.gdata.deletePrefix))
                allMedias += medias.length
              }
              if (attachments.files && attachments.files.length) {
                const files = attachments.files.filter((relPath) => !relPath.includes(this.$g.gdata.deletePrefix))
                allMedias += files.length
              }
            }
          }
        }
      } else if (this.itemValue.attachments) {
        if (this.itemValue.attachments.medias && this.itemValue.attachments.medias.length) {
          // allMedias += this.itemValue.attachments.medias.length
          const medias = this.itemValue.attachments.medias.filter(
            (relPath) => !relPath.includes(this.$g.gdata.deletePrefix)
          )
          allMedias += medias.length
        }
        if (this.itemValue.attachments.files && this.itemValue.attachments.files.length) {
          const files = this.itemValue.attachments.files.filter(
            (relPath) => !relPath.includes(this.$g.gdata.deletePrefix)
          )
          allMedias += files.length
        }
      }
      if (this.idbMedias && this.idbMedias.length) {
        const idbMedias = this.idbMedias.filter((idbMedia) => !!idbMedia.media.blob)
        allMedias += idbMedias.length
      }
      // this.$g.clog('qi allMedias = ', allMedias)
      return allMedias
    },
    errorState() {
      const errorState = !this.valide && this.$g.store.getters.validateQuestionnaire
      // this.$g.clog('qi errorState = ', errorState)
      return errorState
    },
    row() {
      return this.$vuetify.breakpoint.name !== 'xs'
    } /* ,
    checkShow() {
      // this.$g.clog('qi this.item.index = ', this.item.index)
      // this.$g.clog('qi this.itemValue.show = ', this.itemValue.show)
      if (this.itemValue.show) {
        this.getItemMedias()
        return true
      }
      return false
    } */
  },
  watch: {
    itemValue(val, oldVal) {
      this.$g.clog('qi checkValidity = ')
      this.$nextTick(() => {
        this.checkValidity()
        if (this.itemValue.show) {
          this.getItemMedias()
        }
      })
    },
    // amas mxolod group item-ebi xmaroben, key: 'openArr',
    open(open, oldVal) {
      this.$g.clog('qi open', open)
      const card = this.$g.store.getters.card
      if (!card) {
        return
      }
      // tu vxuravt da gaxsnilebis siashi ar aris
      if (!open && !this.$g.store.getters.openArr.includes(this.item.index)) {
        return
      }
      // tu vxsnit da gaxsnilebis siashi ukve aris
      if (open && this.$g.store.getters.openArr.includes(this.item.index)) {
        return
      }
      this.$g.store.commit('setQuestionnaireGroupOpen', {
        isMobile: this.$g.gdata.isMobile,
        cardId: card.id,
        open,
        index: this.item.index,
        locale: this.$g.store.getters.locale
      })
      // this.$g.store.commit('setOpenArr', [this.item.index])
      // this.$g.clog('qi this.$g.store.getters.openArr = ', this.$g.store.getters.openArr)
    }
  },
  created() {
    if (this.item.isQuestion) {
      // es windows-s refresh-is dros uzrunvelkofs saveComment-s
      // addEventListener('beforeunload', this.saveComment)
      addEventListener('resize', this.handleResize)
      this.handleResize()
    }
    // this.refreshItemValue()
    this.$g.chatEBus.$off(this.$enums.events.hideQuestionItem + this.item.index)
    this.$g.chatEBus.$on(this.$enums.events.hideQuestionItem + this.item.index, () => {
      this.itemValue.show = false
    })
    this.$g.chatEBus.$off(this.$enums.events.idbMediasQuestionnaire + this.item.index)
    this.$g.chatEBus.$on(
      this.$enums.events.idbMediasQuestionnaire + this.item.index,
      ({ allIdbMedias, downloaded }) => {
        // idbMediasMixin-shia
        this.handleAllIdbMedias({ allIdbMedias, downloaded })
        this.initItemProperties()
      }
    )
    this.$g.chatEBus.$off(this.$enums.events.checkYesnoConnections + this.item.index)
    this.$g.chatEBus.$on(this.$enums.events.checkYesnoConnections + this.item.index, (itemValueDisabled) => {
      // targetItem.answer = '-1'
      this.handleYesnoConnections(itemValueDisabled)
    })
    if (this.item.isGroup) {
      this.$g.chatEBus.$off(this.$enums.events.valide + this.item.index)
      this.$g.chatEBus.$on(this.$enums.events.valide + this.item.index, (valide) => {
        // this.$g.clog('qi groupIndex = ', this.item.index)
        this.valide = valide
      })
    }
  },
  /* beforeDestroy() {
    this.saveComment()
  }, */
  mounted() {
    this.checkValidity()
    if (this.item.isQuestion) {
      this.$g.clog('qi initItemProperties ')
      setTimeout(() => {
        this.initItemProperties()
      }, 0)
    }
  },
  destroyed() {
    window.removeEventListener('resize', this.handleResize)
  },
  methods: {
    checkValidity() {
      // gamotvlis xelaxla valide-ebs
      if (this.$g.store.getters.validateQuestionnaire) {
        this.$g.getValidateErrorGroupsArr()
        this.valide = this.$g.valide(this.itemValue)
        // this.$g.clog('qi this.valide = ', this.valide)
      }
    },
    oninput(v) {
      return this.$g.onTextInput(v, this.$g.gdata.commentMaxSize)
    },
    adjustText(v) {
      this.comment = this.$g.maxlength(this.comment, this.$g.gdata.commentMaxSize)
    },
    handleResize() {
      // this.slideWidth = window.innerWidth
      this.slideHeight = window.innerHeight
      // this.slideWidth = screen.width
      // this.slideHeight = screen.height
      // this.$g.clog('qi this.slideHeight = ', this.slideHeight)
      // this.$g.clog('qi screen.height = ', screen.height)
    },
    // comment sheinaxeba blur-is dros
    saveComment() {
      /* if (this.item.index === '1.1') {
        this.$g.clog('qi saveComment this.comment = ', this.comment)
      } */
      if (!this.readonly) {
        this.setItemValues({ comment: this.comment })
      }
      // const comment = this.$g.store.getters.cardIdQuestionnaireValues(this.$g.store.getters.card).values['1.1'].comment
      // alert(comment)
    },
    initItemProperties() {
      this.$g.clog('qi this.item ', this.item)
      this.itemValue = this.$g.initItemValue(this.item.index, this.itemValue)
      // this.checkValidity()
      this.comment = this.itemValue.comment

      if (this.itemValue.translatedComment) {
        const senderLangFull = this.$g.readLangFromKeysJSonfile(this.itemValue.translatedComment.from)
        this.comment =
          this.itemValue.translatedComment.text +
          '\n\n' +
          this.$g.t('qchat.chat.translate_text.original') +
          ' - ' +
          senderLangFull +
          ' (' +
          this.itemValue.translatedComment.from +
          ')\n' +
          this.itemValue.comment
        // this.$g.clog('qi this.comment = ', this.comment)
      } else if (this.itemValue.exampleTranslatedComment) {
        // tu ExampleQuestionnaire-ia, mashin "exampleTranslatedComment":{"en":"Good night","ka":"Ღამე მშვიდობისა","ru":"Спокойной ночи"}}
        const from = 'de'
        const senderLangFull = this.$g.readLangFromKeysJSonfile(from)
        const lang = this.readerLocale // this.$g.store.getters.locale
        this.$g.clog('qi lang = ', lang)
        if (from !== lang) {
          this.comment =
            this.itemValue.exampleTranslatedComment[lang] +
            '\n\n' +
            this.$g.t('qchat.chat.translate_text.original') +
            ' - ' +
            senderLangFull +
            ' (' +
            from +
            ')\n' +
            this.itemValue.comment
          // this.$g.clog('qi this.comment = ', this.comment)
        }
      }
      // tu sadme charchenilia  this.itemValue.show = true da shignit araferi aris
      if (this.itemValue && this.itemValue.show && this.readonly && !this.comments && !this.mediasAmount) {
        this.$g.clog('qi this.itemValue.show ', this.itemValue.show)
        this.itemValue.show = false
      }
    },
    // payload = { key1: value1, key2: value2, ..}
    setItemValues(data, withoutInit) {
      this.$g.clog('qi setItemValues ', data)
      const card = this.$g.store.getters.card
      if (!card) {
        return
      }
      this.$g.store.commit('setQuestionnaireItemValues', {
        cardId: this.$g.store.getters.card.id,
        index: this.item.index,
        locale: this.$g.store.getters.locale,
        data
      })
      // da davakopirot itemValue
      if (!withoutInit) {
        try {
          this.itemValue = this.$g.initItemValue(this.item.index, this.itemValue)
          this.$g.clog('qi this.itemValue = ', this.itemValue)
        } catch (error) {
          this.$g.clog('qi initItemValue error = ', error)
        }
      }
    },
    handleYesnoConnections(disabled) {
      const data = { disabled, answer: '-1' }
      this.$g.clog('qi handleYesnoConnections data = ', data)
      this.$g.clog('qi handleYesnoConnections this.item.index = ', this.item.index)
      this.setItemValues(data)
    },
    setFiles(files) {
      this.$g.clog('qi this.item ', this.item)
      this.$g.setFiles({ files, questionnaireIndex: this.item.index, getItemMedias: this.getItemMedias })
    },
    getItemMedias() {
      this.$g.getMedias({
        questionnaireIndex: this.item.index,
        downloaded: this.downloaded,
        itemValue: this.itemValue
      })
    },
    toVideoPage() {
      this.$g.clog('qi toVideoPage ')
      // this.item.dialog = true
      this.setItemValues({ dialog: true })
      this.$g.clog('qi this.itemValue.dialog = ', this.itemValue.dialog)
      // vacadot sanam dom darenderdeba
      this.$nextTick(() => {
        this.$refs.video_dialog.startVideoStream()
      })
    },
    show() {
      // pirveli daklikvisas tu checkbox-ebis fanjara ghiaa, davxuravt
      if (this.$refs.yesno && this.$refs.yesno.expand) {
        // this.$refs.yesno.expand = false
        this.$g.clog('this.$refs.yesno && this.$refs.yesno.expand = true')
        return
      }
      if (this.item.isQuestion) {
        // tu readonly aris da comment da media ar aris, mashin ar vxsnit
        if (this.readonly && !this.mediasAmount && !this.comments) {
          // this.$g.clog('this.comments ', this.comments)
          // this.$g.clog('this.mediasAmount ', this.mediasAmount)
          return
        }
        this.setItemValues({ show: !this.itemValue.show })
        this.$g.clog('qi this.itemValue.show ', this.itemValue.show)
        if (this.itemValue.show) {
          // es agar gvchirdeba itemValue-s watcher akontrolebs
          // this.getItemMedias()
          // isMobile-s dros davxurot kvela sxva gaxsnili questionItem-ebi, rom marto erti darches gaxsnili
          const card = this.$g.store.getters.card
          if (!card) {
            return
          }
          if (this.$g.gdata.isMobile) {
            this.$g.store.commit('closeGroupsOtherQuestionItems', {
              cardId: card.id,
              index: this.item.index,
              locale: this.$g.store.getters.locale,
              ctx: this
            })
          }
        }
      }
    }
  }
}
</script>
<style scoped>
.buttons-row {
  position: absolute;
  bottom: 8px;
  right: 0;
  /* margin-right: -5px; */
}
#checkbox_actions {
  margin: 0px !important;
  min-width: 50px;
  margin-top: 20px !important;
}
.error-state {
  /* border: 2px dotted red;
  margin: 3px 0px; */
  border-left: 4px solid red;
  /* font-weight: 300; */
  /* color: #b30000 !important; */
  /* margin: 0px 10px; */
}
.rounded-border {
  border-radius: 4px;
}
.action-icon-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}
.mandatory-icon-position {
  position: absolute;
  top: 0px;
  left: 90px;
}
.service-icons-position {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.content {
  margin-top: 0px !important;
  padding-top: 0px !important;
  background-color: transparent !important;
}
</style>
