<template>
  <QuestionnaireExample type="basic" :reader-locale="readerLocale" />
</template>

<script>
import QuestionnaireExample from './QuestionnaireExample'
export default {
  components: {
    QuestionnaireExample
  },
  props: {
    readerLocale: {
      type: String,
      default: 'de'
    }
  },
  data() {
    return {
      // disabled: true
    }
  },
  created() {
    //
  }
}
</script>
<style scoped></style>
