<template>
  <Questionnaire :user-id="userId" :card-id="cardId" :reader-locale="readerLocale" :disabled.sync="disabled" />
</template>

<script>
import Questionnaire from './Questionnaire'
export default {
  components: {
    Questionnaire
  },
  props: {
    type: {
      type: String,
      default: 'basic'
    },
    readerLocale: {
      type: String,
      default: 'de'
    }
  },
  data() {
    return {
      disabled: true,
      userId: null,
      cardId: null
    }
  },
  created() {
    // console.log('34 this.$g.store.getters.questionnaireExampleData = ', this.$g.store.getters.questionnaireExampleData)
    this.$nextTick(() => {
      // console.log('60 this.$g.store.getters.questionnaireExampleData = ', this.$g.store.getters.questionnaireExampleData)
      this.userId = this.$g.store.getters.questionnaireExampleData.userId
      this.cardId = this.$g.store.getters.questionnaireExampleData[this.type].cardId
    })
  }
}
</script>
<style scoped></style>
