<template>
  <v-container fluid fill-height class="pa-0" style="z-index: 4" @click="sevenClick">
    <v-overlay :value="loadingQuestionnaire">
      <v-progress-circular :size="120" :width="15" indeterminate color="primary">
        <span class2="white--text">{{ $g.t('qchat.mix.loading') }}</span>
      </v-progress-circular>
    </v-overlay>
    <v-card v-if="questionnaire.lang" flat width="100%" class="green2">
      <v-chip v-if="$g.store.getters.card && $g.store.getters.card.id < 0" class="rotate-chip" color="primary">
        {{ exampleText() }}
      </v-chip>
      <v-row justify="center" class="top-row" no-gutters>
        <v-col>
          <span class="title mx-4">{{ questionnaire.title }}</span>
          <!-- amas murmani achvenebs zeda nacilshi -->
          <!-- <indicator v-if="false" class="indicator" /> -->
        </v-col>
      </v-row>
      <!-- eslint-disable-next-line vue/no-v-html -->
      <v-card-text v-html="questionnaire.subtitle" />
      <v-row class="mt-5 red2" justify="start" no-gutters>
        <v-col cols="8">
          <v-text-field
            v-model="vin"
            hide-details2
            outlined
            :rules="level === 'phone' ? rules.vin6 : rules.vin"
            dense
            counter
            :readonly="disabled"
            :maxlength="level === 'phone' ? 6 : 17"
            :label="$g.t(level === 'phone' ? 'qchat.questionnaire.vin_6_label' : 'qchat.questionnaire.vin_label')"
            class="my-n2 ml-2"
            placeholder=" "
            @keyup="adjustText"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-treeview
        ref="treeview"
        :items="questionnaireItems"
        :open="$g.store.getters.openArr"
        item-key="index"
        rounded1
        transition
        open-on-click
        expand-icon=""
      >
        <template #prepend="{ item }">
          <v-icon v-if="!item.isGroup && !disabled" @click="expandYnc(item)">
            {{ 'mdi-arrow-expand-horizontal' }}
          </v-icon>
        </template>
        <template #label="{ item, open }">
          <QuestionItem
            :item="item"
            :downloaded="downloaded"
            :readonly="disabled"
            :reader-locale="readerLocale"
            :open="open"
          />
        </template>
      </v-treeview>
      <v-card-actions v-if="showUploader">
        <v-spacer></v-spacer>
        <QuestionnaireUploader show="showUploader" />
      </v-card-actions>
    </v-card>
    <v-row v-else-if="networkError" justify="center" align="center" style="height: 100%; font-size: 20px" no-gutters>
      <v-card flat color="transparent">
        <v-card-title>{{ qValuesNotAvaliableText.noContent }}</v-card-title>
        <v-card-text>{{ qValuesNotAvaliableText.networkError }}</v-card-text>
      </v-card>
    </v-row>
    <v-row
      v-else-if="!loadingQuestionnaire"
      justify="center"
      align="center"
      style="height: 100%; font-size: 20px"
      no-gutters
    >
      <v-card flat color="transparent">{{ qValuesNotAvaliableText.notFound }}</v-card>
    </v-row>
    <snackbar :caller="$enums.caller.questionnaire" />
    <LoaderCircular ref="circular_loader" />
    <InfoDialog ref="error_dialog" :texts="infoTexts" />
    <desConsolex />
  </v-container>
</template>

<script>
import InfoDialog from '../chats/vbChat/InfoDialog'
import { sevenClick } from '../helpers/help'
import { invoiceParams } from '../helpers/enums'
import Snackbar from '../Snackbar'
import interfaceMixin from '../mixins/interfaceMixin'
import LoaderCircular from '../chats/vbChat/LoaderCircular'
import QuestionnaireUploader from './QuestionnaireUploader'
import QuestionItem from './QuestionItem'
export default {
  components: {
    InfoDialog,
    Snackbar,
    QuestionItem,
    QuestionnaireUploader,
    LoaderCircular /* ,
    Indicator */
  },
  mixins: [interfaceMixin],
  props: {
    uploadId: {
      // murman: გადმოგეცემა uploadId (ის რაც ამ ბარათზე ბოლოს ჩაიწერა PG ბაზაში ან თუ ჯერ ატვირთულა - null)
      type: Number,
      default: null
    },
    disabled: {
      type: Boolean,
      default: false
    },
    // mxolod example-ebis shemtxvevashi gadmomecema
    // des-questionnaire-example-basic, des-questionnaire-example-advanced, des-questionnaire-example-phone
    /* locale: {
      type: String,
      default: 'de'
    }, */
    // რომ გავიგოთ, თუ ვინ გამოიძახა ეს კითხვარი
    role: {
      type: String,
      default: 'tester'
    }
    // resell-ის დროს ვინც იყიდის, იმის ენაზე რომ წაიკითხოს კითხვარი
    // interfaceMixin-შია
    /* readerLocale: {
      type: String,
      default: null
    } */
  },
  data() {
    return {
      loadingQuestionnaire: true,
      networkError: false,
      prohibitedChar: false,
      infoTexts: {},
      questionnaire: {},
      downloaded: false, // mongo-dan chamotvirtulia tu aq sheqmnilia
      showIndicator: process.env.G_LOCALHOST && JSON.parse(process.env.G_LOCALHOST),
      vin: null,
      rules: {
        vin: [(val) => this.vinRule(val, 17)],
        vin6: [(val) => this.vinRule(val, 6)]
        // ასეც შეიძლება
        // vin: [(val) => this.$g.valideVinChar(val) || this.$g.t('qchat.questionnaire.vin_prohib_characters'), (val) => this.$g.valideVinLength(val, 17) || this.$g.t('qchat.questionnaire.vin_17_characters')],
        // vin6: [(val) => this.$g.valideVinChar(val) || this.$g.t('qchat.questionnaire.vin_prohib_characters'), (val) => this.$g.valideVinLength(val, 6) || this.$g.t('qchat.questionnaire.vin_6_characters')]
      }
    }
  },
  computed: {
    level() {
      const card = this.$g.store.getters.card
      if (card) {
        return card.level
      }
      return null
    },
    questionnaireItems() {
      this.$g.clog('q this.questionnaire = ', this.questionnaire)
      this.$g.clog('q this.questionnaire.items = ', this.questionnaire.items)
      return this.questionnaire.items
    },
    showUploader() {
      // this.$g.clog('q isExampleQuestionnaireCreating =', this.$g.isExampleQuestionnaireCreating())
      return this.$g.isExampleQuestionnaireCreating()
    },
    qValuesNotAvaliableText() {
      const text = {
        notFound: this.$g.t('qchat.questionnaire.is_not_available'),
        noContent: this.$g.t('qchat.questionnaire.content_is_not_possible'),
        networkError: this.$g.t('qchat.questionnaire.network_error')
      }
      return text
    }
  },
  watch: {
    /* locale(lang, oldLang) {      
      this.$g.clog('q locale = ', lang)
      // this.$g.updateLocale(lang)
    }, */
    readerLocale(lang, oldLang) {
      this.$g.clog('q readerLocale = ', lang)
      this.$g.updateReaderLocale(lang)
      if (this.userIsReader()) {
        this.$g.clog('q translate_text.original = ', this.$g.t('qchat.chat.translate_text.original'))
        const payload = {
          cardId: this.$g.store.getters.card.id,
          data: { lang }
        }
        this.$g.store.commit('initQuestionnaireValues', payload)
        this.loadQuestionnaire()
      }
    },
    '$g.store.getters.card'(card, oldVal) {
      // mxolod card-is shecvlis faqti gvainteresebs
      this.$g.clog('q card = ', card)
      this.loadQuestionnaire(card)
    },
    vin(vin, oldVin) {
      // this.$g.clog('q vin = ', vin)
      const card = this.$g.store.getters.card
      if (vin) {
        vin = vin.toUpperCase()
      }
      if (card) {
        this.$g.store.commit('setQvTopProperty', { cardId: card.id, prop: 'vin', value: vin })
      }
      let validateStands = false
      if (this.level === 'phone' && this.$g.valideVin6(vin) !== this.$g.valideVin6(oldVin)) {
        validateStands = true
      } else if (this.level !== 'phone' && this.$g.valideVin(vin) !== this.$g.valideVin(oldVin)) {
        validateStands = true
      }
      if (validateStands) {
        this.$g.setQuestionnaireValidateStands()
      }
    }
  },
  beforeCreate() {
    // this.initStore()
  },
  created() {
    if (!this.$g.isAdminNickname(this.$user, this.$g.gdata.adminNicknames)) {
      this.$g.resetQed()
    }
    this.$g.clog('q this.readerLocale= ' + this.readerLocale)
    // interfaceMixin-შია -> this.$g.updateReaderLocale(this.readerLocale)

    this.$g.chatEBus.$off(this.$enums.events.questionnaireUploaded)
    this.$g.chatEBus.$on(this.$enums.events.questionnaireUploaded, (questionnaireId) => {
      this.$refs.circular_loader.uploading = false
      this.$g.clog('q this.$refs.circular_loader ', this.$refs.circular_loader.uploading)
      // murmanis mxares miacoda chemma serverma es questionnaireId
      this.$g.clog('q questionnaireId ', questionnaireId)
      const uploaded = this.$g.t('qchat.questionnaire.upload.succesfully_uploaded')
      this.$g.showSnackbar(uploaded, 2000, 'green', this.$enums.caller.questionnaire)
      // da refresh Questionnaire
      this.loadQuestionnaire()
    })
    this.$g.chatEBus.$off(this.$enums.events.questionnaireUpload)
    this.$g.chatEBus.$on(this.$enums.events.questionnaireUpload, () => {
      this.uploadToServer()
      this.$g.clog('q this.$refs.circular_loader ', this.$refs.circular_loader.uploading)
    })
    this.$g.chatEBus.$off(this.$enums.events.networkError)
    this.$g.chatEBus.$on(this.$enums.events.networkError, (error) => {
      this.networkError = true
      this.stopLoading()
      this.$g.clog('q networkError error = ', error)
    })
    this.$g.chatEBus.$off(this.$enums.events.loadQuestionnaire)
    this.$g.chatEBus.$on(this.$enums.events.loadQuestionnaire, (cardId) => {
      // console.log('loadQuestionnaire this = ', this)
      if (cardId && cardId < 0) {
        // this.disabled = false
        // mashin isExampleQuestionnaireCreating = true
        this.$emit('update:disabled', false)
      }
      this.loadQuestionnaire()
    })
    this.$g.chatEBus.$off(this.$enums.events.questionnaireUploadError)
    this.$g.chatEBus.$on(this.$enums.events.questionnaireUploadError, (err) => {
      this.$refs.circular_loader.uploading = false
      this.infoTexts = this.getUploadErrorTexts()
      this.$refs.error_dialog.dialog = true
      this.$g.clog('questionnaireUploadError err = ', err)
    })
    this.$g.chatEBus.$off(this.$enums.events.mediaMaxSizeExeeded)
    this.$g.chatEBus.$on(this.$enums.events.mediaMaxSizeExeeded, ({ attachSizeRounded, mediaMaxSize }) => {
      this.$refs.circular_loader.uploading = false
      this.infoTexts = this.getMaxSizeExeededErrorTexts({ attachSizeRounded, mediaMaxSize })
      this.$refs.error_dialog.dialog = true
      this.$g.clog('questionnaireUploadError attachSizeRounded = ', attachSizeRounded)
    })
  },
  mounted() {
    // gasakontrolebelia this.loadQuestionnaire() aq sachiroa tu ara
    // this.loadQuestionnaire()
  },
  methods: {
    vinRule(val, len) {
      // es unerlaubte Buchstaben-is gamo davamnate
      if (this.prohibitedChar) {
        const text = this.prohibitedChar
        this.prohibitedChar = null
        // tu ukve bolo asoa mashin agar vafrtxilebt
        if (this.$g.valideVinLength(val, len)) {
          return true
        } else {
          return text
        } // vin6 არ არის სავალდებულო ველი, ამიტომ
      } else if (len === 6 && (val == null || val === '')) {
        return true
      } else if (val == null || val === '') {
        return this.$g.t('qchat.questionnaire.vin_' + len + '_characters')
      } else if (this.$g.valideVinLength(val, len) && this.$g.valideVinChar(val)) {
        return true
      } else if (!this.$g.valideVinChar(val)) {
        this.prohibitedChar = true
        const vin = val.toUpperCase()
        const lastChar = vin.substring(vin.length - 1, vin.length)
        const tillLastChar = vin.substring(0, vin.length - 1)
        if (lastChar === 'O') {
          this.vin = tillLastChar + '0'
          this.prohibitedChar = this.$g.t('qchat.questionnaire.vin_prohib_characters_O')
          return false
        } else if (lastChar === 'Q') {
          this.vin = tillLastChar + '0'
          this.prohibitedChar = this.$g.t('qchat.questionnaire.vin_prohib_characters_Q')
          return false
        } else if (lastChar === 'I') {
          this.vin = tillLastChar + '1'
          this.prohibitedChar = this.$g.t('qchat.questionnaire.vin_prohib_characters_I')
          return false
        } else return this.$g.t('qchat.questionnaire.vin_prohib_characters')
      } else if (!this.$g.valideVinLength(val, len)) {
        return this.$g.t('qchat.questionnaire.vin_' + len + '_characters')
      } else return true
    },
    expandYnc(item) {
      this.$g.chatEBus.$emit(this.$enums.events.expandYnc + item.index)
    },
    adjustText() {
      if (this.vin) {
        this.vin = this.$g.maxlength(this.vin.toUpperCase(), this.level === 'phone' ? 6 : 17)
      }
    },
    initVin() {
      let vin = null
      const card = this.$g.store.getters.card
      if (card) {
        // return this.$g.store.getters.getVin(card.id)
        vin = this.$g.store.getters.getVin(card.id)
      }
      this.$g.clog('q initVin this.vin = ', vin)
      this.$nextTick(() => {
        this.vin = vin
      })
    },
    showConsolex() {
      // console.log('sevenClick')
      this.$g.goToConsolex()
    },
    sevenClick() {
      // tu user adminNicknames-ებიდან არის
      // const user = this.$g.store.getters.user
      // this.$user // murmanidan momaqvs
      if (this.$g.isAdminNickname(this.$user, this.$g.gdata.adminNicknames)) {
        sevenClick(this.showConsolex)
      }
    },
    exampleText() {
      const card = this.$g.store.getters.card
      if (card && card.id === this.$g.store.getters.questionnaireExampleData.basic.cardId) {
        return this.$g.t('qchat.questionnaire.q_basic_example') // 'Q-basic example'
      } else if (card && card.id === this.$g.store.getters.questionnaireExampleData.advanced.cardId) {
        return this.$g.t('qchat.questionnaire.q_advanced_example') // 'Q-advanced example'
      } else if (card && card.id === this.$g.store.getters.questionnaireExampleData.phone.cardId) {
        return this.$g.t('qchat.questionnaire.q_phone_example') // 'Q-tel example'
      }
    },
    // tu card = undefined, mashin store-idan camoighebs
    loadQuestionnaire(card = this.$g.store.getters.card) {
      // aq card sheizleba null ikos magram ara undefined
      if (!card) {
        return
      }
      this.$g.clog('q loadQuestionnaire card ', card)
      let readerLocale
      if (this.userIsReader()) {
        // ანუ რაც ანკეტის გამოძახების მომენტში აირჩია იმ ენაზე მოუვა ანკეტა დამკვეთს და მყიდველს
        readerLocale = this.readerLocale
      }
      this.$g.getQuestionnaireValuesFromMongoByCardId(card, this.initQuestionnaire, readerLocale)
    },
    getUploadErrorTexts() {
      return {
        text: this.$g.t('qchat.questionnaire.upload.error.text'),
        yes: this.$g.t('qchat.questionnaire.upload.error.agree')
      }
    },
    getMaxSizeExeededErrorTexts({ attachSizeRounded, mediaMaxSize }) {
      const text = this.t('qchat.media.max_size_error.text').replace('xxx', mediaMaxSize)
      return {
        text,
        yes: this.$g.t('qchat.media.max_size_error.agree')
      }
    },
    uploadToServer() {
      // this.$refs.circular_loader.uploading = true
      this.$g.uploadQuestionnaireToServer()
    },
    stopLoading() {
      this.loadingQuestionnaire = false
    },
    userIsReader() {
      return (
        this.role === invoiceParams.orderer ||
        this.role === invoiceParams.buyer ||
        this.$g.isExampleQuestionnairePage(this.cardId)
      )
    },
    async initQuestionnaire(noQuestionnaireFoundForReader) {
      // this.$g.updateLocale(this.Locale)
      // აქ დაყენებულია card-იდან გამოთვლილი locale
      let locale = this.$g.store.getters.locale
      if (this.userIsReader()) {
        // ანუ რაც აქტუალურად აქვს ენა არჩეული (და არა ანკეტის გამოძახების მომენტში აირჩია) იმ ენაზე მოუვა ანკეტა დამკვეთს და მყიდველს
        locale = this.readerLocale
      }
      this.$g.clog('q locale= ' + locale)
      if (noQuestionnaireFoundForReader) {
        // mashin an network error-ia an ratomghac bazashi ar aris reader-istvis questionnaireValues
        this.questionnaire = {}
        this.stopLoading()
        return
      }
      const questionnaireValues = this.$g.getCardIdQuestionnaireValues()
      const card = this.$g.store.getters.card
      if (!card || !card.level) {
        // mashin card sheqmnili ar aris
        return
      }
      // const advanced = card.level === 'advanced'
      const level = card.level
      const versionAndType = this.$g.getQuestionnaireVersionAndType(card)
      let questionnaireVersion = versionAndType.version
      const questionnaireType = versionAndType.type
      this.$g.clog('q versionAndType = ', versionAndType)
      // this.$g.clog('q questionnaireValues.version = ', questionnaireValues.version)
      // this.$g.clog('q level = ', level)
      if (questionnaireValues && questionnaireValues.version && questionnaireValues.version !== questionnaireVersion) {
        // mashin mongo-dan chamotvirtulia reader-istvis an checker-s ukve dackebuli aqvs zveli versiit shevseba da zveli versiaa
        questionnaireVersion = questionnaireValues.version
        this.$g.clog('q questionnaireVersion = ', questionnaireVersion)
      }
      const questionnaire = this.$g.store.getters.questionnaire({ locale, card })
      if (
        questionnaire &&
        questionnaire.lang &&
        questionnaire.version === questionnaireVersion &&
        this.$g.userIsTester() &&
        !this.$g.isExampleQuestionnairePage(card.id)
      ) {
        // mashin questionnaire ukve shenavsebia
        this.$g.clog('q questionnaire shenavsebia, locale = ', locale)
        this.questionnaire = questionnaire
        this.$g.clog('q this.questionnaire = ', this.questionnaire)
        this.initQuestionnaireValues()
        return
      }
      this.$g.clog('q2 locale = ', locale)
      // questionnaire = { openArr: [] }
      try {
        this.questionnaire = await this.$g.initQuestionnaireItems(
          level,
          questionnaireVersion,
          questionnaireType,
          locale
        )
        this.$g.store.commit('addQuestionnaire', { questionnaire: this.questionnaire, card })
        this.initQuestionnaireValues()
      } catch (error) {
        this.$g.clog('q2 error = ', error)
        this.$g.showSnackbar(error, 2000, 'error', this.$enums.caller.questionnaire)
        this.stopLoading()
      }
    },
    initQuestionnaireValues() {
      const card = this.$g.store.getters.card
      if (!card) {
        this.stopLoading()
        return
      }
      const questionnaireValues = this.$g.getCardIdQuestionnaireValues()
      this.$g.store.commit('setQvTopProperty', { cardId: card.id, prop: 'uploadId', value: this.uploadId })
      this.$g.clog('q questionnaireValues =  ', questionnaireValues)
      // if (questionnaireValues && questionnaireValues._id && questionnaireValues.downloaded) {
      if (questionnaireValues && questionnaireValues._id) {
        // mashin mongo-dan axali chamotvirtulia ordereristvis an checker-i sxva device-zea an exampleQuestionnaires aris
        if (!questionnaireValues.openArr) {
          //  questionnaireValues.openArr = []
          this.$g.store.commit('setQvTopProperty', { cardId: card.id, prop: 'openArr', value: [] })
        }
        this.downloaded = true
        this.initVin()
        this.$g.setQuestionnaireValidateStands()
        this.$g.clog('q mongo-dan axali chamotvirtulia')
        this.stopLoading()
        return
      }
      // if (questionnaireValues && questionnaireValues.openArr) {
      if (questionnaireValues && questionnaireValues.values) {
        // mashin init ukve gaketebulia
        this.$g.clog('q init ukve gaketebulia')
        this.initVin()
        this.$g.setQuestionnaireValidateStands()
        this.stopLoading()
        return
      }
      // tu axalia
      const user = this.$g.store.getters.user
      this.$g.clog('q user = ', user)
      if (!user) {
        this.stopLoading()
        return
      }
      const values = this.$g.initQuestionnaireValueItems(this.questionnaire)
      const cardId = card.id
      const userId = user.id
      const version = this.$g.getQuestionnaireVersionAndType(card).version
      const payload = {
        cardId,
        data: {
          cardId,
          uploadId: this.uploadId,
          version,
          link: card.link,
          level: card.level,
          lang: this.$g.store.getters.locale,
          orderId: card.orderId,
          testerId: userId,
          ordererId: card.orderer ? card.orderer.id : null,
          attachSize: 0,
          ts: Date.now(),
          openArr: [],
          values
        }
      }
      // this.$g.clog('99 payload ', payload)
      this.$g.store.commit('initQuestionnaireValues', payload)
      this.$g.setQuestionnaireValidateStands()
      this.stopLoading()
    }
  }
}
</script>
<style lang="scss">
.v-treeview-node__root2 {
  padding-left: 6px !important;
}
.v-treeview-node__content {
  margin-left: 0 !important;
}
.v-treeview-node__toggle {
  max-width: 0;
}
.v-treeview-node__level {
  width: 6px !important;
}
.v-treeview-node__prepend {
  min-width: 0 !important;
  margin-right: 0 !important;
}
.top-row {
  position: relative;
}
.rotate-chip {
  position: absolute;
  top: 40px;
  left: 0;
  opacity: 0.8;
  transform: rotate(-20deg);
}
.indicator {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
</style>
