<template>
  <div>
    <v-btn v-if="show" color="blue-grey" class="ma-2 white--text" @click="checkUptodate">
      {{ $g.t('qchat.questionnaire.upload.button_text') }}
      <des-tooltip :text="$g.t('qchat.questionnaire.upload.button_tooltip')">
        <v-icon right dark> mdi-cloud-upload </v-icon>
      </des-tooltip>
    </v-btn>
    <InfoDialog ref="warning_dialog" :texts="infoTexts" :noclick="noclick" :yesclick="yesclick" />
  </div>
</template>

<script>
import InfoDialog from '../chats/vbChat/InfoDialog'
export default {
  components: {
    InfoDialog
  },
  props: {
    upload: {
      type: Boolean,
      default: false
    },
    // murmans vatkobineb kitxvaris atvirtvisas error tu dafiqsirda
    error: {
      type: Boolean
    },
    show: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      // dialog: false
    }
  },
  computed: {
    showUploader() {
      return this.$g.userIsTester && process.env.G_LOGS && JSON.parse(process.env.G_LOGS)
    },
    infoTexts() {
      return {
        text: this.$g.t('qchat.questionnaire.upload.warning.text'),
        yes: this.$g.t('qchat.questionnaire.upload.warning.agree'),
        no: this.$g.t('qchat.questionnaire.upload.warning.disagree')
      }
    }
  },
  watch: {
    upload(val, oldVal) {
      this.$g.clog('qu upload =', val)
      if (val) {
        this.checkUptodate()
      }
    }
  },
  created() {
    // this.$g.chatEBus.$off(events.questionnaireUploadedForUploader)
    this.$g.chatEBus.$on(this.$enums.events.questionnaireUploadedForUploader, (questionnaireId) => {
      this.$emit('update:upload', false)
      this.$emit('update:error', false)
    })
    // this.$g.chatEBus.$off(events.questionnaireUploadErrorForUploader)
    this.$g.chatEBus.$on(this.$enums.events.questionnaireUploadErrorForUploader, (questionnaireId) => {
      // da murmans shevatkobinot props-is error.sync-it
      this.$emit('update:upload', false)
      this.$emit('update:error', true)
    })
    this.$g.chatEBus.$on(this.$enums.events.networkError, (questionnaireId) => {
      // da murmans shevatkobinot props-is error.sync-it
      this.$emit('update:upload', false)
      this.$emit('update:error', true)
    })
    this.$g.clog('qu showUploader =', this.showUploader)
  },
  methods: {
    yesclick() {
      this.$g.chatEBus.$emit(this.$enums.events.questionnaireUpload)
    },
    noclick() {
      this.$emit('update:upload', false)
    },
    handleWarning() {
      this.$refs.warning_dialog.dialog = true
      this.$g.clog('lb this.$refs.warning_dialog.dialog = ', this.$refs.warning_dialog.dialog)
    },
    checkUptodate() {
      // შეამოწმებს თუ არის ანკეტა აქტუალური
      this.$g.checkUptodate().then((uptodate) => {
        if (!uptodate) {
          // მაშინ ანკეტის სხვა ვერსიაა მონგოზე და ატვირთვა არის საჭირო
          this.handleWarning()
        }
        // მაშინ უკვე ანკეტის ბოლო ვერსიაა მონგოზე და ატვირთვა აღარ არის საჭირო
      })
    }
  }
}
</script>
<style scoped>
.pointer {
  cursor: pointer;
}
</style>
