<template>
  <div class="dlang-out-div">
    <v-menu offset-y bottom open-on-hover2 content-class="lang-content">
      <!-- <v-btn slot="activator" :ripple="false">   -->
      <template #activator="{ on }">
        <div class="dlang-in-div py-1" v-on="on">
          <v-card class="img-card">
            <v-img :src="langImg" width="50px" height="30px" />
          </v-card>
          <v-icon class="icon_class des_primary--text">mdi-menu-down</v-icon>
        </div>
      </template>
      <!-- </v-btn> -->
      <v-list class="list img-card-content">
        <v-list-item v-for="(lang, i) in langs" :key="i" @click="goTo(changeLang(lang))">
          <v-list-item-subtitle>{{ lang.title }}</v-list-item-subtitle>
          <!-- <img :src="lang.img" width="30em" height="30em" class="mr-3"> -->
          <!-- <v-responsive :aspect-ratio="1.5" width="50px" height="30px" class="ml-3"> -->
          <v-img :src="lang.img" width="50px" height="30px" />
          <!-- </v-responsive> -->
        </v-list-item>
      </v-list>
    </v-menu>
  </div>
</template>

<script>
export default {
  data() {
    return {
      langImg: 'de.png',
      langs: [
        {
          img: 'en.png',
          title: 'English',
          locale: 'en'
        },
        {
          img: 'de.png',
          title: 'Deutsch',
          locale: 'de'
        },
        {
          img: 'ka.png',
          title: 'ქართული',
          locale: 'ka'
        }
      ]
    }
  },
  mounted() {
    const locale = this.$g.store.getters.locale
    this.$g.clog('tLm this.$g.store.getters.locale = ', locale)
    if (this.$g.store.getters.languages.includes(locale)) {
      const lang = this.langs.find((x) => x.locale === locale)
      this.changeLang(lang)
    }
  },
  methods: {
    goTo(path) {
      // path= { path: 'login'}
      // path= 'login'
      this.$g.clog('goTo language ', path)
      this.$router.push(path)
    },
    changeLang(lang) {
      this.$g.clog('53 locale=' + lang.locale)
      if (this.langImg !== lang.img) {
        this.langImg = lang.img
        this.$i18n.locale = lang.locale
        this.$g.store.commit('setLocale', lang.locale)
      }
      this.$g.clog('TLM 70 this.$i18n.locale=' + this.$i18n.locale)
      return this.$route.fullPath
    }
  }
}
</script>

<style>
.lang-content {
  margin-top: 8px;
  /* margin-right: 50px; */
  margin-left: -0.9em;
}
.img-card {
  margin-right: 0.8em;
  margin-left: 0.8em;
}
.img-card-content {
  padding-right: 1.3em;
}
.dlang-in-div {
  display: flex;
}
.dlang-out-div {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* width: 100px; */
  height: 55%;
  /* min-width: 100px; */
  background-color: var(--v-des_bg_less1-base, #323232);
  /* padding-left: 7px;
  padding-right: 2px; */
  border-radius: 5px;
}
</style>
