<template>
  <!-- tabindex aucilebelia, rom div-ma focus miighos -->
  <div ref="wrapper" tabindex="0" @blur="onblur">
    <v-expand-x-transition v-if="expand">
      <div
        :style="{ height: '100%', width: expandWidth }"
        class="d-flex transition-fast-in-fast-out orange darken-2 expand-transition"
      >
        <v-layout ref="lt" column class="ml-2" align-start justify-space-around>
          <v-checkbox v-model="cbYes" hide-details :label="yes" class="ma-0" color="grey darken-3" />
          <v-checkbox v-model="cbNo" hide-details :label="no" class="ma-0" color="grey darken-3" />
        </v-layout>
      </div>
    </v-expand-x-transition>
    <v-row
      v-else
      :class="{ 'rotate-chip': checked, 'ml-n5': checked }"
      class="expand-row ml-n3 mt-1"
      @click.stop="onexpand"
    >
      <v-chip :color="readonly && evaluateColor ? evaluateColor : 'grey darken-3'" small class="ml-4">
        <span class="white--text">{{ yesNo }}</span>
      </v-chip>
    </v-row>
  </div>
</template>

<script>
export default {
  props: {
    readonly: {
      type: Boolean,
      default: false
    },
    setItemValues: {
      type: Function,
      default: () => {}
    },
    expandWidth: {
      type: String,
      default: '40%'
    },
    item: {
      type: Object,
      default: () => {}
    },
    itemValue: {
      type: Object,
      default: () => {
        return {}
      }
    }
  },
  data() {
    return {
      savedValuesInited: false,
      checked: false,
      expand: false,
      yesNo: '?',
      cbYes: false,
      cbNo: false,
      evaluateColor: null
    }
  },
  computed: {
    yes() {
      return this.$g.t('qchat.questionnaire.yes')
    },
    no() {
      return this.$g.t('qchat.questionnaire.no')
    }
  },
  watch: {
    itemValue(val, oldVal) {
      // this.$g.clog('ync itemValue changed val = ', val)
      // this.$g.clog('ync itemValue changed item.index = ', this.item.index)
      this.initSavedValues()
    },
    cbYes(val, oldVal) {
      if (val && this.cbNo) {
        this.cbNo = false
      } else {
        this.adjustValues()
      }
      this.blurWrapper()
    },
    cbNo(val, oldVal) {
      if (val && this.cbYes) {
        this.cbYes = false
      } else {
        this.adjustValues()
      }
      this.blurWrapper()
    }
  },
  created() {
    this.$g.chatEBus.$off(this.$enums.events.expandYnc + this.item.index)
    this.$g.chatEBus.$on(this.$enums.events.expandYnc + this.item.index, () => {
      this.onexpand()
      /* if (!this.readonly && !this.itemValue.disabled) {
        this.expand = !this.expand
        if (this.expand) {
          this.$refs.wrapper.focus()
        }
      } */
    })
  },
  mounted() {
    // this.$g.clog('ync mounted this.itemValue = ', this.itemValue)
    this.initSavedValues()
    setTimeout(() => {
      this.savedValuesInited = true
    }, 0)
  },
  methods: {
    blurWrapper() {
      if (this.cbNo || this.cbYes) {
        setTimeout(() => {
          this.$refs.wrapper.blur()
        }, 200)
      }
    },
    onblur() {
      this.$g.clog('ync onblur')
      // console.log('this.expand1 ', this.expand)
      // tu yes pasuxi, sxva kitxvis gauqmebas icvevs
      this.checkYesnoConnections()
      setTimeout(() => {
        this.expand = false
      }, 100)
    },
    onexpand() {
      if (!this.readonly && !this.itemValue.disabled && !this.expand) {
        // console.log('this.expand ', this.expand)
        this.expand = true
        this.$refs.wrapper.focus()
      }
    },
    adjustValues() {
      if (!this.cbYes && !this.cbNo) {
        this.yesNo = '?'
        this.checked = false
        this.evaluateColor = this.item.evaluateColor['-1']
      } else if (this.cbYes && !this.cbNo) {
        this.yesNo = this.yes
        this.checked = true
        this.evaluateColor = this.item.evaluateColor['1']
      } else if (!this.cbYes && this.cbNo) {
        this.evaluateColor = this.item.evaluateColor['0']
        this.yesNo = this.no
        this.checked = true
      }
      if (!this.savedValuesInited) {
        return
      }
      this.$g.clog('ync adjustValues')
      const payload = { answer: this.adjustAnswer() }
      this.setItemValues(payload)
    },
    // es gamotvlis checkbox-ebis mnishvnelobis mixedvit pasuxs: 1-yes, 0- no, -1 - undefined
    adjustAnswer() {
      if (this.cbYes) {
        return '1'
      } else if (this.cbNo) {
        return '0'
      } else return '-1'
    },
    checkYesnoConnections() {
      // setTimeout(() => {
      const locale = this.$g.store.getters.locale
      const card = this.$g.store.getters.card
      const index = this.item.index
      const answer = this.adjustAnswer()
      // const payload = { locale, card, index, answer }
      // this.$g.store.commit('checkYesnoConnections', payload)
      const questionnaire = this.$g.store.getters.questionnaires(card)[locale]
      // this.$g.clog('this.$g.store.getters.questionnaires = ', this.$g.store.getters.questionnaires)
      /* if (card.type === 'advanced') {
          questionnaire = this.$g.store.state.questionnaires.advanced[locale]
        } else {
          questionnaire = this.$g.store.state.questionnaires.basic[locale]
        } */
      const yesConnections = questionnaire.yesConnections
      if (!yesConnections) {
        return
      }
      this.$g.clog('ync yesConnections = ', yesConnections)
      for (const key in yesConnections) {
        if (key === index) {
          this.$g.clog('ync yesConnections index = ', index)
          const targetIndexArr = yesConnections[key]
          const itemValueDisabled = answer === '1'
          // targetItem.answer = '-1'
          for (const targetIndex of targetIndexArr) {
            this.$g.chatEBus.$emit(this.$enums.events.checkYesnoConnections + targetIndex, itemValueDisabled)
          }
        }
      }
      // }, 0)
    },
    initSavedValues() {
      // this.$g.clog('t initSavedValues = ', this.item)
      if (this.itemValue) {
        switch (this.itemValue.answer) {
          case '1':
            this.cbYes = true
            this.cbNo = false
            break
          case '0':
            this.cbYes = false
            this.cbNo = true
            break
          case '-1':
            this.cbYes = false
            this.cbNo = false
            break
        }
        // da davtvalot shevsebuli velebis validobis aqtualuri mdgomareoba
        this.$g.setQuestionnaireValidateStands()
      }
    }
    /* // payload = { key1: value1, key2: value2, ..}
    setItemValues(data) {
      // this.$g.clog('setItemValues ', data)
      this.$g.store.commit('setQuestionnaireItemValues', {
        cardId: this.$g.store.getters.card.id,
        index: this.item.index,
        data
      })
    } */
  }
}
</script>
<style scoped>
.test {
  z-index: 10;
}
.top-div {
  float: left;
  /* position: absolute;
  top: 0;
  left: 0; */
}
.expand-row {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
.rotate-chip {
  transform: rotate(-30deg);
}
.checked {
  background-color: green;
}
.yesNo {
  width: 100%;
  position: absolute;
  bottom: -20px;
}
.expand-transition {
  /* align-items: center;
  justify-content: center; */
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
</style>
