<template>
  <Textpage key-text="privacy" :locale="locale" :version="$g.gdata.versions.privacy" />
</template>

<script>
import Textpage from './Textpage'

export default {
  components: {
    Textpage
  },
  props: {
    locale: {
      type: String,
      default: 'de'
    }
  }
}
</script>
