<template>
  <Textpage key-text="testwebsite" :locale="locale" />
</template>

<script>
import Textpage from './Textpage'

export default {
  components: {
    Textpage
  },
  props: {
    locale: {
      type: String,
      default: 'de'
    }
  },
  created() {
    console.log('TestWebsite created')
  }
}
</script>
