<template>
  <v-container
    fluid
    fill-height
    class="pa-0 grey2"
    :style="{
      padding: '18px',
      backgroundImage: backgroundImage,
      backgroundSize: backgroundSize,
      backgroundRepeat: 'repeat'
    }"
  >
    <v-row no-gutters justify="center">
      <v-col md="8">
        <v-card
          flat
          class="my-3"
          :class2="[font.name]"
          color2="red"
          style2="padding:18px;background-color: transparent;"
        >
          <!-- eslint-disable-next-line vue/no-v-html -->
          <v-card-text :style="{ color: font.color }" v-html="infoText" />
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  props: {
    keyText: {
      type: String,
      required: true
    },
    locale: {
      type: String,
      required: true
    },
    version: {
      type: String,
      default: null
    },
    withBg: {
      type: Boolean,
      default: true
    },
    initImgSrcs: {
      type: Function,
      default: () => {}
    }
  },
  data() {
    return {
      backgroundSize: '73.1px 67px',
      infoText: null
    }
  },
  computed: {
    infoText2() {
      return this.$g.readStaticTexts({
        locale: this.locale,
        filename: this.keyText,
        version: this.version
      })
    },
    backgroundImage() {
      let bgImage = null
      if (this.withBg) {
        bgImage = this.$vuetify.theme.dark
          ? 'url(' + require('desqchat/assets/logoPatterns/dark.svg') + ')'
          : 'url(' + require('desqchat/assets/logoPatterns/light.svg') + ')'
        // bgImage = this.$vuetify.theme.dark ? `url('desqchat/assets/logoPatterns/dark.svg')` : `url('logoPatterns/light.svg')`
      }
      return bgImage
    },
    font() {
      const font = { name: null, color: null }
      font.color = this.$g.getDestheme('des_fontLiBl', this)
      switch (this.$enums.staticPages[this.keyText]) {
        case this.$enums.staticPages.contact:
          font.name = 'comic'
          break
        case this.$enums.staticPages.gtc:
          font.name = 'cour'
          break
        case this.$enums.staticPages.imprint:
          font.name = 'comic'
          break
        case this.$enums.staticPages.teltesters:
          font.name = 'cour'
          break
        case this.$enums.staticPages.testers:
          font.name = 'cour'
          break
        case this.$enums.staticPages.orderers:
          font.name = 'cour'
          break
        case this.$enums.staticPages.principles:
          font.name = 'comic'
          break
        case this.$enums.staticPages.privacy:
          font.name = 'comic'
      }
      // console.log('font = ', font)
      return font
    }
  },
  watch: {
    locale(val, oldVal) {
      // console.log('Textpage watched locale changed')
      this.initInfoTexts()
    },
    version(val, oldVal) {
      // console.log('Textpage watched version changed')
      this.initInfoTexts()
    }
  },
  mounted() {
    this.initInfoTexts()
  },
  /* updated() {
    console.log('Textpage updated')
    this.initInfoTexts()
    // this.$g.setAttrsToHtmlTextFiles()
  }, */
  methods: {
    initInfoTexts() {
      this.$g.clog('tp this.keyText = ', this.keyText)
      this.$g.clog('tp this.version = ', this.version)
      if (this.keyText === 'gtc' || this.keyText === 'privacy') {
        if (this.version) {
          this.loadActualVersionsInfoText()
            .then((infoText) => {
              this.infoText = infoText
              this.$nextTick(this.$g.setAttrsToHtmlTextFiles)
            })
            .catch((err) => {
              this.$g.clog('tp loadActualVersionsInfoText = ', err)
            })
        } else return ''
      } else if (this.keyText) {
        this.loadInfoText()
      } else return ''
    },
    loadActualVersionsInfoText() {
      // this.$g.clog('tp this.keyText = ', this.keyText)
      // return infoTexts
      return new Promise((resolve, reject) => {
        const relPath = 'versionTexts/' + this.locale + '/' + this.keyText + '/' + this.version + '.txt'
        this.$g
          .readActualVersionsRemoteFile(relPath)
          .then((infoText) => {
            // this.$g.clog('tp infoText = ')
            resolve(infoText)
          })
          .catch((err) => {
            this.$g.clog('tp loadActualVersionsInfoText err: ', err)
            reject(err)
          })
      })
    },
    loadInfoText() {
      this.$g.clog('tp this.version = ', this.version)
      this.infoText = this.$g.readStaticTexts({
        locale: this.locale,
        filename: this.keyText,
        version: this.version
      })
      this.$nextTick(() => {
        try {
          this.$g.setAttrsToHtmlTextFiles()
          this.initImgSrcs()
        } catch (err) {
          this.$g.clog('tp setAttrsToHtmlTextFiles err: ', err)
        }
      })
      // this.$nextTick(this.$g.setAttrsToHtmlTextFiles)
      // this.$g.setAttrsToHtmlTextFiles()
    }
  }
}
</script>

<style>
@font-face {
  font-family: 'cour';
  src: url('desqchat/assets/fonts/cour/cour.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'cour';
  src: url('desqchat/assets/fonts/cour/courbd.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'cour';
  src: url('desqchat/assets/fonts/cour/couri.ttf');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'cour';
  src: url('desqchat/assets/fonts/cour/courbi.ttf');
  font-weight: bold;
  font-style: italic;
}
.cour {
  font-family: cour;
}
@font-face {
  font-family: 'comic';
  src: url('desqchat/assets/fonts/comic/comic.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'comic';
  src: url('desqchat/assets/fonts/comic/comicbd.ttf');
  font-weight: bold;
  font-style: normal;
}
.comic {
  font-family: comic;
}
</style>
