<template>
  <div />
</template>
<script>
export default {
  props: {
    userId: {
      type: Number,
      default: null
    },
    cardId: {
      type: Number,
      default: null
    },
    allFields: {
      type: Number,
      default: 0
    },
    mustFilledFields: {
      type: Number,
      default: 0
    },
    actualFilledFields: {
      type: Number,
      default: 0
    },
    actualMustFilledFields: {
      type: Number,
      default: 0
    }
  },
  watch: {
    '$g.store.getters.card': {
      handler(val, oldVal) {
        // console.log('ind updateStands')
        this.updateStands(val)
      },
      deep: true
    }
  },
  created() {
    this.getCardAndUpdateStands()
  },
  methods: {
    getCardAndUpdateStands() {
      // const userId = this.useId, const cardId = this.cardId
      const card = this.$g.store.getters.card
      const user = this.$g.store.getters.user
      if (!card || !user) {
        return
      }
      if (!this.userId || !this.cardId) {
        this.$g.clog('indq this.userId, cardId = ', this.userId + ', ' + this.cardId)
        this.updateStands(card)
        return
      }
      if (
        this.$g.userIsTester(card, user) &&
        card &&
        card.id &&
        card.id === this.cardId &&
        user &&
        user.id &&
        user.id === this.userId
      ) {
        this.$g.clog('indq this.userId2, cardId2 = ', this.userId + ', ' + this.cardId)
        this.updateStands(card)
        return
      }

      try {
        // const requestObj = { cardId: this.cardId }
        let requestObj = { userId: this.userId }
        this.$g.getDataById(requestObj).then((data) => {
          // this.$g.clog('iq card = ', data[0])
          const user = this.$g.adjustUser(data[0])
          requestObj = { cardId: this.cardId }
          this.$g.getDataById(requestObj).then((data) => {
            const card = this.$g.adjustCard(data[0])
            this.$g.clog('indq card = ', card)
            if (this.$g.userIsOrderer(card, user)) {
              // mashin orderer-ia da vnaxot serverze ra aris
              this.$g.getQuestionnaireValuesByCardId(requestObj).then((questionnaireValues) => {
                this.$g.clog('indq questionnaireValues = ', questionnaireValues)
                this.updateStands(card, questionnaireValues)
              })
            } else {
              this.updateStands(data[0])
            }
          })
          // this.updateStands(data[0])
        })
      } catch (error) {
        this.$g.clog('indq updateStands2 error = ', error)
      }
    },
    updateStands(card, questionnaireValues) {
      // this.initOppositeLocale(card)
      // eseni gadaecema murmans
      const qIndicatorDefaultData = this.$g.getQIndicatorDefaultData()
      let allFields = 0
      let mustFilledFields = 0
      let actualFilledFields = 0
      let actualMustFilledFields = 0

      if (card && card.level) {
        allFields = qIndicatorDefaultData[card.level].mustFilledFields
        mustFilledFields = qIndicatorDefaultData[card.level].mustFilledFields
      }
      this.$g.clog('indq card = ', card)
      if (card && card.indicator) {
        actualMustFilledFields = card.indicator.questionnaireStands.actualMustFilledFields
        actualFilledFields = card.indicator.questionnaireStands.actualFilledFields
        mustFilledFields = card.indicator.questionnaireStands.mustFilledFields
        allFields = card.indicator.questionnaireStands.allFields
      }
      if (card && questionnaireValues) {
        const stands = this.$g.getQuestionnaireValidateStands(questionnaireValues)
        actualMustFilledFields = stands.actualMustFilledFields
        actualFilledFields = stands.actualFilledFields
        mustFilledFields = stands.mustFilledFields
        allFields = stands.allFields
      }
      // eseni gadaecema murmans
      this.$emit('update:allFields', allFields)
      this.$emit('update:mustFilledFields', mustFilledFields)
      this.$emit('update:actualFilledFields', actualFilledFields)
      this.$emit('update:actualMustFilledFields', actualMustFilledFields)
      /* this.$g.clog('iq updateStands = ', {
        allFields,
        mustFilledFields,
        actualFilledFields,
        actualMustFilledFields
      }) */
    }
  }
}
</script>
<style scoped></style>
