<template>
  <div class="top-div">
    <!-- <IndicatorQuestionnaire class="mr-2" /> -->
    <v-progress-circular
      v-if="$g.userIsTester()"
      :rotate="-90"
      :size="40"
      :width="4"
      :value="progressData().value"
      :style="{ backgroundColor: progressData().color }"
      :color="getColor"
      class="circular"
    >
      <span class="white--text">{{ progressData().text }}</span>
    </v-progress-circular>
  </div>
</template>

<script>
// import IndicatorQuestionnaire from './IndicatorQuestionnaire'
export default {
  /* components: {
    IndicatorQuestionnaire
  }, */
  computed: {
    getColor() {
      const dark = this.$vuetify.theme.dark
      // this.$g.clog('ind dark = ', dark)
      return dark ? 'white' : 'black'
    }
  },
  methods: {
    progressData() {
      const card = this.$g.store.getters.card
      if (!card || !card.indicator) {
        return {}
      }
      this.$g.clog('ind card ', card)
      if (!card.indicator.chat && !card.indicator.questionnaire) {
        return {}
      }
      const remains = this.$g.getMediaMaxSize(card) - this.$g.allMediaSizes()
      const ratio = (this.$g.allMediaSizes() / this.$g.getMediaMaxSize(card)) * 100
      let color
      if (ratio < 50) {
        color = 'green'
      } else if (ratio > 50 && ratio < 75) {
        color = 'orange'
      } else color = 'red'

      const data = {
        text: Math.round(remains / 1000000),
        value: Math.round(ratio),
        color
      }
      this.$g.clog('ind progressData = ', data)
      return data
    }
  }
}
</script>
<style scoped>
.top-div {
  display: inline-flex;
  align-items: center;
}
.circular {
  /* color: white !important; */
  /* background-color: green; */
  border-radius: 20px;
  /* opacity: 0.5; */
  /* position: fixed;
  top: 50;
  right: 50; */
}
</style>
