<template>
  <des-tooltip :text="$g.t('qchat.questionnaire.tooltips.indicator_questionnaire.stands')">
    <v-chip
      class="px-2"
      :color="getColor"
      label
      text-color="white"
      @click="multiClick(doubleClick, tripleClick, tetraClick)"
    >
      <span class="white--text body-2">{{ questionnaireStands.actualStand }}</span>
      <span class="white--text body-2">/</span>
      <span class="white--text body-2">{{ questionnaireStands.mustFilledFields }}</span>
      <span class="white--text body-2">/</span>
      <span class="white--text body-2">{{ questionnaireStands.allFields }}</span>
    </v-chip>
  </des-tooltip>
</template>

<script>
import { multiClick } from '../helpers/help'
export default {
  data() {
    return {
      /* actualStand: 0,
      mustFilledFields: 20,
      allFields: 70 */
    }
  },
  computed: {
    getColor() {
      const card = this.$g.store.getters.card
      if (!card || !card.indicator) {
        return 'red'
      }
      const questionnaireStands = card.indicator.questionnaireStands
      if (!questionnaireStands) {
        return 'red'
      }
      const actualStand = questionnaireStands.actualStand
      const mustFilledFields = questionnaireStands.mustFilledFields
      // const allFields = questionnaireStands.allFields
      let color
      if (actualStand < mustFilledFields) {
        color = 'red'
      } else color = 'green'
      return color
    },
    questionnaireStands() {
      const card = this.$g.store.getters.card
      this.$g.clog('iq this.$g.store.getters.card = ', card)
      if (!card || !card.indicator) {
        return {
          actualStand: 0,
          mustFilledFields: 0,
          allFields: 0
        }
      }
      return card.indicator.questionnaireStands
    }
  },
  methods: {
    // eseni saidumlo knopkebia ragaceebis gasascoreblad
    multiClick,
    doubleClick() {
      console.log('61 doubleClick')
    },
    tripleClick() {
      this.$g.deleteDB(true)
      console.log('69 tripleClick idb is cleared')
    },
    tetraClick() {
      this.$g.clearLocalStorage()
      console.log('65 tripleClick localStorage is cleared')
    }
  }
}
</script>
<style scoped>
.circular {
  /* color: white !important; */
  /* background-color: green; */
  border-radius: 20px;
  /* opacity: 0.5; */
  /* position: fixed;
  top: 50;
  right: 50; */
}
</style>
