<template>
  <div />
</template>
<script>
// import IndicatorQuestionnaire from './IndicatorQuestionnaire'
export default {
  props: {
    mediaMaxSize: {
      type: Number,
      default: 0
    },
    mediaActualSize: {
      type: Number,
      default: 0
    }
  },
  watch: {
    '$g.store.getters.card': {
      handler(val, oldVal) {
        // console.log('ind updateSizes')
        this.updateSizes(val)
      },
      deep: true
    }
  },
  created() {
    this.updateSizes(this.$g.store.getters.card)
  },
  methods: {
    updateSizes(card) {
      let mediaMaxSize = 0
      let mediaActualSize = 0
      this.$g.clog('ind card = ', card)
      if (card && card.indicator) {
        mediaMaxSize = this.$g.getMediaMaxSize(card)
        mediaActualSize = this.$g.allMediaSizes()
      }
      // eseni gadaecema murmans
      this.$emit('update:mediaMaxSize', mediaMaxSize)
      this.$emit('update:mediaActualSize', mediaActualSize)
    }
  }
}
</script>
<style scoped></style>
